include ../../../../includes/mixins.pug
doctype html
html(lang='ru')
    block variables
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        title= title
        link(href=`css/index.pc.min.css`, rel='stylesheet')
    body
        // Global baseUrl and webpackManifest variables (for back-end purpose)
        script.
            window.baseUrl = location.origin;
            window.webpackManifest = {};
        main(data-pc-page= dataPageName)
            .left-bar
                block leftBar
                    .pc-menu(ontouchstart)
                        .pc-menu__block
                            block myOrdersLink
                                a.pc-menu__title(href="/meloman/personal_cabinet/my-orders.html")
                                    span Мои заказы
                                    +svg('icon-arrow')
                            .pc-menu__title
                                span Персональная информация
                            block personalData
                                a.pc-menu__link(href="/meloman/personal_cabinet/change-personal-data.html")
                                    span Изменить персональные данные
                                    +svg('icon-arrow')
                            block deliveryData
                                a.pc-menu__link(href="/meloman/personal_cabinet/change-delivery.html")
                                    span Изменить адрес доставки
                                    +svg('icon-arrow')
                            block changeEmail
                                a.pc-menu__link(href="/meloman/personal_cabinet/change-email.html")
                                    span Изменить e-mail
                                    +svg('icon-arrow')
                            block changePhone
                                a.pc-menu__link(href="/meloman/personal_cabinet/change-phone.html")
                                    span Изменить номер телефона
                                    +svg('icon-arrow')
                            block changeMailing
                                a.pc-menu__link(href="/meloman/personal_cabinet/change-mailing-list.html")
                                    span Управление рассылками
                                    +svg('icon-arrow')
                            block changePassword
                                a.pc-menu__link(href="/meloman/personal_cabinet/change-password.html")
                                    span Изменить пароль
                                    +svg('icon-arrow')
                        .pc-menu__block
                            .pc-menu__title
                                span Бонусный клуб
                            .pc-menu__bonus-club-info
                                .info-row
                                    span.title Карта
                                    span.value ****3762
                                .info-row
                                    span.title Баланс:
                                    span.value 25 555
                                .info-row
                                    span.title Скидка:
                                    span.value <a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%
                            block bindCard
                                a.pc-menu__link(href="/meloman/personal_cabinet/bind-card.html")
                                    span Привязать карту
                                    +svg('icon-arrow')
                            block cardOps
                                a.pc-menu__link(href="/meloman/personal_cabinet/bonus-card-operations.html")
                                    span Операции по бонусной карте
                                    +svg('icon-arrow')
                            block activatePromo
                                a.pc-menu__link(href="/meloman/personal_cabinet/activate-promo-code.html")
                                    span Активировать промо-код
                                    +svg('icon-arrow')
                            block saveBonuses
                                a.pc-menu__link(href="/meloman/personal_cabinet/save-bonuses.html")
                                    span Как копить бонусы
                                    +svg('icon-arrow')
                            block spendBonuses
                                a.pc-menu__link(href="/meloman/personal_cabinet/spend-bonuses.html")
                                    span Как тратить бонусы
                                    +svg('icon-arrow')
                            block contactOperator
                                a.pc-menu__link(href="/meloman/personal_cabinet/contact-operator.html")
                                    span Связаться с оператором
                                    +svg('icon-arrow')
                            block shopAddress
                                a.pc-menu__link(href="/meloman/personal_cabinet/shops.html")
                                    span Адреса магазинов
                                    +svg('icon-arrow')
                            block favourite
                                a.pc-menu__link(href="/meloman/personal_cabinet/favourite.html")
                                    span Избранное
                                    +svg('icon-arrow')
            .right-bar
                block backButton
                    a.back-button.showSmall(href="/meloman/personal_cabinet")
                        +svg('icon-arrow')
                        span Личный кабинет
                block rightBar
        script(src=`js/index.pc.bundle.js`)