main {
  &[data-page="calendar"] {
    .left-bar {
      @media (min-width: 768px) and (max-width: 1279px) {
        width: 200px
        height: auto
      }
      @media (max-width: 767px) {
        width: 100%
        height: auto

        float: left
      }
    }
    .right-bar {
      padding-top: 30px

      @media (min-width: 768px) and (max-width: 1279px) {
        float: none
        margin-left: 200px
        width: auto
      }

      @media (max-width: 767px) {
        padding-top: 20px
      }
    }

    .right-bar {
      padding-top: 20px
    }

    .img-container {
      text-align: center
      margin-top: 20px
      margin-bottom: 20px
      display: inline-block
      width: 100%

      img {
        max-width: 100%
      }

      @media (max-width: 1279px) {
        margin-top: 0
        margin-bottom: 0
      }
    }

    @media (max-width: 767px) {
      .page-title {
        text-align: center
      }
    }

    .calendar-events {
      width: 100%

      color: main-black

      &.desktop {
        padding: 0 20px

        margin-top: 20px

        font-size: 12px

        .calendar-event {
          &:not(:first-child) {
            margin-top: 15px
          }
        }

        .calendar-events-title {
          font-family: proxima-sem
          font-weight: 700
        }
        .calendar-events-text {
          font-family: proxima-reg
          line-height: 23px
          color: main-black

          &:hover {
            text-decoration: underline
          }
        }
      }
      &.mobile {
        padding: 0 15px
        float: left
        margin: 10px 0 9px

        .calendar-event {
          width: 230px

          text-align: center

          display: inline-block

          &:after {
            content: ''
            position: absolute

            display: block
            width: 1px
            height: 40px
            opacity: 0.3
            background-color: #b0b0b0
            border-radius: 10px

            right: -5px
            top: 15px
          }
        }

        .calendar-events-title {
          font-family: proxima-sem
          font-weight: 600
          font-size: 14px
        }
        .calendar-events-text {
          margin-top: 10px

          font-size: 12px
          line-height: 18px
        }

        .owl-dots {
          margin-top: 15px

          .owl-dot span {
            setWH(12px)

            border: 1.2px solid #b0b0b0
            background-color: white
          }

          .owl-dot.active span {
            background-color: #b0b0b0
          }
        }
      }
    }
  }
}