main {
  &[data-page='cart'] {
    text-align: center

    .cart-container {
      float: none
      display: inline-block
      width: 1280px

      @media (max-width: 1279px) {
        width: 100%
      }

      text-align: left

      margin-top: 15px
      padding: 0
    }

    .default-item {
      width: 100% !important

      max-width: 240px !important
    }

    .items-container.owl-carousel {
      @media (min-width: 1920px) {
        display: flex
        justify-content: space-between
      }
    }

    h1 {
      float: left
      width: 100%

      margin: 0
      padding: 0 20px

      text(proxima-reg, 28px, main-black, initial)
    }

    .cart-links {
      float: left

      width: 100%

      margin-top: 20px
      padding: 0 20px

      a {
        display: inline-block

        height: 35px

        text(proxima-sem, 16px, main-black, initial)

        border-bottom: 3px solid transparent

        transition: border-color .2s ease

        &:not(:first-of-type) {
          margin-left: 25px
        }

        &:hover,
        &.active {
          border-color: main-blue
        }

        @media (max-width: 599px) {
          font-size: 14px
        }
      }
    }

    .cart-additional {
      float: left
      width: calc(100% - 320px)

      margin-top: 25px
      padding-right: 20px

      @media (max-width: 767px) {
        width: 100%

        padding-left: 20px
      }
    }

    .cart-additional-block {
      float: left

      @media (min-width: 1024px) {
        width: 295px

        &:not(:first-child) {
          margin-left: 30px
        }
      }

      @media (max-width: 1023px) {
        width: 100%
      }

      label {
        margin: 0

        &.validated {
          .inner {
            display: none!important
          }
          .inner-validated {
            display: inline-block!important
          }
        }
      }

      span {
        text(proxima-reg, 14px, main-black, 16px)

        &.placeholder {
          opacity: 0
          visibility: hidden
        }
      }

      .inner {
        display: inline-block
        width: 100%

        margin-top: 10px
      }

      .inner-validated {
        display: none

        width: 100%
        height: 33px

        margin-top: 10px
        margin-bottom: 6px

        .message {
          display: inline-block

          height: 100%

          padding: 0 10px

          background-color: #f1f1f1

          border-radius: 3px

          text-align: center

          span {
            display: inline

            text(proxima-reg, 18px, main-blue, 33px)

            &.value {
              font-weight: bold
            }
          }
        }

        .change-value-button {
          display: inline-block
          vertical-align: middle

          margin-left: 20px

          text(proxima-reg, 14px, main-black, initial)
          border-bottom: 1px dashed main-black

          cursor: pointer

          &:hover,
          &:active {
            color: main-blue
            border-color: main-blue
          }
        }
      }

      .form-input.cart-promo {

        .inner-validated .message {
          display: none

          svg {
            setWH(14px)

            margin-right: 5px

            display: inline-block
            vertical-align: middle

            fill: white
          }

          &.message-error {
            background-color: #f15a2c
          }

          &.message-confirm {
            background-color: #3ec823
          }

          span {
            text(proxima-reg, 12px, white, 33px)
          }
        }

        &.validated-error {
          .inner-validated .message.message-error {
            display: inline-block
          }
        }

        &.validated-confirm {
          .inner-validated .message.message-confirm {
            display: inline-block
          }
        }
      }

      input {
        float: left

        width: 60%

        margin: 0
      }

      .validate-form-button {
        float: right

        width: 35%

        margin: 0

        font-size: 14px
        text-transform: none
      }

      .footer-text {
        display: inline-block

        width: 100%

        margin-top: 10px

        text(proxima-reg, 12px, main-black, 16px)
      }

      .highlight {
        color: main-blue
      }
    }
      
    .cart-presents {
      float: left
      width: 100%

      margin-top: 60px

      padding: 0 20px

      @media (max-width: 599px) {
        margin-top: 40px
      }

      .section-title {
        display: inline-block

        width: 100%

        text(proxima-reg, 20px, main-black, initial)

        @media (max-width: 599px) {
          font-size: 16px

          text-align: center

          svg {
            width: 8px
            height: 11px
            transform: rotate(90deg)
            margin-left: 8px
            vertical-align: middle

            transition: transform .3s ease
          }
        }

        &.trigger {
          font-weight: bold
        }
      }

      .presents-container {

        @media (min-width: 600px) {
          display: flex
        }

        justify-content: space-around

        width: 100%

        margin-top: 30px

        @media (max-width: 599px) {
          display: none

          flex-wrap: wrap

          margin-top: 10px
        }
      }

      &.active {
        @media (max-width: 599px) {
          .presents-container {
            display: flex
          }
          .section-title {
            svg {
              transform: rotate(-90deg)
            }
          }
        }
      }

      .present-item {
        display: inline-block

        width: 200px

        text(proxima-reg, 14px, main-black, 17px)

        text-align: center

        @media (max-width: 599px) {
          width: 135px

          margin-bottom: 10px
        }

        .image {
          display: inline-block

          margin-top: 5px
          margin-bottom: 10px

          setWH(100px)

          background-color: #d8d8d8

          @media (max-width: 599px) {
            margin-bottom: 2px
          }
        }

        .description {
          @media (max-width: 1023px) {
            font-size: 10px
          }
        }
      }
    }
    .cart-express {
      float: left
      width: 100%

      padding: 0 20px

      margin-top: 40px

      @media (max-width: 599px) {
        margin-top: 20px
      }

      .section-title {
        display: inline-block

        width: 100%

        text(proxima-reg, 20px, main-black, initial)

        @media (max-width: 599px) {
          font-size: 16px
        }
      }
      .checkbox {
        width: 100%

        input {
          margin-right: 25px
        }
        .checkbox-control {
          top: 3px
          @media (max-width: 599px) {
            top: 2px
          }
        }
        span {
          font-size: 14px
        }
      }
      .text {
        padding-left: 35px

        font-size: 14px
        line-height: 17px

        @media (max-width: 599px) {
          padding: 0

          font-size: 12px
        }
      }
    }
    section#interested {
      text-align: left

      .section-title {
        @media (max-width: 599px) {
          font-size: 16px
        }
      }
    }
    &[data-cart='delayed'] {
      .cart-restore {
        svg {
          setWH(21px, 18px)

          margin-right: 7px
          margin-top: -2px
        }
      }
      .cart-price-column {
        float: right
      }
    }
  }
}