main {
 &[data-page='catalog'] {
   overflow: hidden
   
    .default-item {
      width: 100% !important

      max-width: 240px !important
    }

    .category-menu {
      .category {
        .category-name {
          margin-left: 15px
        }
      }

      .category-separator {
        padding-left: 19px

        &:not(:first-child) {
          margin-top: 10px
        }
      }
    }

    @media (max-width: 599px) {
      section {
        padding-left: 15px
        padding-right: 15px

        &:first-of-type {
          margin-top: 25px !important
        }
      }
    }

    .right-bar {
      padding-top: 20px
    }

    .catalog-categories-container {
      padding-left: 20px

      @media (max-width: 599px) {
        padding-left: 15px
      }
    }

    .dropdown-box {
      margin-right: 25px

      .dropdown-box-options {
        padding-bottom: 0
      }

      @media (device-width: 768px) {
        margin-right: 28px
      }

      @media (max-width: 599px) {
        margin: 10px 0 0 0
      }
    }

    .catalog-categories-container {
      float: left

      width: 100%

      margin-top: 15px
      @media (min-width: 1366px) {
        padding-right: 20px
      }

      text-align: left

      @media (max-width: 599px) {
        display: none !important
      }

      .catalog-category {
        display: inline-block

        width: 100px
        height: 140px

        margin-bottom: 10px

        border-radius: 5px

        background-color: white

        border: 1px solid #f0f0f0

        transition: transform .2s linear, box-shadow .2s linear
        will-change: transform, box-shadow

        cursor: pointer

        &:not(:last-child) {
          margin-right: 10px

          @media (device-width: 768px) {
            margin-right: 24px
          }

          @media (device-width: 736px) {
            margin-right: 18px
          }

          @media (device-width: 667px) {
            margin-right: 29px
          }
        }

        &:hover {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16)

          transform: translateY(-5px)

          .category-title {
            span {
              color: main-blue
            }
          }
        }

        .category-image {
          float: left

          height: 100px
          width: 100%

          overflow: hidden

          img {
            height: 100%
            width: 100%
          }
        }

        .category-title {
          float: left

          height: 40px
          width: 100%

          padding: 0 10px

          text-align: center

          span {
            text(proxima-reg, 11px, #727272, initial)

            display: inline-block
            vertical-align: middle

            transition: color .2s linear
          }
        }
      }
    }
  }
}