main {

  &[data-page='filter'] {
    .left-bar {

    }
    .right-bar {
      padding-top: 20px
    }

    .category-menu {
      .category {
        .category-name {
          margin-left: 15px
        }
      }

      .category-separator {
        padding-left: 19px

        &:not(:first-child) {
          margin-top: 10px
        }
      }
    }

    .filter-sort-bar {
      float: left

      width: 100%

      margin-top: 25px

      padding-left: 20px
      padding-right: 20px

      @media (max-width: 599px) {
        width: 100%

        margin-top: 20px

        padding-left: 15px
        padding-right: 15px
      }

      .sort-by-container {
        float: left

        &.type,
        &.category {
          margin-right: 20px

          @media (max-width: 599px) {
            width: 100%

            margin: 0
          }
        }

        &.category {
          margin-right: 20px

          @media (max-width: 599px) {
            width: 100%

            margin: 0
          }
        }

        &.quantity {
          @media (max-width: 650px) {
            display: none!important
          }
        }
      }

      label.checkbox {

        &.not-available {
          margin-top: 9px
        }

        span {
          padding-left: 12px

          line-height: 29px

          @media (min-width: 1280px) {
            line-height: initial
          }
        }

        .checkbox-control {
          @media (min-width: 1280px) {
            top: 6px
          }
        }
      }
    }

    .filter-filtered-bar {
      float: left

      width: 100%

      margin-top: 15px

      padding-left: 20px
      padding-right: 20px

      @media (max-width: 599px) {
        width: 100%

        margin-top: 20px

        padding-left: 15px
        padding-right: 15px
      }

      .filtered-container {
        float: left

        setWH(auto, 40px)

        padding: 0 10px

        margin-top: 10px
        margin-right: 10px

        background-color: #f1f1f1
        border-radius: 3px

        cursor: default
      }

      .filtered-filter {
        display: inline-block

        height: 100%

        padding: 0 5px

        text(proxima-reg, 14px, main-black, 40px)
      }

      .filters-clear-button {
        float: left

        height: 40px

        margin-top: 10px

        padding: 0 18px

        text(proxima-reg, 14px, main-orange, 37px)
        text-align: center

        border: 2px solid #f1f1f1
        border-radius: 3px

        cursor: pointer

        @media (max-width: 650px) {
          width: 100%
        }
      }
}

    .items-container {
      float: left

      display: flex
      flex-wrap: wrap
      justify-content: space-between

      @media (max-width: 801px) {
        justify-content: space-around
      }

      margin-top: 50px

      padding-left: 20px
      padding-right: 20px

      @media (max-width: 599px) {
        padding-left: 15px
        padding-right: 15px
      }
    }

    .dropdown-box {
      height: 40px

      &.type,
      &.quantity,
      &.category {
        margin-left: 10px
      }

      &.type {
        width: 200px

        @media (max-width: 799px) {
          width: 110px
        }

        @media (max-width: 599px) {
          width: 100%

          margin: 10px 0 0 0
        }
      }

      &.category {
        @media (max-width: 599px) {
          width: 100%

          margin: 10px 0 10px 0
        }
      }

      &.quantity {
        width: 65px
      }

      .dropdown-box-title {
        span {
          line-height: 40px
        }

        svg {
          margin-top: 12px
        }
      }

      .dropdown-box-options {
        background-color: white

        top: 39px

        .filter-block-items-container {
          width: 100%

          max-height: 150px
        }
      }

      .dropdown-box-option {

        > span {
          height: 100%

          max-width: 100%
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
        }

        @media (min-width: 1280px) {
          &:hover {
            span {
              text-decoration: underline
            }
          }
        }
      }

      &.active {
        background-color: white
      }
    }

    .filters.mobile {
      position: relative

      padding: 0 20px

      width: 100%

      margin-bottom: 0

      @media (max-width: 599px) {
        padding: 0 15px
      }

      .filter-block {
        display: inline-block

        padding: 0
      }

      .filter-button {
        height: 40px

        line-height: 40px

        @media (min-width: 600px) {
          margin: 0
        }

        @media (max-width: 599px) {
          margin-top: 10px
        }
      }

      .input-container {
        margin: 0

        @media (min-width: 600px) {
          .filter-block-title {
            display: none

            svg {
              display: none !important
            }
          }
          .filter-block-items-container {
            margin: 0

            input[name=price] {
              @media (min-width: 600px) {
                position: absolute!important;
                display: block!important;
                top: 0!important;
                left: 0!important;
                width: 0!important;
                height: 0!important;
                font-size: 0!important;
                line-height: 0!important;
                padding: 0!important;
                margin: 0!important;
                overflow: hidden;
                outline: none!important;
                z-index: -9999!important;
                background: none!important;
                border-style: solid!important;
                border-color: transparent!important;
              }
            }
          }

          .input-container {
            display: flex
            justify-content: space-around
            align-items: center

            input {
              height: 40px

              width: 60px

              margin: 0
            }
          }
        }

        @media (max-width: 599px) {
          .filter-block-title {
            position: relative

            height: 40px
            line-height: 40px

            font-size: 12px

            svg {
              setWH(12px, 14px)

              position: absolute

              right: 4px
              top: 12px

              transition: transform .3s ease
            }
          }
          .filter-block-items-container {
            display: none
          }
          &.active {
            .filter-block-title {
              svg {
                transform: rotate(180deg)
              }
            }
            .filter-block-items-container {
              display: block

              margin-bottom: 20px
            }
          }
        }
      }

      .dropdown-box {
        @media (max-width: 599px) {
          padding: 0

          .dropdown-box-title {
            svg {
              margin-right: 4px
            }
          }

          .dropdown-box-options {
            padding-top: 0
            margin-top: -10px
          }
        }
      }

      .irs {
        @media (min-width: 600px) {
          opacity: 0
          visibility: hidden
          height: 0
          margin-left: -9999px
        }
        @media (max-width: 599px) {
          opacity: 1
          visibility: visible
          height: irs-height
        }
      }

      &.active {
        .filters-trigger > svg {
          transform: rotate(180deg)
        }

        .filters-trigger {
          @media (max-width: 599px) {
            svg {
              fill: main-blue
            }
          }
        }

        .filters-container {
          height: auto

          padding-top: 20px

          overflow: visible
        }
      }

      .dropdown-box {
        display: inline-block
      }

      .filter-block-items-container {
        max-height: 150px
      }
    }
  }
}