body {

  main {
    padding-bottom: 60px

    @media (max-width: 599px) {
      padding-bottom: 20px
    }

    > .left-bar {
        width: 320px

        .left-bar-banner {
          width: 100%
          height: auto

          margin-top: 20px

          text-align: center
          line-height: 0

          img {
            display: inline-block

            max-width: 100%
          }
        }

        .left-bar-instagram {
          width: 100%

          margin-top: 50px
        }

        @media screen and (max-width: 1279px) {
          position: relative

          width: 0
          height: 0
          .left-bar-banner,
          .left-bar-instagram {
            display: none
          }
        }
    }
    > .right-bar {
      margin-left: 340px

      @media (max-width: 1279px) {
        margin-left: 0
        margin-right: 0

        float: left

        width: 100%
      }
    }

    section {
      float: left
      width: 100%

      padding-left: 20px
      padding-right: 20px

      .items-container {

        .default-item {
          width: 16%

          @media (min-width: 2300px) {
            margin-right: 1.2vw
            margin-left: 1.2vw
          }

          @media (max-width: 1669px) {
            width: 23%

            padding-top: 20px
          }

          @media (max-width: 1280px) {
            display: inline-block
            float: none

            width: 230px
          }
        }

        @media(min-width: 1921px) {
          display: flex
          justify-content: space-between

          .default-item {
            max-width: 250px
          }
        }
      }

      .section-title {
        display: inline-block

        width: auto

        margin-bottom: 15px

        text(proxima-reg, 20px, main-black, 16px)

        transition: color .2s ease

        &:hover {
          color: main-blue
        }
      }

       margin-top: 50px

      &#main-banners {
        margin-top: 0

        padding-top: 30px

        .owl-item {
          text-align: center
        }

        .owl-dots {
          position: absolute
          width: 100%
          bottom: 10px

          .owl-dot {
            &.active {
              span {
                border: 1px solid white
              }
            }
          }
        }

        a {
          display: inline-block
          width: 100%

          min-height: 175px

          img {
            width: 100%

            height: auto

            border-radius: 4px
          }
        }
      }

      &#super-price {

        .items-container {
          display: flex
          flex-wrap: wrap
          justify-content: space-around
        }
      }

      &#sales {

        .sales-item-container {

        }

        .sales-item {
          display: inline-block
          vertical-align: top

          width: 24%

          min-height: 423px

          padding-bottom: 20px

          background-color: white
          border: 1px solid #f0f0f0
          border-radius: 5px

          text-align: left

          max-width: 550px

          &:hover {
            @media (min-width: 1025px) {
              .title {
                color: main-blue
              }
            }
          }

          @media (max-width: 1669px) {
            width: 100%
          }

          &:not(:last-child) {
            margin-right: 1%
          }

          .image {

            text-align: center

            img {
              display: inline-block

              width: 100%
            }
          }

          .title,
          .subtitle,
          .footer-text {
            padding: 0 10px
          }

          .title {
            margin-top: 5px

            min-height: 48px

            text(proxima-reg, 20px, main-black, 24px)

            transition: color .2s ease
          }

          .subtitle {
            margin-top: 7px

            min-height: 72px

            text(proxima-reg, 12px, main-black, 18px)
          }

          .footer-text {
            display: inline-block

            width: 100%

            margin-top: 15px

            span:first-of-type {
              margin-right: 6px
            }

            text(proxima-reg, 12px, rgba(0,0,0,.5), 16px)

            .highlight {
              color: main-blue
            }
          }
        }
      }

      &#new {

        .new-item {
          display: inline-block

          vertical-align: top

          width: 32%
          height: 165px

          background-color: white
          border: 1px solid #f0f0f0
          border-radius: 5px

          text-align: left

          &:hover {
            @media (min-width: 1025px) {
              .title {
                color: main-blue
              }
            }
          }

          &:not(:last-child) {
            margin-right: 1%
          }

          @media (max-width: 1919px) {
            width: 100%

            max-width: 550px
          }

          @media (max-width: 599px) {
            height: auto

            padding-bottom: 16px
          }

          .image {
            float: left
            width: 150px
            height: 100%
            text-align: center

            .helper {
              height: 100%
            }

            img {
              display: inline-block
              width: 120px
            }

            @media (max-width: 599px) {
              margin-top: 16px

              width: 135px
            }
          }

          .title {
            margin-top: 16px
            padding-right: 10px

            text(proxima-reg, 20px, main-black, 24px)

            transition: color .2s ease

            @media (max-width: 1400px) {
              font-size: 19px
            }

            @media (max-width: 599px) {
              padding-left: 15px

              max-height: 120px

              overflow: hidden
            }
          }

          .subtitle {
            margin-top: 5px
            padding-right: 10px

            text(proxima-reg, 12px, main-black, 18px)

            @media (max-width: 1400px) {
              font-size: 11px
            }

            @media (max-width: 599px) {
              padding-left: 15px
              clear: both
              float: left
              margin-top: 15px
            }

            span {
              opacity: 0.5

              margin-left: 6px
            }
          }
        }
      }

      &#best-of-the-day {
        .default-item {
          width: 100% !important

          max-width: 240px !important
        }
      }

      &#video {

        .video-item {
          display: inline-block
          position: relative

          width: 100%

          padding-bottom: 15px

          background-color: white
          border: 1px solid #f0f0f0
          border-radius: 5px

          text-align: left

          @media (min-width: 1670px) {
            width: 32%
          }

          &:hover {
            @media (min-width: 1025px) {
              .title {
                color: main-blue
              }
            }
          }

          &:not(:last-child) {
            margin-right: 1%
          }

          @media (max-width: 1675px) {
            width: 100%

            max-width: 550px
          }

          .video-container {
            width: 100%

            height: 310px

            @media (max-width: 599px) {
              height: 200px
            }

            @media (min-width: 1024px) {
              display: block !important
            }
          }

          .title {
            padding-left: 10px
            padding-right: 10px
            margin-top: 15px

            min-height: 48px

            text(proxima-reg, 20px, main-black, 24px)

            transition: color .2s ease

            @media (max0width: 599px) {
              font-size: 17px
            }
          }

          .subtitle {
            padding-left: 10px

            margin-top: 15px

            text(proxima-reg, 12px, main-black, 16px)
          }
        }
      }

      &#calendar {
        width: 100%
        height: auto

        img {
          width: 100%
          height: auto
        }

        @media (max-width: 1024px) {
          margin: 50px 0 0 0
        }
      }

      &#info {

        .info-container {
          width: 100%

          background-color: white
          border: 1px solid #f0f0f0
          border-radius: 2px

          padding: 25px 25px 50px 25px

          .title {
            text(proxima-reg, 16px, main-black, 16px)
          }

          .text {
            margin-top: 23px

            text(proxima-reg, 14px, main-black, 24px)
          }

          @media (min-width: 1024px) {
            .text .helper {
              display: none
            }
          }

          @media (max-width: 1023px) {

            .title {
              font-size: 15px
            }

            .text {
              span {
                > span {
                  display: none
                }

                &.helper{
                  display: inline
                  opacity: 0.7
                }
              }
            }

            &.active {
              .text {
                span {
                  > span {
                    display: inline
                  }

                  &.helper {
                    opacity: 0
                  }
                }
              }
            }
          }
        }
      }

      // owl carousel stiles override ( dots )
      &#sales,
      &#new,
      &#video {
        .owl-dots {
          position: absolute

          top: -32px
          right: 0

          margin-top: 0

          .owl-dot {
            span {
              margin: 0 0 0 5px

              border: 1px solid #b0b0b0
              background-color: white
            }

            &.active {
              span {
                background-color: #b0b0b0
              }
            }
          }
        }
      }
    }

    &[data-page=main] {
      section {
        &#sales,
        &#new,
        &#best-of-the-day,
        &#video {
          .owl-carousel {
            @media (min-width: 1600px) {
              display: flex
              justify-content: space-between
            }
          }
        }
      }
    }
  }
}