main {
  &[data-page="news"] {
    .left-bar {
      @media (min-width: 768px) and (max-width: 1279px) {
        width: 200px
        height: auto
      }
      @media (max-width: 767px) {
        width: 100%
        height: auto

        float: left
      }
    }
    .right-bar {
      padding-top: 30px

      @media (min-width: 768px) and (max-width: 1279px) {
        float: none
        margin-left: 200px
        width: auto
      }

      @media (max-width: 767px) {
        padding-top: 20px
      }
    }

    .menu:not(#main-menu) {
      max-width: 100%

      @media (max-width: 767px) {
        float: left
        width: 100%

        .category {
          display: none
        }

        .categories-container {
          padding: 0
        }

        .category-separator {
          text-align: center

          span {
            text(proxima-reg, 14px, main-blue, 16px)

            &.closed {
              display: none
            }
          }
          svg {
            setWH(16px, 12px)
            fill: main-blue

            transition: transform .2s ease
          }
        }

        &.active {
          .category {
            display: block

            &:first-child {
              margin-top: 15px
            }
          }
          .category-separator {
            svg {
              transform: rotate(180deg)
            }

            span {
              &.opened {
                display: none
              }
              &.closed {
                display: inline-block
              }
            }
          }
        }
      }
    }

    .category-menu {
      .category {
        .category-name {
          margin-left: 20px

          @media (max-width: 767px) {
            margin-left: 10px
          }
        }
      }
    }
    .right-bar {
      padding-top: 20px
    }

    .img-container {
      text-align: center
      margin-top: 20px
      margin-bottom: 20px
      display: inline-block
      width: 100%

      img {
        max-width: 100%
      }

      @media (max-width: 1279px) {
        margin-top: 0
        margin-bottom: 0
      }
    }

    .back-to-prev {
      float: left
      width: 100%
      padding: 0 15px

      svg {
        setWH(10px, 15px)

        transform: rotate(180deg)
        margin-right: 7px
        margin-bottom: 2px
      }
      span {
        color: main-black

        font-size: 26px
      }
    }
  }
}