main {
  float: left
  min-height: 100%

  /* PERSONAL CABINET COMMON STYLES */
  .left-bar {
    float: left
    width: 320px
    height: 100%

    @media (max-width: 1023px) {
      width: 250px
    }

    @media (max-width: 599px) {
      display: none
    }
  }
  .right-bar {
    float: left
    width: calc(100% - 320px)

    @media (max-width: 1023px) {
      width: calc(100% - 250px)
    }

    padding-right: 20px

    @media (max-width: 1023px) and (min-width: 600px) {
      padding-left: 10px
    }

    @media (max-width: 599px) {
      width: 100%

      margin-top: 20px

      padding: 0 20px 20px 20px
    }
  }

  /* PERSONAL CABINET's FORMS STYLES */
  .form {
    width: 100%
    max-width: 700px

    @media (min-width: 741px) {
      margin-top: 15px
    }

    .form-inputs-separator {
      height: 100%

      width: 270px

      @media (max-width: 860px) {
        width: 48%
      }

      @media (max-width: 740px) {
        width: 100%
      }
    }

    label {
      margin-bottom: 20px

      &.half-label {
        width: 45%
      }

      input,
      textarea,
      .select-box {
        border-radius: 3px
        height: 40px
      }

      .select-box {
        vertical-align: top

        svg {
          top: 11px
        }
      }

      textarea {
        height: 80px
        resize: vertical
      }
    }

    .validate-form-button {
      border-radius: 3px
      margin-top: 10px
      height: 40px
      line-height: 40px

      @media (max-width: 1280px) {
        transition: none !important
      }
    }

    &.change-personal-data-form {
      .user-phone-number {
        border-radius: 3px
        height: 40px
        background-color: #f1f1f1
        margin-top: 5px
        padding-left: 10px
        padding-right: 10px
        outline: none
        padding-top: 13px

        span {
          float: left
          width: auto
          font-size: 12px
          font-weight: bold
        }
        a {
          float: left
          font-size: 12px
          font-weight: bold
          color: main-blue
          text-decoration: underline
          text-decoration-style: dashed
        }
        span + a {
          float: right
        }
      }
    }
    &.change-delivery-form {
      .validate-form-button {
        @media (min-width: 741px) {
          margin-top: 67px
        }
      }
    }
    &.change-mailingList-form {
      margin-top: 0

      .validate-form-button {
        margin-top: 15px

        @media (min-width: 600px) {
          width: 270px
        }
      }
    }
    &.bind-card-form {
      input, .validate-form-button {
        @media (min-width: 600px) {
          width: 270px
        }
      }
    }
    &.activate-promo-form {
      @media (min-width: 600px) {
        width: 270px
      }
    }
  }

  .pc-page-title {
    float: left
    width: 100%

    margin-top: 30px
    margin-bottom: 20px

    @media (max-width: 599px) {
      margin-top: 15px
    }

    h1, span, a {
      font-size: 28px
      color: main-black
      width: 100%
      margin: 0
      padding: 0

      @media (max-width: 599px) {
        font-size: 16px
        font-weight: 600
        line-height: 22px
      }
    }
  }

  .currentValue {
    display: inline-block

    margin: 0
    padding: 0

    width: 100%

    font-size: 20px

    @media (max-width: 740px) {
      margin-bottom: 20px
    }

    &.bonus-change-values {
      font-size: 16px
      font-weight: 600

      b {
        color: main-blue
      }
    }
  }

  /* PERSONAL CABINET MENU */
  .pc-menu {
    width: 250px

    @media (max-width: 599px) {
      &:not(&#pc-main-menu) {
        display: none
      }

      &#pc-main-menu {
        width: 100%
        display: inline-block
      }
    }
  }

  .pc-menu__block {
    dispalay: inline-block
    width: 100%

    margin-top: 15px

    font-family: proxima-reg
    color: main-black
    font-size: 13px

    @media (max-width: 599px) {
      font-size: 14px
    }

    svg {
      display: none

      @media (max-width: 599px) {
        display: block
      }

      width: 8px
      height: 12px

      float: right

      margin-top: 10px
      margin-right: 20px
    }
  }

  .pc-menu__title {
    display: inline-block

    padding-left: 20px

    width: 100%
    height: 33px

    > span {
      cursor: default
    }

    > a, > span {
      line-height: 33px
      color: main-black
      font-weight: bold

      @media (max-width: 599px) {
        font-size: 16px
      }
    }

    @media (max-width: 599px) {
      margin-top: 10px
    }
  }

  a.pc-menu__title {
    > a,
    > span {
      cursor: pointer
    }

    &.active span {
      text-decoration: underline
    }
    @media (min-width: 1281px) {
      &:hover span {
        text-decoration: underline
      }
    }

    @media (max-width: 1280px) {
      &:active span {
        text-decoration: underline
      }
    }
  }

  .pc-menu__link {
    display: inline-block
    width: 100%

    padding-left: 30px
    height: 33px

    > a, > span {
      line-height: 33px
      color: main-black
    }

    cursor: pointer

    @media (max-width: 599px) {
      padding-left: 20px

      margin-top: 10px
    }


    &.active {
      background-color: #f1f1f1
    }
    @media (min-width: 1281px) {
      transition: background-color .2s ease

      &:hover {
        background-color: #f1f1f1
      }
    }

    @media (max-width: 1280px) {
      &:active {
        background-color: #f1f1f1
      }
    }
  }

  .pc-menu__bonus-club-info {
    float: left
    width: 100%

    padding-left: 30px

    border-radius: 0 4px 4px 0

    border: 1px solid #d0e7ef
    border-left: none

    margin-top: 6px
    margin-bottom: 6px
    padding-top: 5px
    padding-bottom: 10px
    font-size: 12px

    @media (max-width: 599px) {
      width: calc(100% - 20px)
    }

    a {
      color: main-blue
      text-decoration: underline
      text-decoration-style: dashed
    }

    .info-row {
      float: left
      width: 100%
      padding-right: 20px
      margin-top: 5px
    }

    .title,
    .value {
      display: block
    }

    .title {
      float: left
      opacity: 0.5
    }
    .value {
      float: right
      font-weight: bold
    }

    @media (max-width: 599px) {
      padding-left: 20px
    }

    > span {
      display: inline-block

      height: 33px
      width: 100%

      line-height: 33px

      cursor: default

      @media (max-width: 599px) {
        margin-top: 10px
      }
    }
  }

  .back-button {
    span {
      color: main-black
      font-size: 26px
    }
    svg {
      width: 9px
      height: 14px
      transform: rotate(180deg)
      margin-right: 7px
      margin-bottom: 2px
    }
  }

  /* MY ORDERS - TABLE */
  .my-orders__table {
    float: left

    width: 100%
    max-width: 1050px

    margin-top: 5px

    .desktop-header {
      @media (max-width: 767px) {
        display: none
      }

      float: left
      width: 100%

      font-size: 14px

      .title {
        text-align: center
        display: inline-block
        vertical-align: middle

        width: calc(100% / 7)

        &:first-child {
          text-align: left
        }
      }
    }
  }

  .my-orders__order {
    float: left

    position: relative

    width: 100%

    cursor: default

    @media (min-width: 768px) {
      .title {
        height: 0
        visiblity: hidden
        opacity: 0
      }
    }

    @media (max-width: 767px) {
      border: 1px solid #d1d1d1
      padding-bottom: 5px

      &:not(:last-child) {
        margin-bottom: 20px
      }
    }
  }

  .my-orders__order-row {
    float: left

    width: calc(100% / 7)

    @media (max-width: 767px) {
      width: 100%

      padding: 0 10px

      margin-bottom: 5px
    }

    .title {
      font-size: 14px

      margin-bottom: 40px

      color: main-black

      @media (max-width: 767px) {
        float: left

        margin-bottom: 0

        font-size: 12px
      }
    }
    .value {
      display: inline-block
      width: 100%

      font-size: 14px
      font-weight: 600

      text-align: center

      cursor: pointer

      @media (max-width: 1023px) {
        font-size: 11px
      }

      @media (max-width: 767px) {
        display: block
        float: right

        width: auto

        font-size: 12px
      }

      span {
        display: inline-block
        width: 100%
        color: main-black
      }
    }

    &:first-child {
      text-align: left

      .value {
        width: auto

        span {
          display: block
          width: auto
          clear: both
        }
      }
    }

    &.order-number {
      .title {
        padding-left: 3px
      }
      .value {
        margin-top: -4px
      }

      @media (max-width: 767px) {
        background-color: #e9e9e9
        height: 25px

        .title {
          display: none
        }
        .value {
          margin-top: 3px

          font-size: 13px
          float: left

          img {
            float: left
            margin-left: -3px
          }
          span {
            float: left
            clear: none
          }
        }
      }
    }

    &.order-date {
      .title {
        text-align: center
      }

      @media (max-width: 767px) {
        .title {
          display: none
        }
        .value {
          position: absolute
          top: 3px
          right: 10px

          font-size: 13px

          .time {
            display: none
          }
        }
      }
    }
  }

  /* MY ORDER (SINGLE ORDER) TABLE */
  .single-order-table {
    float: left

    width: 100%
    max-width: 1100px

    margin-top: 5px

    font-size: 14px

    padding: 25px 20px

    @media (min-width: 768px) {
      background-color: #f1f1f1
    }

    @media (max-width: 1023px) {
      font-size: 13px
    }

    @media (max-width: 767px) {
      font-size: 12px

      border-top: 1px solid #d1d1d1
      border-bottom: 1px solid #d1d1d1
    }

    @media (max-width: 599px) {
      width: 100vw
      margin-left: -20px
    }

    .title {
      float: left
      font-weight: 400
    }
    .value {
      float: left
      font-weight: 600
    }

    .table-row {
      display: inline-block
      width: 100%
    }
  }

  .single-order-table__data {
    float: left
    width: 100%

    .half-table {
      float: left
      width: 50%

      &.short {
        .title {
          width: 75px
        }
      }
      &.long {
        .title {
          width: 130px
        }
      }
    }

    @media (max-width: 767px) {
      border-bottom: 1px solid #d1d1d1

      padding-bottom: 25px

      .half-table {
        width: 100%

        .title {
          width: 50% !important
        }
        .value {
          width: 50% !important
        }
      }
    }
  }

  .single-order-table__products {
    float: left
    width: 100%

    margin-top: 70px

    @media (max-width: 767px) {
      margin-top: 25px
    }

    .titles-row,
    .values-row {
      float: left
      width: 100%
    }

    .value {
      &.count {
        padding-right: 17px
      }

      @media (max-width: 767px) {
        font-size: 11px
      }
    }

    .title {
      @media (max-width: 767px) {
        font-size: 10px

        margin-bottom: 5px
      }
    }

    .title,
    .value {
      &.id {
        width: 15%

        @media (max-width: 767px) {
          width: 20%
        }
      }
      &.name {
        width: 45%

        @media (max-width: 767px) {
          width: 34%
        }
      }
      &.price,
      &.count,
      &.total {
        width: 13%

        text-align: right

        @media (max-width: 767px) {
          width: 15%
        }
      }
    }
  }

  .single-order-table__total {
    float: left
    width: 100%

    margin-top: 50px

    @media (max-width: 767px) {
      font-size: 11px
    }

    .total-title {
      width: 15%

      @media (max-width: 767px) {
        width: 20%
      }
    }

    .total-container {
      float: left
      width: 85%

      @media (max-width: 767px) {
        width: 80%
      }
    }

    .title {
      width: 160px

      @media (max-width: 767px) {
        width: 110px
      }
    }
  }

  /* BONUS CHANGE CARDS */
  .bonus-change-cards {
    float: left

    width: 100%

    margin-top: 20px

    @media (max-width: 1024px) {
      text-align: center
    }
  }
  .bonus-change-card-container {
    display: inline-block

    @media (min-width: 515px) {
      margin-right: 30px
    }

    margin-bottom: 15px

    text-align: center

    .label {
      margin-top: 10px

      font-size: 14px
      color: #4d4d4d
      opacity: .5
      text-align: center
      transition: color .3s ease, opacity .3s ease
    }

    &:hover {
      .label {
        color: main-blue
        opacity: 1
      }

      .bonus-change-card {
        border-color: transparent

        .top-bar {
          .hover-text {
            opacity: 1
          }
        }
      }
    }
  }
  .bonus-change-card {
    display: inline-block

    setWH(240px, 140px)

    border: 2px solid #17a3d1
    border-radius: 6px

    transition: border-color .3s ease

    .top-bar, .bottom-bar {
      display: inline-block
      width: 100%
    }

    .top-bar {
      position: relative
      height: 100px

      img {
        display: inline
        vertical-align: middle


        max-width: 90%
        max-height: 90%
      }

      .hover-text {
        position: absolute

        width: calc(100% + 4px)
        height: calc(100% + 2px)

        left: -2px
        top: -2px

        border-radius: 6px 6px 0 0

        background-color: rgba(77, 77, 77, 0.7)

        opacity: 0

        transition: opacity .3s ease

        cursor: pointer

        .content {
          display: inline-block
          vertical-align: middle
        }

        span {
          display: inline-block
          color: white
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
          font-size: 14px
          line-height: 24px
          width: 100%
          text-align: center
        }
      }
    }
    .bottom-bar {
      border-radius: 0 0 6px 6px

      height: 40px
      width: 240px

      margin-left: -2px

      background: radial-gradient(164px 59px at 193.33% 1069.23%, #32d0eb 0%, #17a3d1 100%)

      span {
        display: inline-block
        vertical-align: middle
        font-size: 16px
        color: white
        font-weight: 600
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
        text-align: center
      }
    }
  }

  /* BONUS CARD OPERATIONS TABLE */
  .bonus-operations-table {
    float: left
    width: 100%
    max-width: 1100px

    margin-top: 25px

    border: 1px solid #d1d1d1
    border-radius: 3px

    padding: 20px

    font-size: 13px

    @media (max-width: 1023px) and (min-width: 600px) {
      padding: 10px
    }

    @media (max-width: 700px) {
      font-size: 12px
    }

    @media (max-width: 599px) {
      width: 100vw
      margin-left: -20px
      border-radius: 0
      border-right: none
      border-left: none

      margin-top: 5px
      font-size: 12px
    }

    .value {
      font-weight: bold
    }

    .titles-row,
    .values-row {
      float: left
      width: 100%
    }

    .titles-row {
      margin-bottom: 25px

      @media (max-width: 599px) {
        margin-bottom: 10px
      }
    }

    .values-row:not(:last-child) {
      margin-bottom: 15px
    }

    .value,
    .title {
      display: inline-block
      vertical-align: middle
      width: 20%
      text-align: center
    }

    .title {
      @media (max-width: 599px) {
        font-size: 10px
      }
    }
  }

  /* STATIC PAGE STYLES */
  .text-container {
    float: left
    width: 100%

    font-size: 13px

    a {
      color: main-black
    }

    img {
      max-width: 100%
    }

    > :first-child {
      margin-top: 0!important
    }

    &.save-bonuses {
      max-width: 840px
    }
    &.spend-bonuses {
      max-width: 1000px

      .steps-container {
        width: 100%

        @media (min-width: 600px) {
          display: flex
          justify-content: space-around
        }

        @media (max-width: 599px) {
          text-align: center
        }

        .step {
          setWH(100px)

          border-radius: 50%

          background-color: main-blue

          color: white
          text-align: center

          padding-top: 18px

          @media (max-width: 700px) and (min-width: 600px) {
            padding-top: 8px
            setWH(80px)
          }

          @media (max-width: 599px) {
            display: inline-block
            margin: 5px
          }

          span {
            display: inline-block
            width: 100%
          }
        }
      }
    }
    &.contact-operator {
      font-size: 14px
    }
  }

  /* FAVOURITE PAGE STYLES */
  .fill-empty-space-item {
    width: 250px;
    height: 0;
    margin: 2px;
  }
  .items-container {
    float: left

    padding-bottom: 30px

    display: flex
    flex-wrap: wrap
    justify-content: space-between

    @media (max-width: 801px) {
      justify-content: space-around
    }
  }

  /* SHOPS PAGE STYLES */
  .shops-container {
    float: left

    width: 100%

    .dropdown-box {
      height: 40px

      &.disabled {
        opacity: .5
      }

      @media (min-width: 600px) {
        width: 45%
        max-width: 260px

        &:not(:last-child) {
          margin-right: 15px
        }
      }
      @media (max-width: 599px) {
        width: 100%

        &:last-child {
          margin-top: 10px
        }
      }

      .dropdown-box-title {
        span {
          line-height: 40px
        }
        svg {
          margin-top: 12px
        }
      }

      .dropdown-box-options {
        background-color: #fff
        top: 39px
        overflow: auto

        > .relative {
          width: 100%
          max-height: 150px
        }
      }

      .dropdown-box-options {
        > span {
          height: 100%
          max-width: 100%
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
        }
      }

      &.active {
        background-color: #fff
      }
    }

    #map {
      float: left
      width: 850px
      max-width: 100%
      min-width: 55%
      height: 550px

      margin-top: 30px

      @media (max-width: 599px) {
        height: 350px
      }
    }
  }

  /* ONLY-FOR-INDEX-PAGE STYLES */
  &[data-pc-page="index"] {
    @media (max-width: 599px) {
      .left-bar {
        display: block
        width: 100%

        padding-bottom: 20px
      }
      .right-bar {
        display: none
      }
      .pc-page-title {
        padding: 0 20px
        margin-top: 30px
        margin-bottom: 0

        h1 {
          font-size: 28px
          font-weight: 400
        }
      }
    }
  }
}