product-section-width = 45vw
product-section-width1400 = 37vw
product-section-width1280 = 33vw

main {

  &[data-page='product'] {

    .reviews-preloader {
      display: none
      align-items: center
      justify-content: center
      text-align: center

      margin-top: 30px

      setWH(100%, 30px)
    }

    .breadcrumbs {
      @media (max-width: 599px) {
        margin-bottom: 8px
      }
    }

    .default-item {
      width: 100% !important

      max-width: 240px !important
    }

    .items-container {
      @media (min-width: 1920px) {
        display: flex
        justify-content: space-between
      }
    }

    section {
      width: 100%

      padding: 0 20px

      &:first-of-type {
        margin-top: 0 !important
      }

      @media (max-width: 599px) {
        padding: 0 15px
      }
    }

    //---//

    padding-top: 20px

    @media (max-width: 599px) {
      padding-top: 165px
    }

    .product-preview-tabloid {
      position: absolute

      top: 215px
      right: 70px

      @media (min-width: 1501px) {
        body.modal-open & {
          right: 87px
        }
      }

      @media (max-width: 1500px) {
        right: 20px

        @media (min-width: 1281px) {
          body.modal-open & {
            right: 37px
          }
        }
      }

      setWH(265px, auto)

      background-color: white
      border-radius: 5px
      box-shadow: 0 1px 7px rgba(0, 0, 0, 0.22)

      @media (max-width: 1023px) {
        width: 156px

        top: 165px

        transition: top .2s linear

        body.search-active & {
          top: 240px
        }
      }

      @media (max-width: 599px) {
        position: static

        float: left

        width: 100%

        margin-top: 20px
      }

      .price {
        float: left

        setWH(100%, auto)

        padding: 9px 12px

        @media (max-width: 1023px) and (min-width: 600px) {
          padding: 3px 5px
        }

        border-bottom: 1px solid #d8d8d8

        .old-price {
          float: right

          position: relative

          margin-bottom: 5px

          text(proxima-reg, 20px, main-black, 16px)

          @media (max-width: 1023px) and (min-width: 600px) {
            font-size: 12px
            margin-bottom: 0
          }

          &:after {
            content: ''

            position: absolute

            setWH(100%, 1px)

            left: 0
            top: 50%
            top: calc(50% - 1px)

            background-color: main-orange

            z-index: 1
          }
        }

        .new-price-container {
          float: left
          position: relative

          width: 100%
        }

        span {
          position: absolute

          left: 0
          bottom: 0

          text(proxima-reg, 14px, main-black, 19px)

          @media (max-width: 1023px) and (min-width: 600px) {
            font-size: 12px
            line-height: 16px
          }
        }

        .new-price {
          float: right

          clear: right

          text(proxima-reg, 35px, main-black, 30px)

          @media (max-width: 1023px) and (min-width: 600px) {
            font-size: 16px
            line-height: initial
          }
        }
      }

      .info {
        float: left

        width: 100%

        padding: 9px 12px

        @media (max-width: 1023px) and (min-width: 600px) {
          padding: 5px

          &.additional {
            .row:last-child {
              margin-bottom 5px
            }
          }
        }

        .row {
          float: left
          width: 100%

          margin: 0

          font-family: roboto-reg
          color: main-black

          span,
          a {
            color: main-black
          }

          .name {
            float: left

            max-width: 75%

            font-size: 12px

            @media (max-width: 1023px) and (min-width: 600px)  {
              font-size: 10px

              max-width: none
            }

            svg {
              display: inline-block
              vertical-align: middle

              margin-right: 5px

              setWH(14px, 11px)
            }

            &.sales svg {
              margin-left: -1px
              margin-right: 6px
            }

            &.favourite svg {
              setWH(14px, 13px)
            }

            &.available svg,
            &.not-available svg {
              margin-left: 1px
              margin-right: 6px

              setWH(12px)
            }

            a:hover {
              text-decoration: underline;
            }
          }

          .value {
            float: right

            max-width: 25%

            font-size: 14px

            @media (max-width: 1023px) and (min-width: 600px) {
              font-size: 10px

              max-width: none
            }
          }
        }

        &.additional {
          .value {
            @media (max-width: 1023px) and (min-width: 600px) {
              font-size: 9px
              margin-top: 2px
            }
          }
        }
      }

      .button {
        float: left

        width: calc(100% - 24px)
        height: 40px

        margin-left: 12px

        border-radius: 5px

        text(roboto-reg, 18px, white, 40px)
        text-align: center

        cursor: pointer

        @media (max-width: 1023px) and (min-width: 600px) {
          width: calc(100% - 10px)
          height: 26px

          margin-left: 5px

          font-size: 11px
          line-height: 26px
        }

        &.buy-now {
          background-color: main-blue

          blueHoverItem()
        }
        &.add-to-cart {
          margin-top: 9px

          @media (max-width: 1023px) and (min-width: 600px) {
            margin-top: 5px
          }

          background-color: main-orange

          blueHoverItem(0.3s, #cc4c26)
        }
        &.remove-from-cart {
          display: none

          position: relative

          margin-top: 9px

          @media (max-width: 1023px) and (min-width: 600px) {
            margin-top: 5px
          }

          color: main-blue

          border: 1px solid main-blue

          background: white

          .view,
          .hover {
            setWH(100%)

            position: absolute

            top: 0
            left: 0

            text-align: center

            transition: opacity .3s ease
          }

          .hover {
            opacity: 0
          }

          @media (max-width: 1280px) {
            color: main-orange

            border: 1px solid main-orange

            .view {
              display: none
            }
            .hover {
              opacity: 1
            }
          }


          @media (min-width: 1281px) {
            &:hover {
              color: main-orange

              border: 1px solid main-orange

              .view {
                opacity: 0
              }
              .hover {
                opacity: 1
              }
            }
          }
        }
      }

      &.added {
        .button.add-to-cart {
          display: none
        }
        .button.remove-from-cart {
          display: block
        }
      }

      .button.pending {
        display: none

        background-color: main-orange

        margin-top: 9px

        @media (max-width: 1023px) and (min-width: 600px) {
          margin-top: 5px
        }

        img {
          display: inline-block
          vertical-align: middle
        }
      }

      &.pending {
        .button.add-to-cart {
          display: none
        }
        .button.remove-from-cart {
          display: none
        }
        .button.pending {
          display: block
        }
      }

      .price-notify {
        float: left

        width: 100%
        height: 0

        @media (max-width: 1280px) {
          display: none!important
        }
      }

      .available-notify-form {
        padding: 0 12px

        margin-top: -5px

        @media (max-width: 1023px) and (min-width: 600px) {
          padding: 0 5px

          margin-top: 0
        }
      }
    }

    .available-notify-form {
      input {
        font-size: 14px
      }

      label {
        margin: 0

        span {
          color: main-blue
        }
      }

      .available-notify-button {
        height: 40px

        margin-top: 10px
        margin-bottom: 0

        line-height: 40px
      }

      @media (max-width: 1023px) and (min-width: 600px) {
        input {
          height: 26px

          margin-top: 3px

          font-size: 10px
        }

        label {
          span {
            font-size: 10px
            line-height: 12px
          }
        }

        .available-notify-button {
          height: 26px

          margin-top: 7px

          font-size: 10px
          line-height: 26px
        }
      }

      .success {
        display: inline-block

        setWH(100%)

        padding: 10px 20px

        background-color: #f1f1f1
        border-radius: 5px

        font-size: 14px

        line-height: 18px

        @media (max-width: 1023px) and (min-width: 600px) {
          font-size: 10px
          line-height: 11px

          padding: 5px 10px
        }
      }
    }

    .price-notify-form {
      position: absolute

      left: 0
      top: 20px

      width: 100%

      padding: 10px 12px 13px

      background-color: white
      border: 1px solid rgba(215, 215, 215, 0.5)
      border-radius: 5px

      input {
        padding-right: 40px

        font-size: 14px
      }

      label {
        position: relative

        margin-bottom: 0
      }

      .error {
        margin-top: 5px
      }

      .validate-form-button {
        position: absolute

        top: 37px
        right: 0

        width: 40px

        background: none
        border: none

        margin: 0

        opacity: 0.5

        color: main-black
        font-size: 14px
        font-weight: 600

        &:hover {
          opacity: 1
        }
      }

      .success {
        text(proxima-reg, 14px, main-black, 0)
      }
    }

    .product-preview-container {

      display: inline-block

      width: calc(65vw + 215px)

      @media (max-width: 1400px) {
        width: calc(57vw + 215px)
      }

      @media (max-width: 1279px) {
        width: calc(51vw + 205px)
      }

      @media (max-width: 1023px) {
        width: calc(100% - 180px)
      }

      margin-top: 0

      @media (max-width: 599px) {
        width: 100%

        padding: 0 15px
      }
    }

    .product-preview-title {
      float: right

      width: product-section-width

      @media (max-width: 1400px) {
        width: product-section-width1400
      }

      @media (max-width: 1279px) {
        width: product-section-width1280
      }

      @media (max-width: 599px) {
        float: left

        width: 100%
      }

      h1 {
        display: inline

        margin: 0
        margin-right: 15px

        text(proxima-reg, 28px, main-black, 25px)

        @media (max-width: 1279px) {
          font-size: 20px
        }

        @media (max-width: 1023px) {
          font-size: 14px
          line-height: 18px
        }

        @media (max-width: 599px) {
          font-size: 24px
          line-height: 34px
        }
      }

      .id {
        display: inline
        text(proxima-reg, 12px, main-black, 16px)

        @media (max-width: 599px) {
          vertical-align: super
        }
      }
    }

    .product-preview-picture {
      float: left

      height: 25vw

      @media (min-width: 1281px) {
        margin-right: 20px
        margin-bottom: 15px
      }

      @media (max-width: 1279px) {
        height: 30vw
      }

      @media (max-width: 1023px) {
        width: 45%
      }

      @media (max-width: 599px) {
        setWH(100%, auto)

        padding: 0

        margin-top: 10px
      }

      .product-preview-mainPicture {
        float: right

        width: calc(20vw + 95px)

        height: 100%

        text-align: center

        overflow: hidden

        cursor: pointer

        @media (max-width: 1279px) {
          width: calc(18vw + 95px)
        }

        @media (max-width: 1023px) {
          float: left

          width: 100%

          height: calc(100% - 60px)
        }

        img {
          display: inline-block
          vertical-align: middle

          max-width: 99%

          max-height: 100%
        }
      }
    }

    .product-preview-items {
      position: relative

      float: left

      setWH(60px, 100%)

      padding-right: 10px

      overflow: hidden

      @media (max-width: 1023px) {
        width: 100%
        height: 60px

        white-space: nowrap
      }

      .product-preview-item {
        display: inline-block

        setWH(50px)

        text-align: center

        overflow: hidden

        border: 1px solid transparent

        box-sizing: border-box

        transition: border-color .3s ease

        cursor: pointer

        &:hover {
          @media (min-width: 600px) {
            border-color: main-blue
          }
        }

        &:not(:first-child) {
          margin-top: 10px

          @media (max-width: 1023px) {
            margin-top: 0
            margin-left: 5px
          }
        }

        img {
          display: inline-block
          vertical-align: middle

          max-width: 100%
        }
      }
    }

    .product-preview-description {
      float: right

      clear: right

      width: product-section-width

      margin-top: 10px

      text-align: left

      @media (max-width: 1400px) {
        width: product-section-width1400
      }

      @media (max-width: 1279px) {
        width: product-section-width1280
      }

      @media (max-width: 599px) {
        float: left

        width: 100%

        padding: 0

        margin-top: 15px
      }

      .product-preview-info {
        font-size: 14px

        @media (max-width: 1023px) and (min-width: 600px) {
          font-size: 10px
        }

        .rating {
          margin-right: 4px
        }
        .stars {
          position: relative
          vertical-align: top

          margin-right: 25px
          margin-top: 2.5px

          setWH(70px, 14px)

          background: url(../img/star-grey.svg) 0 0 repeat-x

          @media (max-width: 1023px) and (min-width: 600px) {
            margin-top: -2px
          }

          .stars-cover {
            position: absolute

            left: 0
            top: 0

            height: 100%

            z-index: 1

            background: url(../img/star.svg) 0 0 repeat-x
          }
        }
        .reviews {
          margin-right: 25px
        }
        .areAvailable {
          svg {
            setWH(11px, 8px)

            margin-right: 4px
          }

          &.not {
            color: main-orange

            svg {
              setWH(10px)

              margin-bottom: -1px

              fill: main-orange
            }
          }
        }
      }

      .product-preview-characteristics {
        margin-top: 20px

        @media (max-width: 1023px) {
          margin-top: 10px
        }

        @media (max-width: 599px) {
          float: left

          margin-top: 30px
        }

        .title {
          text(proxima-sem, 14px, main-black, 16px)

          @media (max-width: 1023px) and (min-width: 600px) {
            font-size: 12px
          }
        }

        .characteristics-item {

          &.hidden-item {
            display: none
          }

          @media (max-width: 1023px) and (min-width: 600px) {
            height: 15px
          }

          @media (max-width: 599px) {
            &:not(:first-child) {
              margin-top: 5px
            }
          }
            
          .name {
            display: inline-block
            width: 170px

            text(proxima-reg, 12px, main-black, 10px)
            text-align: left
            opacity: 0.8

            @media (max-width: 1023px) and (min-width: 600px) {
              font-size: 9px

              width: 120px
            }

            @media (max-width: 599px) {
              width: 100%
            }
          }
          .value {
            max-width: 300px
            display: inline-block

            text(proxima-reg, 13px, main-black, 10px)

            @media (max-width: 1023px) and (min-width: 600px) {
              font-size: 10px
            }

            @media (max-width: 599px) {
              font-size: 14px
            }
          }
        }
      }
    }

    .product-preview-moreInfo-trigger {
      float: right
      clear: right

      width: product-section-width

      margin-top: 10px
      text-align: left

      text(proxima-reg, 12px, main-black, 16px)

      cursor: pointer

      @media (min-width: 1281px) {
        margin-bottom: 10px
      }

      @media (max-width: 1400px) {
        width: product-section-width1400
      }

      @media (max-width: 1279px) {
        width: product-section-width1280
      }

      @media (max-width: 1023px) {
        margin-top: 5px

        span {
          font-size: 10px
        }
      }

      @media (max-width: 599px) {
        width: 100%

        margin-top: 10px

        text-align: center

        span {
          font-size: 12px
        }
      }

      svg {
        setWH(10px, 11px)

        margin-left: 3px
        margin-bottom: -1px

        transition: transform .3s ease
      }
    }

    .product-preview-additional {
      float: left

      width: 100%

      padding-left: 20px
      padding-right: 350px

      @media (max-width: 1500px) {
        padding-right: 300px
      }

      @media (max-width: 1280px) {
        padding-right: 20px
      }
    }

    .product-preview-moreInfo {
      float: left
      clear: both

      width: 100%

      margin-top: 20px

      text(proxima-reg, 14px, main-black, 17px)
      text-align: left

      @media (max-width: 1023px) {
        font-size: 13px
      }

      .text {
        p {
          margin: 5px 0
        }
      }
    }

    .review-form {
      display: none

      position: relative
      float: left

      width: 1100px
      max-width: 100%

      margin-top: 15px
      padding: 30px 150px 30px 50px

      background-color: #f1f1f1

      @media (max-width: 1023px) {
        padding: 15px
      }

      .review-form-close {
        position: absolute

        top: 6px
        right: 6px

        padding: 0 5px

        cursor: pointer

        svg {
          setWH(11px)
        }
      }

      .rating {
        overflow: hidden
        display: inline-block

        > div {
          float: left
        }

        .rating-input {
          position: relative
          z-index: -1
          float: right
          width: 22px
          height: 21px
          padding: 0
          margin: 0 0 0 -22px
          opacity: 0
        }
      }
      .rating:hover .rating-star:hover,
      .rating:hover .rating-star:hover ~ .rating-star,
      .rating-input:checked ~ .rating-star {
        background-position: 22px 0
      }
      .rating-star,
      .rating:hover .rating-star {
        position: relative
        margin: 0
        float: right
        display: block
        width: 22px
        height: 21px
        background: url('../img/rating.svg') 0 0
      }

      .form-input {
        > span {
          float: left

          width: 100px

          font-size: 14px
          text-align: left
        }

        textarea {
          float: left

          width: calc(100% - 100px)
          height: 150px

          padding: 10px

          margin: 0

          font-size: 14px

          resize: vertical
        }
        .error {
          float: left
          text-align: left
          margin: 5px 0 5px 100px
        }

        @media (max-width: 599px) {
          &.message {
            span {
              width: 100%
            }
            textarea {
              width: 100%
              margin-top: 10px
              height: 100px
            }
            .error {
              width: 100%
              margin: 5px 0 0 0
            }
          }
        }
      }

      .review-form-footer {
        width: 100%

        padding-left: 100px

        @media (max-width: 599px) {
          padding-left: 0
        }

        .validate-form-button {
          float: left

          width: 165px

          margin: 0

          @media (max-width: 599px) {
            width: 100%
          }
        }

        .validate-form-desc {
          float: left

          width: calc(100% - 185px)

          margin-left: 20px

          text(proxima-reg, 12px, main-black, 17px)
          text-align: left

          @media (max-width: 599px) {
            width: 100%
            margin: 10px 0 0 0
          }
        }
      }
    }

    body.all-characteristics-opened & {
      .product-preview-moreInfo-trigger {
        svg {
          transform: rotate(180deg)
        }
      }
      .characteristics-item.hidden-item {
        display: block !important
      }
    }

    .product-preview-social {
      float: left

      width: 100%

      margin-top: 40px

      clear: both

      @media (max-width: 599px) {
        display: flex
        justify-content: space-around
      }

      svg {
        width: 30px
        height: 28px

        fill: rgba(77,77,77,.5)

        transition: fill .2s linear
      }

      a {
        &:not(:first-of-type) {
          margin-left: 11px
        }
      }

      a.vk {
        svg:hover {
          fill: #5785a8
        }
      }

      a.fb {
        svg:hover {
          fill: #5876ac
        }
      }

      a.insta {
        svg:hover {
          fill: #87614a
        }
      }

      a.ggl {
        svg:hover {
          fill: #fe5e4d
        }
      }
    }

    .product-preview-reviews {
      float: left

      width: 100%

      margin-top: 40px

      text-align: center

      .title {
        text(proxima-reg, 14px, main-black, 16px)
        text-align: left
      }

      .toggle-button {
        margin-top: 15px

        setWH(230px, 33px)

        background-color: main-blue
        border-radius: 3px

        text(proxima-reg, 12px, white, 33px)
        text-align: center

        cursor: pointer

        blueHoverItem()

        @media (max-width: 599px) {
          width: 100%
        }
      }

      .reviews-container {
        float: left

        width: 100%

        margin-top: 30px

        font-family: proxima-reg
        color: main-black
        text-align: left

        .review-item {
          display: inline-block

          width: 100%

          &:not(:first-child) {
            margin-top: 30px
          }

          .review-user-data {
            float: left

            setWH(230px, 100%)

            margin-right: 18px

            @media (max-width: 599px) {
              setWH(100%, auto)

              margin: 0
            }

            > span {
              display: inline-block
              width: 100%
            }

            .nickname {
              font-size: 14px
              line-height: 24px

              @media (max-width: 599px) {
                float: left

                max-width: 50%

                font-size: 12px
                line-height: 18px
              }
            }

            .stars {
              position: relative

              vertical-align: middle

              setWH(70px, 14px)

              background: url(../img/star-grey.svg) 0 0 repeat-x

              @media (max-width: 599px) {
                display: block

                float: right
              }

              .stars-cover {
                position: absolute

                left: 0
                top: 0

                height: 100%

                z-index: 1

                background: url(../img/star.svg) 0 0 repeat-x
              }
            }

            .date {
              font-size: 10px
              line-height: 24px

              @media (max-width: 599px) {
                float: right
                width: auto
                clear: right
              }
            }
          }

          .review-user-message {
            float: left

            width: calc(100% - 250px)

            @media (max-width: 599px) {
              width: 100%
            }

            .text {
              display: inline-block

              width: 100%

              font-size: 12px
              line-height: 15px

              padding-top: 5px
            }

            .votes {
              display: inline-block

              width: 100%

              margin-top: 5px

              > span {
                display: inline-block
                vertical-align: top

                cursor: pointer

                &.likes {
                  svg {
                    fill: main-blue
                  }
                }

                &.dislikes {
                  margin-left: 25px

                  svg {
                    margin-bottom: -2px
                  }
                }

                span {
                  display: inline-block
                  margin-left: 5px

                  color: main-black
                  font-size: 12px
                }
              }

              svg {
                setWH(15px, 14px)
              }
            }
          }
        }
      }

      .reviews-toggle {
        display: inline-block

        margin-top: 30px

        setWH(450px, 33px)

        @media (max-width: 599px) {
          width: 100%
        }

        background-color: white
        border: 1px solid main-blue
        border-radius: 3px

        font-size: 14px
        line-height: 33px
        color: main-black
        text-align: center

        cursor: pointer

        transition: background-color .3s ease, color .3s ease

        &:hover {
          color: white

          background-color: main-blue
        }
      }

      &.loading {
        .reviews-preloader {
          display: inline-flex
        }

        .reviews-toggle {
          display: none
        }
      }
    }

    .product-preview-carousel {
      float: left

      .item {
        img {
          width: 90%
          margin: 0 auto
        }
      }

      .owl-nav {
        position: static
      }

      .owl-prev,
      .owl-next {
        top: 50%
        margin-top: -20px
      }
    }

    body.logged & {
      .product-preview-reviews {
        .not-logged {
          display: none
        }
      }
    }

    body.not-logged & {
      .product-preview-reviews {
        .logged {
          display: none
        }
      }
    }
  }
}