main {
  &[data-page='registration'] {
    text-align: center

    .cart-main-header label span {
      margin-left: 0
    }

    .registration-container {
      float: none
      display: inline-block
      width: 1280px

      @media (max-width: 1279px) {
        width: 100%
      }

      text-align: left

      margin-top: 15px
      padding: 0
    }

    h1 {
      float: left
      width: 100%

      margin: 0
      padding: 0 20px

      text(proxima-reg, 28px, main-black, initial)

      @media (max-width: 599px) {
        font-size: 20px

        padding: 0 20px
      }
    }

    .cart-main-container {
      margin-top: 20px

      .cart-toggle {
        float: left

        cursor: pointer

        span {
          text(proxima-sem, 14px, main-blue, 16px)
        }

        svg {
          vertical-align: middle

          setWH(15px, 13px)

          margin-left: 2px
          margin-top: -2px

          fill: main-blue

          transition: transform .3s ease
        }
      }
      .cart-main {
        display: none

        border-radius: 7px
      }
      .cart-price-total {
        margin-top: 0

        padding: 20px 30px 10px
      }
      &.active {
        .cart-toggle svg {
          transform: rotate(180deg)
        }
        .cart-main {
          display: block
        }
        .cart-price-total {
          margin-top: 40px
        }
      }

      @media (max-width: 599px) {
        .cart-main-header label span {
          margin-left: 0
        }
        .cart-main-body .cart-item-preview {
          margin-left: 0
        }
        .cart-main {
          border-radius: 0
        }
      }
    }

    .delivery-info {
      float: none
      display: inline-block
      width: 1280px

      margin-top: 40px

      @media (max-width: 1279px) {
        width: 100%

        margin-top: 15px
      }

      text-align: left

      padding: 0 15px

      .title {
        text(proxima-sem, 16px, main-black, 20px)
      }
    }

    .form-order {
      float: left
      width: 490px

      margin-top: 20px

      .validate-form-button {
        margin-left: 200px
        width: 290px
      }

      label {
        .error {
          margin-top: 3px

          @media (min-width: 600px) {
            padding-left: 200px
          }
        }
        span {
          font-size: 14px

          width: 200px

          vertical-align: top
          margin-top: 13px
        }

        input,
        select,
        textarea {
          font-size: 14px
        }

        input,
        textarea,
        .select-box,
        .radiobox-container {
          width: 290px
        }

        textarea {
          height: 80px

          resize: vertical
        }
    }
      .userDelivery {
        .method-courier {
          display: none
          float: right

          width: 290px

          @media (max-width: 599px) {
            width: 100%
          }

          span,
          a {
            display: block
            float: left
            width: 100%

            margin: 0
            font-size: 11px
          }
          a {
            color: main-blue

            &:hover {
              text-decoration: underline
            }
          }
        }
      }

      .userPayment {
        margin-bottom: 10px
        display: inline-block
        width: 100%

        &.incorrect {
          .error {
            display: inline-block!important
          }
        }
      }

      .radiobox-container {
        float: right

        width: 290px

        @media (max-width: 599px) {
          width: 100%
        }

        .error {
          display: none
          width: 100%

          text(proxima-reg, 11px, main-err, 15px)
        }
      }

      .radiobox {
        display: none
        position: relative

        width: 100%

        margin-bottom: 0

        input {
          margin: 0

          setWH(30px)
        }

        .checkbox-control {
          left: 0

          span {
            position: absolute

            margin: 0

            left: 25px
            top: -2px

            width: 245px
          }
        }

        &.two-lines-text {
          .checkbox-control span {
            top: -10px
          }
        }
      }

      &[data-method="cash"] {
        .method-cash {
          display: inline-block
        }
      }
      &[data-method="courier"] {
        .method-courier {
          display: inline-block
        }
      }
      &[data-method="post"] {
        .method-post {
          display: inline-block
        }
      }

      @media (max-width: 599px) {
        width: 100%

        margin-top: 10px

        label {
          span {
            width: 100%

            margin-top: 2px
          }
          textarea,
          input,
          .select-box {
            width: 100%
          }
          &.checkbox {
            .checkbox-control {
              left: 0
              top: 10px

            }
          }
        }

        .validate-form-button {
          margin-left:0
          width: 100%
        }
      }
    }
  }

  &[data-registration='confirmed'] {
    .cart-main-header {
      padding-top: 0
    }
    .registration-subscribe-form {
      display: inline-block

      margin-left: 10px

      margin-top: 15px

      @media (max-width: 1023px) {
        margin-left: 0

        width: 100%
      }

      @media (max-width: 599px) {
        margin-top: 0
      }

      label {
        position: relative
        display: inline-block

        margin-right: 16px

        @media (max-width: 599px) {
          width: 100%
        }

        svg {
          position: absolute

          setWH(15px)

          top: 8.5px
          right: 7px

          fill: #ff3835

          opacity: 0

          transition: opacity .2s ease

          @media (max-width: 599px) {
            top: 33.5px
          }
        }

        span {
          @media (min-width: 600px) {
            display: inline
          }
        }

        input {
          width: 184px
          height: 32px

          padding-left: 10px
          margin-left: 10px

          background-color: #f1f1f1

          border-radius: 4px

          color: main-black

          border: 1px solid transparent

          transition: border-color .2s ease

          @media (max-width: 599px) {
            margin-left: 0

            margin-bottom: 10px
            margin-top: 5px
            width: 100%
          }
        }

        &.incorrect {
          svg {
            opacity: 1
          }
          input {
            border-color: #ff3835
            padding-right: 25px
          }
        }
      }

      button {
        height: 32px
        width: 140px

        padding: 0

        border-radius: 4px

        border: 1px solid main-blue

        color: main-blue

        background-color: white

        transition: all .2s ease

        font-size: 14px

        line-height: initial

        box-shadow: none

        @media (max-width: 599px) {
          width: 100%
        }

        svg {
          margin-top: -3px

          display: inline-block
          vertical-align: middle

          width: 26px
          height: 16px

          fill: main-blue

          transition: fill .2s ease
        }

        span {
          display: inline

          margin-left: 5px

          font-size: 14px
          line-height: initial
          color: main-blue

          transition: color .2s ease
        }

        &:hover {
          background-color: main-blue

          svg {
            fill: white
          }
          span {
            color: white
          }
        }
      }
    }
    .print-order-button {
      float: right

      setWH(300px, 40px)

      margin-top: 10px

      border-radius: 3px

      border: 1px solid main-blue

      clear: both

      text-align: center

      transition: background-color .2s ease

      cursor: pointer

      @media (max-width: 599px) {
        width: calc(100% - 40px)
        margin-right: 20px
      }

      span {
        display: inline-block

        height: 100%

        line-height: 40px

        color: main-blue

        transition: color .2s ease
      }

      svg {
        display: inline-block
        vertical-align: middle

        setWH(24px, 22px)

        fill: main-blue

        margin-right: 10px
        margin-top: -2px

        transition: fill .2s ease
      }

      @media (max-width: 1280px) {
        &:active {
          background-color: main-blue

          span {
            color: white
          }
          svg {
            fill: white
          }
        }
      }

      @media (min-width: 1281px) {
        &:hover {
          background-color: main-blue

          span {
            color: white
          }
          svg {
            fill: white
          }
        }
      }
    }

    .cart-main-container {
      margin-top: 0

      .cart-main {
        display: block
      }
      .cart-price-total {
        margin-top: 10px
      }

      span.bold {
        font-family: proxima-sem

        line-height: 30px

        display: inline-block

        width: 100%

        color: #4d4d4d

        font-size: 16px

        margin-top: 10px

        @media (max-width: 599px) {
          padding: 0 20px
        }
      }
    }

    .order-info {
      float: left
      width: 100%

      margin-top: 10px

      padding: 0 20px

      text-align: left

      span {
        display: inline-block
        width: 100%

        font-family: proxima-reg
        color: main-black
        font-size: 16px

        @media (max-width: 599px) {
          font-size: 14px
        }

        &.regular {
          font-size: 14px
          line-height: 20px

          @media (max-width:  1023px) {
            margin-bottom: 15px
          }
        }
        &.bold {
          font-family: proxima-sem
          line-height: 30px
        }
        &.link {
          width: auto
        }
        a {
          color: #17a3d1
          text-decoration: underline

          &:hover {
            text-decoration: none
          }
        }
      }

      @media (max-width: 599px) {
        span.bold {
          line-height: 20px

          &:first-child {
            margin-bottom: 10px
          }
          &:last-child {
            margin-top: 10px
          }
        }
      }
    }
  }
  &[data-registration='confirming'] {
    @media (max-width: 599px) {
      .cart-main-container {
        margin-top: 13px

        .cart-toggle {
          width: 100%

          padding: 0 15px

          text-align: center
        }
        .cart-price-total {
          margin-top: 15px

          width: 100%
          margin-right: 0
          padding: 10px 15px 0
        }
      }
    }
  }
}