main {
  &[data-page='search'] {
    .left-bar {
      @media (min-width: 768px) and (max-width: 1279px) {
        width: 220px
        height: auto
      }
      @media (max-width: 767px) {
        width: 100%
        height: auto

        float: left
      }
    }
    .right-bar {
      padding-top: 30px

      @media (min-width: 768px) and (max-width: 1279px) {
        float: none
        margin-left: 220px
        width: auto
      }

      @media (max-width: 767px) {
        padding-top: 20px
      }
    }

    .filters-mobile-title {
      display: none

      @media (max-width: 767px) {
        display: inline-block
      }

      width: 100%

      text-align: center

      span {
        text(proxima-reg, 14px, main-blue, 16px)
      }
      svg {
        setWH(16px, 12px)
        fill: main-blue

        transition: transform .2s ease
      }
    }

    .items-container {
      float: left

      display: flex
      flex-wrap: wrap
      justify-content: space-between

      @media (max-width: 801px) {
        justify-content: space-around
      }

      margin-top: 25px

      padding-left: 20px
      padding-right: 20px

      @media (max-width: 599px) {
        padding-left: 15px
        padding-right: 15px
      }
    }

    .filters {
      margin-bottom: 0

      .checkbox span {
        line-height: initial
      }

      @media (min-width: 768px) {
        margin-bottom: 25px
      }

      @media (max-width: 767px) {
        margin-top: 25px
        width: 100%

        .filter-block {
          display: none

          margin-top: 10px
        }

        &.active {
          .filter-block {
            display: block
          }
          .filters-mobile-title {
            svg {
              transform: rotate(180deg)
            }
          }
        }
      }
    }

    .found-articles {
      float: left

      padding-left: 20px

      @media (max-width: 767px) {
        display: none
      }

      .title:not(a) {
        text(proxima-sem, 14px, main-black, 17px)

        margin-bottom: 15px
      }
    }

    .found-articles-item {
      font-size: 14px

      &:not(:first-child) {
        margin-top: 17px
      }

      img {
        float: left

        margin-right: 10px
        margin-top: 4px
      }

      .title {
        color: main-blue

        &:hover {
          text-decoration: underline
        }
      }

      .text {
        display: inline-block
        width: 100%
      }
    }

    .no-results-container {
      float: left

      margin-top: 35px

      padding: 0 20px

      @media (max-width: 767px) {
        margin-top: 20px
      }
    }

    .attention-seeker {
      float: left
      
      display: inline-block

      width: 100%
      max-width: 1000px

      padding: 17px

      border-radius: 4px

      background-color: #f1f1f1

      svg {
        float: left

        setWH(28px)
      }
      span {
        display: block
        float: left
        width: calc(100% - 40px)
        margin-left: 12px

        text(proxima-reg, 13px, main-black, 19px)
      }
    }

    .product-request-form {
      clear: both

      width: 270px
      margin-top: 15px

      @media (max-width: 599px) {
        width: 100%
      }

      .form-title {
        display: inline-block
        width: 400px
        margin-bottom: 10px

        @media (max-width: 599px) {
          width: 100%
        }

        text(proxima-sem, 14px, main-black, 17px)
      }

      .message {
        span {
          width: 385px

          @media (max-width: 599px) {
            width: 100%
          }
        }
        textarea {
          height: 100px

          resize: vertical
        }
      }

      .validate-form-button {
        margin-top: 10px
      }

      .form-text {
        font-size: 14px

        width: 400px

        @media (max-width: 599px) {
          width: 100%
        }
      }
    }
  }
}