main {
  &[data-page="shops"] {

    .static-text-container {
      float: left

      width: 100%

      margin-top: 30px

      @media (min-width: 769px) {
        padding: 0 20px
      }
    }

    .left-bar {
      @media (min-width: 769px) and (max-width: 1279px) {
        width: 300px
        height: auto
      }
      @media (max-width: 768px) {
        width: 100%
        height: auto
        margin-top: 20px
      }
    }

    .breadcrumbs {
      @media (min-width: 1280px) {
        position: absolute
        left: 340px
        top: 184px
      }
      @media (min-width: 769px) and (max-width: 1279px) {
        position: absolute
        left: 300px
        top: 20px
      }
      @media (max-width: 599px) {
        padding-left: 10px
      }
    }

    .right-bar {
      padding-top: 60px

      @media (min-width: 769px) and (max-width: 1279px) {
        float: none
        margin-left: 300px
        width: auto
      }

      @media (max-width: 768px) {
        padding-top: 10px
      }
    }

    .dropdown-box-container {
      @media (min-width: 769px) {
        display: none
      }

      margin-bottom: 15px

      margin-top: 5px

      float: left

      width: 100%

      padding: 0 20px

      @media (max-width: 599px) {
        padding: 0 15px
      }

      > .title {
        display: inline-block
        width: 100%

        font-size: 14px

        margin-bottom: 10px
      }
    }

    .dropdown-box {
      height: 40px

      &.disabled {
        opacity: .5
      }

      @media (min-width: 600px) {
        width: 260px

        &:not(:last-child) {
          margin-right: 15px
        }
      }
      @media (max-width: 599px) {
        width: 100%

        &:last-child {
          margin-top: 10px
        }
      }

      .dropdown-box-title {
        span {
          line-height: 40px
        }
        svg {
          margin-top: 12px
        }
      }

      .dropdown-box-options {
        background-color: #fff
        top: 39px

        > .relative {
          width: 100%
          max-height: 150px
        }
      }

      .dropdown-box-options {
        > span {
          height: 100%
          max-width: 100%
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
        }
      }

      &.active {
        background-color: #fff
      }
    }

    .map-links-container {

      @media (max-width: 768px) {
        display: none!important
      }

      float: left
      width: 100%

      margin-top: 20px

      text(proxima-reg, 13px, main-black, 32px)

      .map-link {
        .title {
          padding-left: 20px

          @media (min-width: 1281px) {
            &:hover {
              background-color: #f1f1f1
            }
          }

          @media (max-width: 1280px) {
            &:active {
              background-color: #f1f1f1
            }
          }
          cursor: pointer
        }
        .content {
          padding-left: 35px

          visibility: hidden

          height: 0

          opacity: 0

          transition: opacity .3s ease

          .map-link-address {
            @media (min-width: 1281px) {
              &:hover {
                text-decoration: underline
              }
            }

            @media (max-width: 1280px) {
              &:active {
                text-decoration: underline
              }
            }

            cursor: pointer
          }
        }
        &.active {
          .content {
            visibility: visible

            height: auto

            opacity: 1
          }
        }
      }
    }

    #map {
      float: left

      width: 850px
      max-width: 100%
      min-width: 55%

      height: 550px

      @media (max-width: 599px) {
        height: 350px
      }
    }
  }
}