main {
  &[data-page="static"] {
    .left-bar {
      @media (min-width: 1024px) and (max-width: 1279px) {
        width: 300px
        height: auto
      }
      @media (max-width: 1023px) {
        width: 100%
        height: auto
        margin-top: 20px
      }
    }

    .breadcrumbs {
      @media (min-width: 1280px) {
        position: absolute
        left: 340px
        top: 184px
      }
      @media (min-width: 1024px) and (max-width: 1279px) {
        position: absolute
        left: 300px
        top: 20px
      }
      @media (max-width: 599px) {
        padding-left: 10px
      }
    }

    .right-bar {
      padding-top: 60px

      @media (min-width: 1024px) and (max-width: 1279px) {
        float: none
        margin-left: 300px
        width: auto
      }

      @media (max-width: 1023px) {
        padding-top: 10px
      }
    }

    .static-pages-list {
      display: inline-block
      width: 100%

      @media (min-width: 1024px) {
        padding-top: 15px
      }

      @media (min-width: 1280px) {
        padding-bottom: 18px
      }
      @media (max-width: 1023px) and (min-width: 600px) {
        padding: 0 20px
      }
      @media (max-width: 599px) {
        padding: 0 15px
      }
    }

    .static-pages-item {
      float: left
      width: 100%
      height: 33px
      transition: background-color .2s ease
      cursor: pointer
      z-index: initial

      .color-bar {
        float: left
        position: relative
        width: 5px
        height: 33px
        left: -5px
        top: 0
        background-color: main-orange

        transition: transform .2s ease,-webkit-transform .2s ease
      }

      .item-name {
        float: left
        height: 100%
        text(proxima-reg, 13px, main-black, 33px)
        font-weight: 400

        margin-left: 15px
      }

      @media (min-width: 1281px) {
        &:hover {
          background-color: #f1f1f1
          .color-bar {
            transform: translateX(5px)
          }
        }
      }
      @media (max-width: 1280px) {
        &:active {
          background-color: #f1f1f1
          .color-bar {
            transform: translateX(5px)
          }
        }
      }
      @media (max-width: 1023px) {
        display: inline-block
        float: none
        width: auto

        .item-name {
          margin-left: 0

          color: main-blue
          text-decoration: underline
        }

        .color-bar {
          display: none !important
        }

        &:not(:last-child) {
          margin-right: 15px
        }
      }
      @media (max-width: 599px) {
        width: 100%
        height: 20px

        .item-name {
          line-height: 20px
        }
      }
    }

    .static-text-container {
      float: left
      width: 100%
      padding: 0 20px

      margin-top: 0

      @media (max-width: 599px) {
        padding: 0 15px

        margin-top: 10px
      }

      h3 {
        font-size: 20px
      }

      a {
        color: main-black
        text-decoration: underline
      }

      img {
        max-width: 100%
      }

      ul li {
        list-style-type: disc
        margin-left: 20px
      }
      .no-marker-list {
        li {
          list-style-type: none!important
        }
      }
    }
  }
}