mixin svg(icon)
    svg(class = icon)
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href=`./img/svg-default.svg#${icon}`)
mixin item(href)
    span.default-item(data-id=`${href}`, data-price=`${100 + href}`, data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating=`${href}`)
        a.default-item-preview(href=`#${href}`)
            .inline-middle
            img(data-src="./pic/item-preview.png")
        a.default-item-title(href=`#${href}`) Chicco: Термический контейнер для питания Step Up
        .default-item-rating_reviews.clearfix
            .default-item-rating
                +svg('icon-star')
                +svg('icon-star')
                +svg('icon-star')
                +svg('icon-star')
                +svg('icon-star')
            .default-item-reviews 43 отзыва
        .default-item-price
            .default-item-oldPrice
                span
                | 135 000 т
            .default-item-newPrice 125 000 т
        .default-item-buy
            +svg('icon-cart')
        .default-item-purchased
            .view
                +svg('icon-check')
            .hover
                +svg('icon-x-big')
        .default-item-pending
            img(src="./img/preloader.svg")
mixin cart-item(i)
    .cart-item(data-id=`${i}`, data-price=`${100 + i}`, data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating=`${i}`, data-quantity=1)
        .cart-title-column
            .cart-item-check
                label.checkbox
                    input.inline-middle(type="checkbox")
                    .checkbox-control
                        +svg('icon-check')
            .cart-item-preview
                img(src="./pic/item-preview.png")
                .inline-middle.full-height
            .cart-item-title
                a.title(href="#!") Greenfield набор изысканного чая и чай в пакетиках, 30 видов
                span.id Код 65648914365
        .cart-count-column
            .count.minus.disabled -
            input.count.current(type="number", min="1", value="1")
            .count.plus +
        .cart-price-column
            span.total-price 6 666 т
            span.total-discount Скидка 500 т
mixin cart-item-proto(i)
    .cart-item(data-id=`${i}`, data-price=`${100 + i}`, data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating=`${i}`, data-quantity=1)
        .cart-title-column
            .cart-item-preview
                img(src="./pic/item-preview.png")
                .inline-middle.full-height
            .cart-item-title
                a.title(href="#!") Greenfield набор изысканного чая и чай в пакетиках, 30 видов
                span.id Код 65648914365
        .cart-count-column
            span 1шт
        .cart-price-column
            span.total-price 6 666 т
            span.total-discount Скидка 500 т
mixin cart-item-delayed(i)
    .cart-item(data-id=`${i}`, data-price=`${100 + i}`, data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating=`${i}`, data-quantity=1)
        .cart-title-column
            .cart-item-check
                label.checkbox
                    input.inline-middle(type="checkbox")
                    .checkbox-control
                        +svg('icon-check')
            .cart-item-preview
                img(src="./pic/item-preview.png")
                .inline-middle.full-height
            .cart-item-title
                a.title(href="#!") Greenfield набор изысканного чая и чай в пакетиках, 30 видов
                span.id Код 65648914365
        .cart-price-column
            span.total-price 6 666 т
            span.total-discount Скидка 500 т