extends ../../extend/default.pug
block variables
    - var title = 'Marwin.kz - news - single';
block main
    main(data-page='news')
        include ../../components/menu.pug
        .left-bar.pull-left
            .menu.category-menu.hidden-portrait(ontouchstart)
                nav.categories-container.clearfix
                    .category-separator Новинки
                    a.category(href="#!")
                        div.color-bar
                        .category-name Модная школа 2016
                    a.category(href="#!")
                        div.color-bar
                        .category-name Летние новинки
                    a.category(href="#!")
                        div.color-bar
                        .category-name Книги
                    a.category(href="#!")
                        div.color-bar
                        .category-name Видеоигры
                    a.category(href="#!")
                        div.color-bar
                        .category-name Фильмы
                    a.category(href="#!")
                        div.color-bar
                        .category-name Музыка
                    a.category(href="#!")
                        div.color-bar
                        .category-name Активный отдых
                    a.category(href="#!")
                        div.color-bar
                        .category-name Творчество и хобби
                    a.category(href="#!")
                        div.color-bar
                        .category-name Авторы
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            include ../../components/breadcrumbs.pug
            a.back-to-prev.shown-portrait(href="#!")
                +svg('icon-arrow')
                span Новинки
            .menu.category-menu.shown-portrait(ontouchstart)
                nav.categories-container.clearfix
                    a.category(href="#!")
                        div.color-bar
                        .category-name Модная школа 2016
                    a.category(href="#!")
                        div.color-bar
                        .category-name Летние новинки
                    a.category(href="#!")
                        div.color-bar
                        .category-name Книги
                    a.category(href="#!")
                        div.color-bar
                        .category-name Видеоигры
                    a.category(href="#!")
                        div.color-bar
                        .category-name Фильмы
                    a.category(href="#!")
                        div.color-bar
                        .category-name Музыка
                    a.category(href="#!")
                        div.color-bar
                        .category-name Активный отдых
                    a.category(href="#!")
                        div.color-bar
                        .category-name Творчество и хобби
                    a.category(href="#!")
                        div.color-bar
                        .category-name Авторы
                    .category-separator
                        span.opened Показать новинки
                        span.closed Скрыть новинки
                        +svg('icon-triangle')
            h1.page-title.pull-left Для бойцов игрового фронта — акция в «Меломан Games»
            .container.pull-left.single-news
                p Сделайте предзаказ на видеоигру «Watch Dogs 2» для X-Box One (Gold Edition и Deluxe Edition) и для PS4 (Deluxe Edition и Gold Edition) и станьте гарантированным обладателем игры вместе с релизом 15 ноября.
                .img-container
                    img(src="./pic/news-single.png")
                p.
                    В «Watch Dogs 2» талантливый хакер Маркус объединится с хакерской группой DedSec, чтобы противостоять системе глобального контроля ctOS 2.0, которую криминалитет использует, чтобы отслеживать и манипулировать жизнью горожан.<br />
                    <b>Особенности Watch Dogs 2</b> <br />
                    Исследуйте огромный мир, наполненный множеством возможностей: взламывайте дорожную инфраструктуру в то время, как вы участвуете в опасных погонях на автомобилях по извилистым улицам Сан-Франциско; пробегитесь по крышам красочных и ярких районов Окленда и побывайте в офисах компаний Силиконовой долины. Родина технической революции таит в себе множество секретов.<br />
                    <b>Взлом — это ваше оружие</b> <br />
                    Взламывайте всё, подчините себе город и получите все личные данные горожан. Возьмите под свой контроль беспилотные летательные аппараты, автомобили, краны, роботов и многое другое. Взламывайте своих врагов и простых прохожих — манипулируйте ими по-разному, чтобы создавать непредсказуемые ситуации. Любое транспортное средство и любое подключенное устройство может быть взломано!<br />
                    <b>Вы — хакер</b> <br />
                    Используйте взлом и скрытность — проходите миссии, не устраняя ни одного врага. Или комбинируйте взлом с применением оружия и прорывайтесь сквозь строй врагов. Улучшайте навыки и гаджеты — дрона, радиомашину, оружие из 3D-принтера, и многое другое.<br />
                    Подключайтесь к своим друзьям<br />
                    Мгновенно подключайтесь к миру своих друзей в новых кооперативных и соревновательных режимах, которые доступны в совместном для игроков открытом мире.<br />
                    Новые невероятные возможности в продолжении легендарной игры ждут вас с 15 ноября 2016 года.
                ul Условия сбора предзаказа:<br />
                    li Предзаказ на «Watch Dogs 2» (Gold Edition и Deluxe Edition)для  X-Box One и (Deluxe Edition и Gold Edition) для PS4 открыт только в интернет-магазине meloiman.kz до 15 ноября 2016 года.
                    li Оформляя предзаказ на «Watch Dogs 2» в интернет-магазине meloman.kz, вы становитесь гарантированным обладателем игры.