extends ../../extend/default.pug
block variables
    - var title = 'Marwin.kz - sales';
block main
    main(data-page='news')
        include ../../components/menu.pug
        .left-bar.pull-left
            .menu.category-menu.hidden-portrait(ontouchstart)
                nav.categories-container.clearfix
                    .category-separator Тип Акции
                    a.category(href="#!")
                        div.color-bar
                        .category-name Все акции
                    a.category(href="#!")
                        div.color-bar
                        .category-name Товар дня
                    a.category(href="#!")
                        div.color-bar
                        .category-name Подарок в комплекте
                    a.category(href="#!")
                        div.color-bar
                        .category-name Скидка
                    a.category(href="#!")
                        div.color-bar
                        .category-name Акции интернет - магазина
                    a.category(href="#!")
                        div.color-bar
                        .category-name Завершенные
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            include ../../components/breadcrumbs.pug
            h1.page-title.pull-left Акции
            .menu.category-menu.shown-portrait(ontouchstart)
                nav.categories-container.clearfix
                    a.category(href="#!")
                        div.color-bar
                        .category-name Все акции
                    a.category(href="#!")
                        div.color-bar
                        .category-name Товар дня
                    a.category(href="#!")
                        div.color-bar
                        .category-name Подарок в комплекте
                    a.category(href="#!")
                        div.color-bar
                        .category-name Скидка
                    a.category(href="#!")
                        div.color-bar
                        .category-name Акции интернет - магазина
                    a.category(href="#!")
                        div.color-bar
                        .category-name Завершенные
                    .category-separator
                        span.opened Показать акции
                        span.closed  Скрыть акции
                        +svg('icon-triangle')
            .container.pull-left
                .single-item.sales
                    a.left-side.pull-left(href="#!")
                        h3.item-title.mobile Для бойцов игрового фронта — акция в «Меломан Games»
                        img(src="./pic/news-sales.png")
                    .right-side
                        .stay-top
                            a.item-title.desktop(href="#!") Для бойцов игрового фронта — акция в «Меломан Games»
                            span.item-preview-text Так приятно приобретать необходимые товары себе и близким просто так, без повода и, конечно, по специальной выгодной цене! Это отлично поднимает настроение. И чтобы ваше настроение было отличным, пользуйтесь нашим предложением «Товар дня»: всё самое лучшее — интересное и занимательное —  со скидкой -20% в интернет-магазине «Меломан».
                                                 | Так приятно приобретать необходимые товары себе и близким просто так, без повода и, конечно, по специальной выгодной цене! Это отлично поднимает настроение. И чтобы ваше настроение было отличным, пользуйтесь нашим предложением «Товар дня»: всё самое лучшее — интересное и занимательное —  со скидкой -20% в интернет-магазине «Меломан». Так приятно приобретать необходимые товары себе и близким просто так, без повода и, конечно, по специальной выгодной цене! Это отлично поднимает настроение. И чтобы ваше настроение было отличным, пользуйтесь нашим предложением «Товар дня»: всё самое лучшее — интересное и занимательное —  со скидкой -20% в интернет-магазине «Меломан». 
                            a.item-read-more(href="#!") Читать больше
                        .stay-bottom
                            .item-type
                                span Тип акции:&nbsp
                                a(href="#!") Товар дня
                            span.item-left До завершения акции осталось: <b>1398</b> дня
                .single-item.sales
                    a.left-side.pull-left(href="#!")
                        h3.item-title.mobile Для бойцов игрового фронта — акция в «Меломан Games»
                        img(src="./pic/news-sales.png")
                    .right-side
                        .stay-top
                            a.item-title.desktop(href="#!") Для бойцов игрового фронта — акция в «Меломан Games»
                            span.item-preview-text Так приятно приобретать необходимые товары себе и близким просто так, без повода и, конечно, по специальной выгодной цене! Это отлично поднимает настроение. И чтобы ваше настроение было отличным, пользуйтесь нашим предложением «Товар дня»: всё самое лучшее — интересное и занимательное —  со скидкой -20% в интернет-магазине «Меломан».
                                | Так приятно приобретать необходимые товары себе и близким просто так, без повода и, конечно, по специальной выгодной цене!
                            a.item-read-more(href="#!") Читать больше
                        .stay-bottom
                            .item-type
                                span Тип акции:&nbsp
                                a(href="#!") Скидка
                            span.item-left До завершения акции осталось: <b>23</b> дня
                .single-item.sales
                    a.left-side.pull-left(href="#!")
                        h3.item-title.mobile Для бойцов игрового фронта — акция в «Меломан Games»
                        img(src="./pic/news-sales.png")
                    .right-side
                        .stay-top
                            a.item-title.desktop(href="#!") Для бойцов игрового фронта — акция в «Меломан Games»
                            span.item-preview-text Так приятно приобретать необходимые товары себе и близким просто так!
                            a.item-read-more(href="#!") Читать больше
                        .stay-bottom
                            .item-type
                                span Тип акции:&nbsp
                                a(href="#!") Подарок в комплекте
                            span.item-left До завершения акции осталось: <b>92</b> дня
            include ../../components/pagination.pug