extends ../../extend/default.pug
block variables
    - var title = 'Marwin.kz - search';
block main
    main(data-page='search')
        include ../../components/menu.pug
        .left-bar.pull-left
            form.filters.pull-left
                .filters-mobile-title
                    span Настройка поиска
                    +svg('icon-triangle')
                .filter-block
                    .filter-block-items-container
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name="photo", value="true")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle С фотографиями
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name="available", value="true", checked)
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle Есть в наличии
                .filter-block
                    .filter-block-title Категории
                    .filter-block-items-container
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='category', value="1", checked)
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle Книги игрушки
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='category', value="2")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle Познавательная
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='category', value="3")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle Рассказы
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='category', value="4")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle Сказки
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='category', value="5")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle Расскраски
            .found-articles
                .title А также нашлось в новостях, новинках, акциях
                .found-articles-item
                    img(src="./pic/articles-item-1.png")
                    a.title(href="!#") Читайте книгу Э.Л. Джеймс - смотрите “50 оттенков серого” сегодня в кино
                    span.text Она сегодня только появился на книжных полках. Книга стала рекордсменом.
                .found-articles-item
                    img(src="./pic/articles-item-2.png")
                    a.title(href="!#") Читайте книгу Э.Л. Джеймс - смотрите “50 оттенков серого” сегодня в кино
                    span.text Она сегодня только появился на книжных полках. Книга стала рекордсменом.
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            h1.page-title.pull-left По запросу "Сказки" найдено 150 товаров
            .items-container
                - var n = 0;
                while n < 32
                    +item(n++)
                .fill-empty-space-item
                .fill-empty-space-item
                .fill-empty-space-item
                .fill-empty-space-item
                .fill-empty-space-item
                .fill-empty-space-item
            include ../../components/pagination.pug

