extends ../../../extend/default.pug
block variables
    - var title = 'Marwin.kz - static - contacts';
block main
    main(data-page='static')
        include ../../../components/menu.pug
        .left-bar.pull-left
            include ../../../components/breadcrumbs.pug
            nav.static-pages-list
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Договор публичной оферты
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Условия доставки
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name О нас
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Контакты интернет-магазина
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            h1.page-title.pull-left Контакты интернет-магазина
            .static-text-container
                p.
                    Наши специалисты будут рады ответить на ваши вопросы и помочь с выбором и заказом товаров. <br />
                    Телефоны интернет-магазина Меломан (24 часа в сутки, 7 дней в неделю)
                p.
                    <a href="tel:8 800 080 5900">8 800 080 5900</a> (звонок по Казахстану бесплатный) <br />
                    <a href="tel:8 (727) 338 3800">8 (727) 338 3800</a> <br />
                    E-mail: <a href="mailto:shop@meloman.kz">shop@meloman.kz</a>
                p.
                    ТОО «Меломан HOME VIDEO» <br />
                    Юридический адрес: Республика Казахстан, г. Усть-Каменогорск, ул. Кирова, 46 <br />
                    ИИК KZ846010151000063520 (KZT) БИК HSBKKZKX <br />
                    ВКО Филиал АО "Народный Банк Казахстана" г. Усть-Каменогорск <br />
                p.
                    Св-во по НДС 18001 № 0022848 от 17.09.12 г. <br />
                    Св-во о гос перерег. 17050-1917-ТОО от 19.04.10 г. <br />
                    БИН 040840001482    ОКПО 40333639: ОКЭД 47630 <br />
