extends ../../../extend/default.pug
block variables
    - var title = 'Marwin.kz - static - delivery';
block main
    main(data-page='static')
        include ../../../components/menu.pug
        .left-bar.pull-left
            include ../../../components/breadcrumbs.pug
            nav.static-pages-list
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Договор публичной оферты
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Условия доставки
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name О нас
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Контакты интернет-магазина
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            h1.page-title.pull-left Условия доставки и способы оплаты товаров
            .static-text-container
                p Стоимость, сроки и доступные способы доставки и оплаты различаются для внутристрановых и международных заказов. Выберите наиболее удобный способ при формировании заказа.
                p: a(href="#!") Перейти к условиям оплаты
                h3 Cпособы доставки товаров
                h3 Экспресс-доставка по Астане и Алматы. Выбирайте: до двери или в пункт выдачи!
                p Экспресс-доставка доступна для части товарного ассортимента интернет-магазина. Предложение действительно, если в карточке товара присутствует ярлык «Быстрая доставка».
                p
                    ul.no-marker-list
                        li Заказы, оформленные с 00.00 до 15.00 — доставляются в течение дня заказа. Обычно доставка занимает не более 6 часов.
                        li Заказы, оформленные с 15.00 до 00.00 — доставляются в течение следующего дня.
                        li Заказ считается оформленным после подтверждения его оператором интернет-магазина по телефону и/или email.
                        li При отсутствии отдельных товаров срок доставки может быть изменен.
                        li Вы можете выбрать удобное для вас время доставки.
                p Важно: к заказам с экспресс-доставкой не предоставляются и не доставляются подарки.
                p
                    ul.no-marker-list <b> Существует два варианта доставки: </b>
                        li Бесплатная доставка заказов в магазины MARWIN или «Меломан» по Алматы и Астане.
                        li Экспресс-доставка «до двери» по Алматы и Астане.
                p <b>Товары с возможностью экспресс-доставки отмечены желтым стикером</b>
                img(src="./img/delivery.png")
                p Если в вашей корзине есть и товары с желтым стикером «Экспресс-доставка», и товары без стикера, по вашему желанию заказ будет разделен на две части. Товары со стикером вы получите быстро, остальные — немного позднее. Оператор нашего колл-центра свяжется с вами и предложит этот вариант. Если у вас остались вопросы, звоните в любое время по короткому бесплатному номеру 7890 (с мобильного телефона).
                p.
                    Бесплатная доставка заказов в магазины MARWIN или «МЕЛОМАН» по Казахстану <br />
                    Способ доступен для городов, где имеются магазины MARWIN или «МЕЛОМАН». Полный список розничных магазинов можно узнать в разделе «Торговая сеть». Мы доставим заказ в выбранный вами магазин и уведомим по телефону, SMS или по email. Доставка бесплатна и необходимо будет оплатить только стоимость полученных товаров в кассе.
                p.
                    <b>Курьерская доставка заказов «до двери» по Астане и Алматы</b> <br />
                    Способ доставки доступен для получателей в гг. Астана и Алматы. Доставка осуществляется курьером по принципу «до двери» по адресу, указанному при оформлении заказа. Перед выездом курьер обязательно свяжется с вами по контактному телефону, чтобы уточнить удобное время получения заказа и детали доставки. Оплата за заказ и доставку производится наличными курьеру при получении или по предоплате платежной карточкой. Стоимость доставки в пределах административной границы города составляет 300 тенге, заказы стоимостью выше 7000 тенге, доставляются бесплатно. За пределы границы города доставка оплачивается дополнительно 100 тенге за 1 километр. Доставка осуществляется в течение 1-2 рабочих дней с момента сбора заказа или его части, за исключением товаров с желтым ярлыком «Экспресс доставка». Дату формирования заказа можно уточнить у оператора интернет-магазина по короткому номеру 7890 (звонок с мобильного телефона бесплатный) или дождаться звонка от нас.
                p.
                    <b>Курьерская служба — доставка заказов «до двери» по Каз</b> <br />
                    Способ доставки доступен на всей территории Республики Казахстан. Доставка осуществляется по принципу «до двери» курьерской службой. Заказ доставляется по адресу, указанному при оформлении заказа. Перед выездом курьер обязательно свяжется с вами по контактному телефону, чтобы уточнить удобное время получения заказа и детали доставки. Оплата за заказ и доставку производится только по предоплате платежной карточкой.
                p.
                    <b>Доставка заказов до ближайшего отделения «Казпочты» по Казахстану</b> <br />
                    Доставка осуществляется наземным транспортом до почтового отделения АО «Казпочта», ближайшего к адресу получения, указанного при оформлении заказа. После прибытия заказа в почтовое отделение будет отправлено извещение. Для получения заказа необходимо прибыть в указанное отделение почты, при себе иметь извещение и документ, удостоверяющий личность. Заказ можно получить в течение 30 дней. Оплата за заказ и доставку производится по предоплате платежной карточкой или при получении в отделении Казпочты (наложенный платеж).
                p.
                    <b>Международные почтовые доставки по всему миру</b> <br />
                    Почтовая доставка осуществляется в соответствии с правилами Всемирного почтового союза, утвержденными на Всемирной почтовой конвенции в Женеве 12 августа 2008 года. Сроки доставки из Алматы могут меняться в зависимости от удаленности региона доставки, таможенных процедур, климатических, социальных и иных обстоятельств.
                p Внимание! При доставке отправления за пределы СНГ адрес должен быть написан англоязычной латиницей без умляутов, кроме тех стран СНГ, где корреспонденция, адресованная на русском языке, может быть корректно обработана (например, Белоруссия, Казахстан, Украина и др.), с указанием почтового индекса в тех странах, где он используется. Полностью указывайте ФИО, в соответствии с документами, удостоверяющим вашу личность.
                h3 Способы оплаты заказов
                p Выбор способов оплаты зависит от выбранного региона и способа доставки заказа.
                p.
                    Наличными или банковской картой в магазине «MARWIN» или «МЕЛОМАН»<br />
                    Оплата заказов, бесплатно доставленных в выбранный магазин торговой сети «MARWIN» и «МЕЛОМАН» осуществляется наличными или банковскими картами в кассе магазина.
                p.
                    <b>Наличными курьеру</b> <br />
                    Заказ оплачивается наличными курьеру при его получении. Вместе с заказом получаете документы, подтверждающие оплату.
                p.
                    <b>Интернет-банкинг</b> <br />
                    Если Вы являетесь клиентом услуги интернет-банкинга следующих банков Казахстана: <br />
                    <ul class="no-marker-list">
                        <li> АО «Kaspi Bank»</li>
                        <li> АО «ForteBank»</li>
                        <li> АО «Евразийский банк»</li>
                        <li> АО «Bank RBK»</li>
                        <li> АО «Нурбанк»</li>
                        <li> АО «АТФБанк»</li>
                        <li> АО «БТА Банк»</li>
                        <li> ДО АО Банк ВТБ (Казахстан)</li>
                        <li> АО ДБ «Альфа-Банк» (Казахстан)</li>
                        <li> АО «Казкоммерцбанк»</li>
                    </ul>
                p Достаточно зайти в личный кабинет интернет-банкинга найти в списке поставщиков услуг — Интернет-магазин «МЕЛОМАН», указать номер заказа и сумму перевода. Размер комиссии уточняйте на веб-ресурсе Вашего Банка.
                p Оплата через QIWI Терминал и QIWI Кошелек
                p QIWI – это удобная оплата товаров и услуг по всему миру. Сервис позволяет погашать кредиты, пополнять счет мобильного телефона, покупать вещи в интернет-магазинах и переводить деньги другим пользователям системы. Сайт www.qiwi.com, приложения для социальных сетей и мобильных платформ и QIWI Терминалы – 4 удобных интерфейса помогают оплатить покупку в любом месте и в любой момент. При оплате можно пользоваться не только счетом QIWI Wallet, но банковской картой и наличными. На данный момент можно оплатить заказы «MARWIN» и «МЕЛОМАН» в сети терминалов QIWI по всему Казахстану. Инструкцию по оплате в QIWI терминале смотрите по ссылке.
                p <b>Платежной карточкой</b>
                p Способ оплаты предусматривает оплату по банковской карте. К оплате принимаются карты практически любого банка, систем Visa и MasterCard, для которых Вашим банком-эмитентом разрешены финансовые операции в Интернете. Также принимаются карты CirrusMaestro,  выпущенные только АО «Казкоммерцбанк».
                p Внимание! Не все банковские карты изначально имеют опцию оплаты в Интернете. Для того чтобы узнать, поддерживает ли Ваша карта проведение финансовых операций в Интернете проконсультируйтесь с представителем Вашего банка-эмитента. Обычно, если карта не имеет такой опции, то это решается посредством оформления соответствующего заявление на подключение данной услуги в Вашем банке. Подключение проводится единожды и действует для любых ресурсов Интернет, принимающих такой способ оплаты. Для уточнения деталей, пожалуйста, обратитесь в свой банк.
                p Система автоматически перенаправит вас на страницу электронных платежей ePay АО «Казкоммерцбанк» для ввода карточных данных. Пожалуйста, следуйте инструкциям на странице. После того как вы убедитесь, что поля с данными банковской карты и электронной почты заполнены корректно, необходимо нажать кнопку «Оплатить». На адрес электронной почты, указанный на этой странице, придет уведомление о проведенном платеже. По умолчанию в поле «Ваша электронная почта» вносится почта, указанная при регистрации на сайте «МЕЛОМАН». Вы можете изменить email-адрес получения уведомлений. После завершения оплаты можете покинуть эту страницу, либо вернуться в интернет-магазин «МЕЛОМАН», нажав соответствующую кнопку.
                p <b>Наложенный платеж</b>
                p Этот способ оплаты доступен на территории Республики Казахстан в тех городах и населенных пунктах, где имеются почтовые отделения АО «Казпочта». После прибытия заказа в почтовое отделение, по указанному вами адресу будет отправлено извещение. Вам следует прибыть в указанное почтовое отделение, при себе необходимо иметь извещение и документ, удостоверяющий личность. После оплаты, сможете получить посылку (бандероль) с вашим заказом.
                p Обращаем ваше внимание, что это один из самых затратных способов доставки. Сумма наложенного платежа складывается из:
                    ul.no-marker-list
                        li заявленной стоимости заказа (т.е. стоимости выбранных товаров);
                        li почтового тарифа за доставку, определяемого в зависимости от веса и расстояния;
                        li почтового страхового сбора, определяемого от заявленной стоимости посылки и НДС с общей суммы сборов за посылку;
                        li комиссионного сбора почты за перевод денег.
                p Все эти расходы наша система рассчитает автоматически в зависимости от веса заказа и региона доставки. Но прежде чем окончательно подтвердить заказ, пожалуйста, убедитесь, что сумма наложенного платежа вас полностью устраивает.
                p <b>Безналичный расчет</b>
                p Способ оплаты, доступный для юридических лиц и индивидуальных препринимателей, при котором оплата производится безналичным переводом по реквизитам, указанным в выставляемом счете.



