extends ../../../extend/default.pug
block variables
    - var title = 'Marwin.kz - static - about us';
block main
    main(data-page='static')
        include ../../../components/menu.pug
        .left-bar.pull-left
            include ../../../components/breadcrumbs.pug
            nav.static-pages-list
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Договор публичной оферты
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Условия доставки
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name О нас
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Контакты интернет-магазина
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            h1.page-title.pull-left О нас
            .static-text-container
                p Интернет-магазин Meloman.kz — это выгодные цены и более чем 80 000 наименований товаров, включающих в себя ассортимент еще двух направлений холдинга «Меломан» — гипермаркета товаров для ремонта, дома и дачи komfort.kz и магазина детcких товаров marwin.kz.
                p.
                    Оформляйте в одном заказе все покупки: книжные новинки, блокбастеры на DVD или Blu-ray, лучшие канцелярские принадлежности и музыку на CD, MP3, виниле, видеоигры, игры на PC, игровые консоли PS4, PS3, Xbox  One, Xbox 360, а еще детские игрушки LEGO, CHICCO, MATTEL, GONHER, NEW BRIGHT, GOON, ITALBABY, HASBRO, Stiga, Monster High, John, Wehncke, Sylvanian Families, Alpen Gaudi, всё для дома, спорта, туризма и отдыха и многое другое. <br />
                    Пользуйтесь привилегиями бонусной программы. Сегодня бонусный клуб  — это более 70 000 держателей карт. Копите и тратьте бонусы при покупках как в meloman.kz и marwin.kz, так и во всех розничных магазинах «Меломан», MARWIN и «Комфорт». <br />
                    Интернет-магазин meloman.kz работает 24 часа в сутки, 7 дней в неделю, без перерывов и выходных. Пользуйтесь услугами круглосуточного сall-центра или заказывайте звонок с сайта в любое удобное время. Товары можно также приобрести по телефону: 8 800 080 5900. <br />
                    Делайте покупки не выходя из дома и офиса. У нас большая сеть пунктов выдачи товаров по всему Казахстану, вы можете забрать ваш заказ  самостоятельно или оформить доставку курьером или почтой. <br />
                    Торговая сеть «Меломан» представлена более чем 30-ю магазинами в каждом крупном городе по всей территории Республики Казахстан: Алматы, Астане, Атырау, Актау, Актобе, Зыряновске, Караганде, Костанае, Павлодаре, Семее, Таразе, Уральске, Усть-Каменогорске и Шымкенте. <br />
                    Приобретайте товары онлайн или заходите в комфортные и удобные магазины, а дружественные и внимательные консультанты помогут вам в выборе. <br />
                    Интернет-магазин Meloman.kz принадлежит холдингу «Меломан», деятельность которого связана с продажей и распространением контента домашних развлечений (DVD, книги, музыка, игры), электроники и детских товаров на территории Республики Казахстан. <br />