extends ../../../extend/default.pug
block variables
    - var title = 'Marwin.kz - static - about company';
block main
    main(data-page='static')
        include ../../../components/menu.pug
        .left-bar.pull-left
            include ../../../components/breadcrumbs.pug
            nav.static-pages-list
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name О компании
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name История компании
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Наши магазины
                a.static-pages-item(href="#!")
                    .color-bar
                    .item-name Вакансии
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            h1.page-title.pull-left О компании
            .static-text-container
                p <b>«Меломан» — крупнейшая компания на рынке домашних развлечений в Казахстане.</b>
                p История компании началась с открытия киоска в Усть-Каменогорске. Спустя годы компания сформировалась как холдинговая структура, в состав которой вошли несколько предприятий различных сфер торговли, производства и оказания услуг.
                p В течение 25-летней истории холдинг «Меломан» стал крупнейшим официальным дистрибьютором ведущих мировых брендов: Sony Pictures, Disney, MARVEL, LEGO, CHICCO, Warner Bros. Entertainment, 20th Century Fox Home Entertainment, «Paramount Pictures», «Universal Music Russia», «Мосфильм», «Союзмультфильм» и многих других компаний.
                p Торговая сеть «Меломан» представлена более чем 30-ю магазинами в каждом крупном городе по всей территории Республики Казахстан: Алматы, Астане, Атырау, Актау, Актобе, Зыряновске, Караганде, Костанае, Павлодаре, Семее, Таразе, Уральске, Усть-Каменогорске и Шымкенте. Совокупная площадь магазинов составляет 16 000 кв. метров. Площадь торговых залов «Меломан» варьируется от 50 до 1 500 кв. метров. «Меломан» также владеет сетью из 11-ти оптовых складов, что позволяет компании занимать значительный объём рынка.
                p На сегодняшний день ключевыми проектами компании являются сеть семейных магазинов MARWIN / Меломан, строительные гипермаркеты «Комфорт», торгово-развлекательный комплекс «Арсенал», интернет-проекты: meloman.kz, marwin.kz, komfort.kz, privezi.kz и bilet.meloman.kz.
                p Интернет-магазин Meloman.kz принадлежит холдингу «Меломан». Приобретайте товары онлайн или заходите в комфортные и удобные магазины, а дружественные и внимательные консультанты помогут вам в выборе.
                p.
                    ТОО «Фирма Стинг» <br />
                    ОКПО 30053844, cв-во по НДС 18001 № 0022852 от 17.09.12 г. <br />
                    Справка о гос. перерег. 1181-1917-01-ТОО/ИУ/ от 11.11.2013 г. <br />
                    БИН 940240000170 ОКЭД68200 <br />
                    Юридический адрес: 070019, Республика Казахстан, г. Усть-Каменогорск, ул. Кирова, 46. <br />
                    Почтовый адрес: 070019, Республика Казахстан, г. Усть-Каменогорск, ул. Кирова, 46. <br />
                    Банковские реквизиты: <br />
                    Счет получателя/Account of beneficiary: KZ466010151000063525 <br />
                    Банк получателя/Beneficiary bank: Halyk Bank Kazakhstan, 109 "V" Abai avenue, 050008, Almaty, Kazakhstan <br />
                    SWIFT BIC: HSBKKZKX <br />
                    Корреспондентский счет/Correspondent account: 8900372605 <br />
                    Банк корреспондент/Correspondent bank: THE BANK OF NEW YORK MELLON NEW YORK, NY US <br />
                    SWIFT BIC: IRVTUS3NXXX <br />