@font-face {
  font-family: "roboto-regular";
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'proximanova-regular';
  src: url('../fonts/proxima-nova/proximanova-regular.eot');
  src: url('../fonts/proxima-nova/proximanova-regular.woff') format('woff'), url('../fonts/proxima-nova/proximanova-regular.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova-semibold';
  src: url('../fonts/proxima-nova/proximanova-semibold.eot');
  src: url('../fonts/proxima-nova/proximanova-semibold.woff') format('woff'), url('../fonts/proxima-nova/proximanova-semibold.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}