text( font, size, color, line-height )
	font-family: font
	font-size: size
	color: color
	line-height: line-height

button-two-colors( defaultColor, hoveredColor )
	color: hoveredColor
	background-color: defaultColor
	transition: all .2s ease
	&:hover {
		color: defaultColor
		background-color: hoveredColor
	}

setWH( w, h = w )
	width: w
	height: h

hide()
	opacity: 0
	visibility: hidden

hideY( time = 0.2s, px = -50px )
	hide()
	transform: translateY( px )
	transition: all time ease
	will-change: transform, opacity

show()
	opacity: 1
	visibility: visible
	transform: none

animatedDropdown( time = 0.2s, px = -50px )
	hideY( time, px )
	&.active {
		show()
	}

animatedItem()
	cursor: pointer
	transition: background-color .2s ease
	&:hover,
	&:active {
		background-color: #f1f1f1
	}

animatedTriangle-off( time = 0.3s )
	transform: rotate(0deg)
	transition: transform time ease
	will-change: transform

animatedTriangle-on()
	transform: rotate(180deg)

activeSecondLevelContainer()
	.category-secondLevel-container {
		visibility: visible
		opacity: 1
		transform: translateX(0px)
	}

activeThirdLevelContainer()
	background-color: #f1f1f1

	.category-thirdLevel-container {
		visibility: visible
		opacity: 1
		transform: translateX(0px)
	}
settingsForMenuElements1279( top = 0 )
	position: fixed
	top: top
	padding-bottom: 50px
	height: calc(100vh - 163px)
	overflow-y: scroll !important
	-webkit-overflow-scrolling: touch
settingsForMenuElements1023( top = 0, searchActiveTop = top )
	height: calc(100vh - 104px)
	top: top
	body.search-active & {
		height: calc(100vh - 179px)
		top: searchActiveTop
	}
settingsForMenuElements599( top = 0, search = top, small = top, searchSmall = top )
	height: calc(100vh - 154px)
	top: top
	body.search-active & {
		height: calc(100vh - 201px)
		top: search
	}
	body.header-small & {
		height: calc(100vh - 89px)
		top: small
	}
	body.search-active.header-small & {
		height: calc(100vh - 144px)
		top: searchSmall
	}
blueHoverItem(time = 0.3s, clr = #157fa2)
	transition: background-color time ease, color time ease
	@media (min-width: 1281px) {
		&:hover {
			background-color: clr
		}
	}
	@media (max-width: 1280px) {
		&:active {
			background-color: clr
		}
	}
