extends extend/page_template
block variables 
    - var title = 'Catalog page';
    - var status = 'logged';
block scripts
    // Catalog page components test
    script(src='./test-js/catalog-page.test.js')
block main
    main(data-page='catalog')
        include ../components/menu.pug
        - var authors = ['Ганс Андерсон', 'Майкл Бонд', 'Якоб Гримм', 'Олеся Жукова', 'Ольга Земцова', 'Сьюзен Коллинс', 'Астрид Лингред', 'Григорий Остер', 'Брайан Патерсон', 'Рик Риордан'];
        - var categories = ['Азбуки и буквари', 'Детские энциклопедии', 'Книги на картоне', 'Книги-игрушки', 'Литература для подростков', 'Развивающая литература', 'Рассказы', 'Сказки', 'Школьная классика', 'Внеклассное чтение'];
        - var mainCategories = ['Barbie', 'Disney', 'Дошкольная литература', 'Книги на казахском', 'Азбуки и буквари', 'Внеклассное чтение', 'Сказки', 'Книги для поростков', 'Книги игрушки', 'Книги на картоне', 'Книги на картоне', 'Детская энциклопедия', 'Рассказы', 'Monster hight', 'Развивающая литература', 'Развивающие тетради', 'Lego', 'Дошкольная литература', 'Книги с наклейками'];
        .left-bar.pull-left
            .menu.category-menu.hidden-small
                nav.categories-container.clearfix
                    .category-separator Категория
                    each val, index in categories
                        a.category(href=`#${index}`)
                            div.color-bar
                            .category-name #{val}
                    .category-separator Автор
                    each val, index in authors
                        a.category(href=`#${index}`)
                            div.color-bar
                            .category-name #{val}
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            include ../components/breadcrumbs.pug
            h1.page-title.pull-left Детская литература
            .dropdown-box.links.categories.shown-small.pull-right
                .dropdown-box-title.clearfix
                    span Категории
                    +svg('icon-triangle')
                .dropdown-box-options
                    each val, index in mainCategories
                        a.dropdown-box-option(href="#!") #{val}
            .dropdown-box.links.author.shown-small.pull-right
                .dropdown-box-title.clearfix
                    span Автор
                    +svg('icon-triangle')
                .dropdown-box-options
                    each val, index in authors
                        a.dropdown-box-option(href="#!") #{val}
            .catalog-categories-container
                each val, index in mainCategories
                    a.catalog-category(href="#!")
                        .category-image
                            img(src=`pic/catalog-category-${index + 1}.png`)
                        .category-title
                            span #{val}
                            .inline-middle.full-height
            section#section-name1
                a.section-title(href="#!") Популярные товары
                .items-container.owl-carousel.owl-theme
                    - var n = 0;
                    while n < 6
                        +item(n++)
            section#section-name2
                a.section-title(href="#!") Barbie
                .items-container.owl-carousel.owl-theme
                    - var n = 0;
                    while n < 6
                        +item(n++)
            section#section-name3
                a.section-title(href="#!") Disney
                .items-container.owl-carousel.owl-theme
                    - var n = 0;
                    while n < 6
                        +item(n++)
            section#section-name4
                a.section-title(href="#!") Дошкольная литература
                .items-container.owl-carousel.owl-theme
                    - var n = 0;
                    while n < 6
                        +item(n++)