doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        title Marwin.kz tests - Common (Main page with breadcrumbs as example)
        link(href='../www/css/index.min.css', rel='stylesheet')
        // Mocha
        link(href='./dep/mocha.css', rel='stylesheet')
        script(src='./dep/mocha.min.js')
        // Start mocha
        script. 
            mocha.setup('bdd');
        // Chai
        script(src='./dep/chai.min.js')
        // Sinon
        script(src='./dep/sinon.js')
        // jQuery
        script(src='./dep/jquery-3.1.1.min.js')
    body.logged
        include ../components/header
        main(data-page='main')
            .left-bar.pull-left
                include ../components/menu.pug
                a.left-bar-banner.pull-left(href="#!")
                    img(src="banners/left-bar-banner.png")
                .left-bar-instagram.pull-left
            .right-bar
                include ../components/breadcrumbs
                section#main-banners
                    .banners-container.owl-carousel.owl-theme
                        a(href="#!"): img.owl-lazy(data-src="./banners/big-banner-1.png")
                        a(href="#!"): img.owl-lazy(data-src="./banners/big-banner-2.png")
                        a(href="#!"): img.owl-lazy(data-src="./banners/big-banner-3.png")
                        a(href="#!"): img.owl-lazy(data-src="./banners/big-banner-1.png")
                        a(href="#!"): img.owl-lazy(data-src="./banners/big-banner-2.png")
                        a(href="#!"): img.owl-lazy(data-src="./banners/big-banner-3.png")
                section#super-price
                    a.section-title(href="#!") Супер цена
                    .items-container.owl-carousel.owl-theme
                        span.default-item(data-id="1", data-price="100", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", class='no-rating')
                            a.default-item-preview(href="#!")
                                .inline-middle
                                img(data-src="./pic/item-preview.png")
                            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
                            .default-item-rating_reviews.clearfix
                                .default-item-rating
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                .default-item-reviews 43 отзыва
                            .default-item-price
                                .default-item-oldPrice
                                    span
                                    | 135 000 т
                                .default-item-newPrice 125 000 т
                            .default-item-buy
                                +svg('icon-cart')
                            .default-item-purchased
                                .view
                                    +svg('icon-check')
                                .hover
                                    +svg('icon-x-big')
                            .default-item-pending
                                img(src="./img/preloader.svg")
                        span.default-item(data-id="1", data-price="100", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", class='no-old-price', data-rating='2')
                            a.default-item-preview(href="#!")
                                .inline-middle
                                img(data-src="./pic/item-preview.png")
                            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up и очень длинный текст для демонстрации ненужной фичи для интернет магазина
                            .default-item-rating_reviews.clearfix
                                .default-item-rating
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                .default-item-reviews 43 отзыва
                            .default-item-price
                                .default-item-oldPrice
                                    span
                                    | 135 000 т
                                .default-item-newPrice 125 000 т
                            .default-item-buy
                                +svg('icon-cart')
                            .default-item-purchased
                                .view
                                    +svg('icon-check')
                                .hover
                                    +svg('icon-x-big')
                            .default-item-pending
                                img(src="./img/preloader.svg")
                        span.default-item(data-id="1", data-price="100", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", class='no-old-price no-rating')
                            a.default-item-preview(href="#!")
                                .inline-middle
                                img(data-src="./pic/item-preview.png")
                            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
                            .default-item-rating_reviews.clearfix
                                .default-item-rating
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                .default-item-reviews 43 отзыва
                            .default-item-price
                                .default-item-oldPrice
                                    span
                                    | 135 000 т
                                .default-item-newPrice 125 000 т
                            .default-item-buy
                                +svg('icon-cart')
                            .default-item-purchased
                                .view
                                    +svg('icon-check')
                                .hover
                                    +svg('icon-x-big')
                            .default-item-pending
                                img(src="./img/preloader.svg")
                        span.default-item(data-id="1", data-price="100", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", class='no-old-price no-rating no-reviews')
                            a.default-item-preview(href="#!")
                                .inline-middle
                                img(data-src="./pic/item-preview.png")
                            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
                            .default-item-rating_reviews.clearfix
                                .default-item-rating
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                    +svg('icon-star')
                                .default-item-reviews 43 отзыва
                            .default-item-price
                                .default-item-oldPrice
                                    span
                                    | 135 000 т
                                .default-item-newPrice 125 000 т
                            .default-item-buy
                                +svg('icon-cart')
                            .default-item-purchased
                                .view
                                    +svg('icon-check')
                                .hover
                                    +svg('icon-x-big')
                            .default-item-pending
                                img(src="./img/preloader.svg")
                        - var n = 0;
                        while n < 8
                            +item(n++)
                section#sales
                    a.section-title(href="#!") Акции
                    .sales-item-container.owl-carousel.owl-theme
                        a.sales-item(href="#!")
                            .image
                                img(src="./pic/sales-1.png")
                            .title Сентябрьское предложение на стульчики для кормления
                            .subtitle C 1 по 30 сентября действуют осенние цены на ассортимент стульчиков для кормления, ходунков и других товаров CHICCO. Выбирайте лучшее для развития ваших детей от популярного итальянского бренда. 
                            .footer-text
                                span Тип Акции:&nbsp
                                    span.highlight Скидка
                                span До завершения:&nbsp
                                    span.highlight 5 дней
                        a.sales-item(href="#!")
                            .image
                                img(src="./pic/sales-2.png")
                            .title Распродажа детских товаров
                            .subtitle C 8 по 30 сентября в интернет-магазине marwin.kz действуют приятные скидки на детские товары – кроватки и коляски! Не пропустите распродажу и порадуйте себя или новоиспечённых родителей приятными подарками. 
                            .footer-text
                                span Тип Акции:&nbsp
                                    span.highlight Скидка
                                span До завершения:&nbsp
                                    span.highlight 5 дней
                        a.sales-item(href="#!")
                            .image
                                img(src="./pic/sales-3.png")
                            .title Скидка -40% на коллекцию детской одежды Lucky Child «Улитки»!
                            .subtitle Коллекция «Улитки» Lucky Child — комплекты боди, комбинезонов, ползунков, распашонок, трусов, футболок, шорт, штанишек и шапочек. Нежные кофейно-кремовые тона коллекции радуют глаз и повышают настроение. 
                            .footer-text
                                span Тип Акции:&nbsp
                                    span.highlight Скидка
                                span До завершения:&nbsp
                                    span.highlight 5 дней
                        a.sales-item(href="#!")
                            .image
                                img(src="./pic/sales-4.png")
                            .title Специальная цена на наборы пластилинового мыла
                            .subtitle С 7 по 21 сентября в магазине MARWIN в ТРЦ «MEGA Alma-Ata» и нашем интернет-магазине на разнообразные наборы пластилинового мыла действует специальная цена — 1799 тенге. 
                            .footer-text
                                span Тип Акции:&nbsp
                                    span.highlight Скидка
                                span До завершения:&nbsp
                                    span.highlight 5 дней
                section#new
                    a.section-title(href="#!") Новинки
                    .new-items-container.owl-carousel.owl-theme
                        a.new-item(href="#!")
                            .image
                                .inline-middle.helper
                                img.inline-middle(src="./pic/new-1.png")
                            .title.cropped(data-crop-number="37") Собери сам: оригинальная детская мебель российского производства
                            .subtitle Dan Brown — автор бестселлеров «Код Да Винчи», «Ангелы и демоны», «Инферно»
                                span Подробнее
                        a.new-item(href="#!")
                            .image
                                .inline-middle.helper
                                img.inline-middle(src="./pic/new-2.png")
                            .title.cropped(data-crop-number="37") Идеальная коляска для прогулок по городу
                            .subtitle Совсем скоро встречайте в MARWIN модель 2016 года CHICCO Urban Plus — новую
                                span Подробнее
                        a.new-item(href="#!")
                            .image
                                .inline-middle.helper
                                img.inline-middle(src="./pic/new-3.png")
                            .title.cropped(data-crop-number="37") Осенняя коллекция детской одежды Coccodrillo
                            .subtitle Новая коллекция детской одежды COCCODRILLO — это стильные кофты
                                span Подробнее
                section#best-of-the-day
                    a.section-title(href="#!") Товар дня
                    .items-container.owl-carousel.owl-theme
                        - var n = 0;
                        while n < 6
                            +item(n++)
                section#video
                    a.section-title(href="#!") Видео-обзоры товаров
                    .video-items-container.owl-carousel.owl-theme
                        .video-item
                            .video-container.owl-video(href="https://www.youtube.com/embed/-veTvuvjwYE")
                                iframe(width="100%", scrolling="no", height="100%", data-src="https://www.youtube.com/embed/-veTvuvjwYE", frameborder="0", allowfullscreen)
                            a.video-link(href="#!")
                                .title Эксклюзивная кукла Фрэнки Штейн — охотница за привидениями
                                .subtitle 9 Апреля  2016
                        .video-item
                            .video-container.owl-video(href="https://www.youtube.com/embed/-veTvuvjwYE")
                                iframe(width="100%", scrolling="no", height="100%", data-src="https://www.youtube.com/embed/-veTvuvjwYE", frameborder="0", allowfullscreen)
                            a.video-link(href="#!")
                                .title Сокровища пиратов времени»: постройте свой сюжет популярной книги-игры
                                .subtitle 9 Апреля  2016
                        .video-item
                            .video-container.owl-video(href="https://www.youtube.com/embed/-veTvuvjwYE")
                                iframe(width="100%", scrolling="no", height="100%", data-src="https://www.youtube.com/embed/-veTvuvjwYE", frameborder="0", allowfullscreen)
                            a.video-link(href="#!")
                                .title Выиграйте крутой конструктор LEGO «Сиднейский оперный театр 10234»
                                .subtitle 9 Апреля  2016
                section#calendar
                section#info
                    .info-container
                        .title Интернет-магазин "Meloman"
                        .text
                            span Интернет-магазин Meloman.kz — это выгодные цены и более чем 80 000 наименований товаров, включающих в себя ассортимент еще двух направлений холдинга «Меломан»&nbsp
                                span — гипермаркета товаров для ремонта, дома и дачи komfort.kz и магазина детcких товаров marwin.kz. Оформляйте в одном заказе все покупки: книжные новинки, блокбастеры на DVD или Blu-ray, лучшие канцелярские принадлежности и музыку на CD, MP3, виниле, видеоигры, игры на PC, игровые консоли PS4, PS3, Xbox  One, Xbox 360 и многое другое. Пользуйтесь привилегиями бонусной программы. Сегодня бонусный клуб  — это более 70 000 держателей карт. Копите и тратьте бонусы при покупках как в meloman.kz и marwin.kz, так и во всех розничных магазинах «Меломан», MARWIN и «Комфорт».
                            span.helper ... Подробнее
                section.delivery-info
                    .title Информация о доставке
                    form.form.form-order
                        label.form-input.userEmail
                            span E-mail
                            input(type="email", placeholder="Введите e-mail", name="userEmail")
                            .error Заполните поле
                        label.form-input.userName
                            span Имя
                            input(type="text", placeholder="Введите имя", name="userName")
                            .error Заполните поле
                        label.form-input.userPhone
                            span Телефон
                            input(type="tel", placeholder="Введите номер телефона", name="userTel")
                            .error Заполните поле
                        label.form-input.userRegion
                            span Регион доставки
                            .select-box
                                +svg('icon-triangle')
                                select(name="userRegion")
                                    option(value="1") Алматы
                                    option(value="2") Актау
                                    option(value="3") Актобе
                                    option(value="4") Москва
                                    option(value="5") Другой
                            .error Заполните поле
                        label.form-input.userDelivery
                            span Способ доставки
                            .select-box
                                +svg('icon-triangle')
                                select(name="userDelivery")
                                    option(value="1") Курьером в руки
                                    option(value="2") Доставка до отделения Казпочтой
                            .error Заполните поле
                        label.checkbox.form-input.userPayment
                            span Способ оплаты
                            input.inline-middle(type="checkbox", name="userPayment", value="userPayment", checked, disabled)
                            .checkbox-control
                                +svg('icon-check')
                                span На кассе - наличными или платежной картой
                            .error Выберите способ оплаты
                        label.form-input.userDeliveryPoint
                            span Точка выдачи
                            .select-box
                                +svg('icon-triangle')
                                select(name="userDeliveryPoint")
                                    option(value="1") Meloman "Grand"
                                    option(value="2") Meloman "Promenade"
                                    option(value="3") Meloman "Mega"
                            .error Заполните поле
                        label.form-input.userMessage
                            span Примечание
                            textarea(placeholder="Отдать лично в руки", name="userMessage")
                        .validate-form-button Оформить заказ
        include ../components/footer
        include ../components/modals/common
        // Mocha container
        #mocha
        // Global help-variables
        script(src='./test-js/global.js')
        // Common components unit tests
        script(src='./test-js/common.test.js')