doctype html
html(lang='en')
    head
        meta(charset="utf8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        title Meloman.kz
        style.
            .linksContainer {
                min-width: 300px;
                width: auto;
            }
            .linksContainer a {
                display: inline-block;
                height: 30px;
                width: 100%;
                line-height: 30px;
                color: black;
                text-decoration: none;
                transition: all .3s ease;
            }
            .linksContainer a:hover {
                background-color: rgba(0,0,0,.3);
                color: white;
                padding-left: 10px;
            }
    body
        .linksContainer
            h2 Компоненты
            a(href="./header.test.html") Header
            a(href="./menu.test.html") Menu
            a(href="./footer.test.html") Footer
            a(href="./common.test.html") Common
            a(href="./validator.test.html") Validator
            h2 Страницы
            a(href="./main-page.test.html") <i>Main</i> page
            a(href="./catalog-page.test.html") <i>Catalog</i> page
            a(href="./filter-page.test.html") <i>Filter</i> page
            a(href="./product-page.test.html") <i>Product</i> page
            a(href="./cart-page.test.html") <i>Cart</i> page
            a(href="./registration-page.test.html") <i>Order registration</i> page
            a(href="./calendar-page.test.html") <i>Calendar</i> page
            a(href="./news-page.test.html") <i>News / Sales</i> pages
            a(href="./search-page.test.html") <i>Search results</i> page
            a(href="./shops-page.test.html") <i>Shops</i> page