doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        title Marwin.kz tests - Menu
        link(href='../www/css/index.min.css', rel='stylesheet')
        // Mocha
        link(href='./dep/mocha.css', rel='stylesheet')
        script(src='./dep/mocha.min.js')
        // Start mocha
        script.
            mocha.setup('bdd');
        // Chai
        script(src='./dep/chai.min.js')
        // Sinon
        script(src='./dep/sinon.js')
        // jQuery
        script(src='./dep/jquery-3.1.1.min.js')
        style.
            html, body {
                min-height: 200%
            }
    body.logged
        include ../components/header
        main(data-page="undefined")
            include ../components/menu
        include ../components/modals/common
        // Mocha container.
        #mocha
        // Global help-variables
        script(src='./test-js/global.js')
        // Menu components test
        script(src='./test-js/menu.test.js')
