extends extend/page_template
block variables
    - var title = 'News / Sales pages tests';
    - var status = 'logged';
block scripts
    // News / Sales pages components test
    script(src='./test-js/news-page.test.js')
block main
    main(data-page='news')
        .left-bar.pull-left
            .menu.category-menu.hidden-portrait(ontouchstart)
                nav.categories-container.clearfix
                    .category-separator Новинки
                    a.category(href="#!")
                        div.color-bar
                        .category-name Модная школа 2016
                    a.category(href="#!")
                        div.color-bar
                        .category-name Летние новинки
                    a.category(href="#!")
                        div.color-bar
                        .category-name Книги
                    a.category(href="#!")
                        div.color-bar
                        .category-name Видеоигры
                    a.category(href="#!")
                        div.color-bar
                        .category-name Фильмы
                    a.category(href="#!")
                        div.color-bar
                        .category-name Музыка
                    a.category(href="#!")
                        div.color-bar
                        .category-name Активный отдых
                    a.category(href="#!")
                        div.color-bar
                        .category-name Творчество и хобби
                    a.category(href="#!")
                        div.color-bar
                        .category-name Авторы
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            h1.page-title.pull-left Новинки
            .menu.category-menu.shown-portrait(ontouchstart)
                nav.categories-container.clearfix
                    a.category(href="#!")
                        div.color-bar
                        .category-name Модная школа 2016
                    a.category(href="#!")
                        div.color-bar
                        .category-name Летние новинки
                    a.category(href="#!")
                        div.color-bar
                        .category-name Книги
                    a.category(href="#!")
                        div.color-bar
                        .category-name Видеоигры
                    a.category(href="#!")
                        div.color-bar
                        .category-name Фильмы
                    a.category(href="#!")
                        div.color-bar
                        .category-name Музыка
                    a.category(href="#!")
                        div.color-bar
                        .category-name Активный отдых
                    a.category(href="#!")
                        div.color-bar
                        .category-name Творчество и хобби
                    a.category(href="#!")
                        div.color-bar
                        .category-name Авторы
                    .category-separator
                        span.opened Показать новинки
                        span.closed Скрыть новинки
                        +svg('icon-triangle')
            .container.pull-left
                .single-item
                    a.left-side.pull-left(href="#!")
                        h3.item-title.mobile Для бойцов игрового фронта — акция в «Меломан Games»
                        img(src="./pic/news-sales.png")
                    .right-side
                        .stay-top
                            a.item-title.desktop(href="#!") Для бойцов игрового фронта — акция в «Меломан Games»
                            span.item-preview-text Так приятно приобретать необходимые товары себе и близким просто так, без повода и, конечно, по специальной выгодной цене! Это отлично поднимает настроение. И чтобы ваше настроение было отличным, пользуйтесь нашим предложением «Товар дня»: всё самое лучшее — интересное и занимательное —  со скидкой -20% в интернет-магазине «Меломан».
                                | Так приятно приобретать необходимые товары себе и близким просто так, без повода и, конечно, по специальной выгодной цене! Это отлично поднимает настроение. И чтобы ваше настроение было отличным, пользуйтесь нашим предложением «Товар дня»: всё самое лучшее — интересное и занимательное —  со скидкой -20% в интернет-магазине «Меломан». Так приятно приобретать необходимые товары себе и близким просто так, без повода и, конечно, по специальной выгодной цене! Это отлично поднимает настроение. И чтобы ваше настроение было отличным, пользуйтесь нашим предложением «Товар дня»: всё самое лучшее — интересное и занимательное —  со скидкой -20% в интернет-магазине «Меломан». 
                            a.item-read-more(href="#!") Читать больше
                .single-item
                    a.left-side.pull-left(href="#!")
                        h3.item-title.mobile Для бойцов игрового фронта — акция в «Меломан Games»
                        img(src="./pic/news-sales.png")
                    .right-side
                        .stay-top
                            a.item-title.desktop(href="#!") Для бойцов игрового фронта — акция в «Меломан Games»
                            span.item-preview-text Так приятно приобретать необходимые товары себе и близким просто так, без повода и, конечно, по специальной выгодной цене! Это отлично поднимает настроение. И чтобы ваше настроение было отличным, пользуйтесь нашим предложением «Товар дня»: всё самое лучшее — интересное и занимательное —  со скидкой -20% в интернет-магазине «Меломан».
                                | Так приятно приобретать необходимые товары себе и близким просто так, без повода и, конечно, по специальной выгодной цене!
                            a.item-read-more(href="#!") Читать больше
                .single-item
                    a.left-side.pull-left(href="#!")
                        h3.item-title.mobile Для бойцов игрового фронта — акция в «Меломан Games»
                        img(src="./pic/news-sales.png")
                    .right-side
                        .stay-top
                            a.item-title.desktop(href="#!") Для бойцов игрового фронта — акция в «Меломан Games»
                            span.item-preview-text Так приятно приобретать необходимые товары себе и близким просто так!
                            a.item-read-more(href="#!") Читать больше