extends extend/page_template
block variables
    - var title = 'Product page';
    - var status = 'logged';
block scripts
    // Product page components test
    script(src='./test-js/product-page.test.js')
block main
    main(data-page='product')
        include ../components/menu.pug
        include ../components/breadcrumbs-long.pug
        section.product-preview-container
            .product-preview-title
                h1.inline-bottom Disney Princess Enchanted Character Guide
                span.id.inline-bottom
                    span код:&nbsp
                    span.text-main-black 5689645621
            .product-preview-picture
                span.product-preview-mainPicture.hidden-mobile(data-href="./pic/product1/main.png", data-toggle="modal", data-target=".modal-gallery", data-modal-action="gallery")
                    img(src="./pic/product1/main.png")
                    .inline-middle.full-height
                .product-preview-items.hidden-mobile
                    span.product-preview-item(data-href="./pic/product1/main.png", data-toggle="modal", data-target=".modal-gallery", data-modal-action="gallery")
                        img(src="./pic/product1/main.png")
                        .inline-middle.full-height
                    span.product-preview-item(data-href="./pic/product1/1.png", data-toggle="modal", data-target=".modal-gallery", data-modal-action="gallery")
                        img(src="./pic/product1/1_preview.png")
                        .inline-middle.full-height
                    span.product-preview-item(data-href="./pic/product1/2.png", data-toggle="modal", data-target=".modal-gallery", data-modal-action="gallery")
                        img(src="./pic/product1/2_preview.png")
                        .inline-middle.full-height
                    span.product-preview-item(data-href="./pic/product1/3.png", data-toggle="modal", data-target=".modal-gallery", data-modal-action="gallery")
                        img(src="./pic/product1/3_preview.png")
                        .inline-middle.full-height
                    span.product-preview-item(data-href="./pic/product1/4.png", data-toggle="modal", data-target=".modal-gallery", data-modal-action="gallery")
                        img(src="./pic/product1/4_preview.png")
                        .inline-middle.full-height
                    span.product-preview-item(data-href="./pic/product1/5.png", data-toggle="modal", data-target=".modal-gallery", data-modal-action="gallery")
                        img(src="./pic/product1/5_preview.png")
                        .inline-middle.full-height
                    span.product-preview-item(data-href="./pic/product1/6.png", data-toggle="modal", data-target=".modal-gallery", data-modal-action="gallery")
                        img(src="./pic/product1/6_preview.png")
                        .inline-middle.full-height
                    span.product-preview-item(data-href="./pic/product1/7.png", data-toggle="modal", data-target=".modal-gallery", data-modal-action="gallery")
                        img(src="./pic/product1/7_preview.png")
                        .inline-middle.full-height
                .product-preview-carousel.shown-extra-small.owl-carousel.owl-theme
                    span.item: img(src="./pic/product1/main.png")
                    span.item: img.owl-lazy(data-src="./pic/product1/1.png")
                    span.item: img.owl-lazy(data-src="./pic/product1/2.png")
                    span.item: img.owl-lazy(data-src="./pic/product1/3.png")
                    span.item: img.owl-lazy(data-src="./pic/product1/4.png")
                    span.item: img.owl-lazy(data-src="./pic/product1/5.png")
                    span.item: img.owl-lazy(data-src="./pic/product1/6.png")
                    span.item: img.owl-lazy(data-src="./pic/product1/7.png")
            .product-preview-description
                .product-preview-info.inline-bottom
                    span.rating.inline-bottom
                        span.inline-bottom 3.4
                        span.inline-bottom &nbspоценка&nbsp
                    span.stars.inline-bottom
                        span.stars-cover(style="width: 68%")
                    span.reviews.inline-bottom
                        span Отзывы&nbsp
                        span (<span class="totalReviewsCount">8</span>)
                    span.areAvailable.inline-bottom
                        +svg('icon-available')
                        span в наличии (13 шт.)
                .product-preview-tabloid(data-id='1', data-price='1620', data-name="Disney Princess Enchanted Character Guide", data-category="Робототехника", data-rating='3')
                    .price
                        .old-price 1800 т
                        .new-price-container
                            span Цена
                            .new-price 1 620 т
                    .info
                        .row
                            .name Скидка на товар
                            .value 10%
                        .row
                            .name Вы экономите
                            .value 180 т
                        .row
                            .name Бонусов за покупку
                            .value 452
                    .button.buy-now(data-toggle="modal", data-target=".modal-fastOrder", data-modal-action="fastOrder") Купить
                    .button.add-to-cart Добавить в корзину
                    .button.remove-from-cart
                        span.view Добавлено в корзину
                        span.hover Убрать из корзины
                    .button.pending
                        img(src="./img/preloader.svg")
                        .inline-middle.full-height
                    form.form.available-notify-form
                        label.form-input.userEmail(data-validation="required", data-validation-type="email")
                            span Мы можем оповестить Вас,<br> когда товар появится в наличии:
                            input(type="email", placeholder="Введите Ваш E-mail", name="email")
                            .error Введите корректный E-mail
                        button.validate-form-button.available-notify-button(type='submit') Сообщить о наличии
                    .info.additional
                        .row
                            .name.sales
                                +svg('icon-sun')
                                a.inline-middle(href="#!") участвует в акции
                            .value до 21.09
                        .row
                            .name.delivery
                                +svg('icon-sales2')
                                a.inline-middle(href="#!") условия доставки
                        .row
                            .name.available
                                +svg('icon-sales3')
                                a.inline-middle(href="#!") наличие в магазинах
                        .row
                            .name.favourite#favourite
                                +svg('icon-star-small')
                                a.inline-middle(href="#!") добавить в избранное
                    .price-notify.relative
                        form.price-notify-form.form
                            label.form-input.userEmail(data-validation="required", data-validation-type="email")
                                span Мы можем оповестить Вас, когда цена товара будет еще ниже текущей:
                                input(type="email", placeholder="Введите Ваш E-mail", name="email")
                                .error Введите корректный E-mail
                                button.validate-form-button.price-notify-button(type='submit') OK
                .product-preview-characteristics
                    span.title Характеристики
                    .characteristics-box
                        .characteristics-item
                            span.name Серия
                            span.value Disney
                        .characteristics-item
                            span.name Издательство
                            span.value Росмэн
                        .characteristics-item
                            span.name Жанр
                            span.value Детская лит-ра
                        .characteristics-item
                            span.name Год издания
                            span.value 2015
                        .characteristics-item
                            span.name Переплет
                            span.value Мягкая обложка
                        .characteristics-item
                            span.name ISBN
                            span.value 12412125426246
                        .characteristics-item
                            span.name Издательство
                            span.value Росмэн
                        .characteristics-item
                            span.name Жанр
                            span.value Детская лит-ра
                        .characteristics-item
                            span.name Год издания
                            span.value 2015
                        .characteristics-item.hidden-item
                            span.name Серия
                            span.value Disney
                        .characteristics-item.hidden-item
                            span.name Издательство
                            span.value Росмэн
                        .characteristics-item.hidden-item
                            span.name Жанр
                            span.value Детская лит-ра
                        .characteristics-item.hidden-item
                            span.name ISBN
                            span.value 12412125426246
            .product-preview-moreInfo-trigger
                span Показать все характеристики
                    +svg('icon-triangle')
        .product-preview-additional
            .product-preview-moreInfo
                .text
                    p <b>Описание</b>
                    p в полюбившихся цветовых решениях – Prestigio MultiPad Wize 3757 3G. Планшет оснащен 7дюймовым IPS-дисплеем, мощным процессором Intel Atom X3, четырехъядерным     граптером Mali 450MP4 и 1 ГБ оперативной памяти. Он совмещает впечатляющую производительность от Intel со стильным дизайном: тонкий, легкий, выполненный в разных цветовых вариациях, он отвечает всем требованиям следящих за модой молодых людейОцените преимущества, которые дарит пользователям четырехъядерный процессор Intel Aваш гаджет  в полюбившихся цветовых решениях – Prestigio MultiPad Wize 3757 3G. Планшет оснащен 7-дюймовым IPS-дисплеем, мощным процессором Intel Atom X3, четырехъядерным графическим адаптером Mali 450MP4 и 1 ГБ оперативной памяти. Он совмещает впечатляющую производительность от Intel со стильным дизайном: тонкий, легкий, выполненный в разных цветовых вариациях, он отвечает всем требованиям следящих за модой молодых людейОцените преимущества, которые дарит пользователям четырехъядерный процессор Intel Aваш гаджет еще лучше, обеспечивая новый уровень качества интернет-браузинга, графики, аудио, видео, связи и длительности работы. Вам однозначно понравятся новые возможности усиленногоеще лучше, обеспечивая новый уровень качества интернет-браузинга, графики, аудио, видео, связи и длительности работы. Вам однозначно понравятся новые возможности усиленногозных цветовых вариациях, он отвечает всем требованиям следящих за модой молодых людейОцените преимущества, которые дарит пользователям четырехъядерный процессор Intel Aваш гаджет  в полюбившихся цветовых решениях – Prestigio MultiPad Wize 3757 3G. Планшет оснащен 7-дюймовым IPS-дисплеем, мощным процессором Intel Atom X3, четырехъядерным графическим адаптером Mali 450MP4 и 1 ГБ оперативной памяти. Он совмещает впечатляющую производительность от Intel со стильным дизайном: тонкий, легкий, выполненный в разных цветовых вариациях, он отвечает всем тре в полюбившихся цветовых решениях – Prestigio MultiPad Wize 3757 3G. Планшет оснащен 7-дюймовым IPS-дисплеем, мощным процессором Intel Atom X3, четырехъядерным графическим адаптером Mali 450MP4 и 1 ГБ оперативной памяти. Он совмещает впечатляющую производительность от Intel со стильным дизайном: тонкий, легкий, выполненный в разных цветовых вариациях, он отвечает всем требованиям следящих за модой молодых людейОцените преимущества, которые дарит пользователям четырехъядерный процессор Intel Aваш гаджет  в полюбившихся цветовых решениях – Prestigio MultiPad Wize 3757 3G. Планшет оснащен 7-дюймовым IPS-дисплеем, мощным процессором Intel Atom X3, четырехъядерным графическим адаптером Mali 450MP4 и 1 ГБ оперативной памяти. Он совмещает впечатляющую производительность от Intel со стильным дизайном: тонкий, легкий, выполненный в разных цветовых вариациях, он отвечает всем требованиям следящих за модой молодых людейОцените преимущества, которые дарит пользователям четырехъядерный процессор Intel Aваш гаджет еще лучше, обеспечивая новый уровень качества интернет-браузинга, графики, аудио, видео, связи и длительности работы. Вам однозначно понравятся новые возможности усиленногоеще лучше, обеспечивая новый уровень качества интернет-браузинга, графики, аудио, видео, связи и длительности работы. Вам однозначно понравятся новые возможности усиленногозных цветовых вариациях, он отвечает всем требованиям следящих за модой молодых людейОцените преимущества, которые дарит пользователям четырехъядерный процессор Intel Aваш гаджет  в полюбившихся цветовых решениях – Prestigio MultiPad Wize 3757 3G. Планшет оснащен 7-дюймовым IPS-дисплеем, мощным процессором Intel Atom X3, четырехъядерным графическим адаптером Mali 450MP4 и 1 ГБ оперативной памяти. Он совмещает впечатляющую производительность от Intel со стильным дизайном: тонкий, легкий, выполненный в разных цветовых вариациях.
            .product-preview-social
                a(href="#!").insta
                    +svg('icon-insta')
                a(href="#!").fb
                    +svg('icon-fb')
                a(href="#!").vk
                    +svg('icon-vk')
                a(href="#!").ggl
                    +svg('icon-ggl')
            .product-preview-reviews
                .title Отзывы (<span class="totalReviewsCount">8</span>)
                .toggle-button.not-logged(data-toggle="modal", data-target=".modal-login", data-modal-action="login") Войти и оставить отзыв
                .toggle-button.logged Оставить отзыв
                form.review-form.logged.form
                    .review-form-close
                        +svg('icon-x')
                    label.form-input.new-review-rating(data-validation="required", data-validation-type="radio",
                    data-validation-text="Пожалуйста, оцените товар")
                        span Оценка:
                        .rating.pull-left
                            input(type="radio", class="rating-input", id="rating-5", name="rating")
                            label(for="rating-5", class="rating-star")
                            input(type="radio", class="rating-input", id="rating-4", name="rating")
                            label(for="rating-4", class="rating-star")
                            input(type="radio", class="rating-input", id="rating-3", name="rating")
                            label(for="rating-3", class="rating-star")
                            input(type="radio", class="rating-input", id="rating-2", name="rating")
                            label(for="rating-2", class="rating-star")
                            input(type="radio", class="rating-input", id="rating-1", name="rating")
                            label(for="rating-1", class="rating-star")
                        .error
                    label.form-input.message(data-validation="required", data-validation-type="text")
                        span Отзыв:
                        textarea(placeholder="Ваш комментарий", name="message",
                        data-validation-condition="min-length", data-min-length="4")
                        .error Заполните поле
                    .review-form-footer
                        button.validate-form-button.review Оставить отзыв
                        .validate-form-desc Вопросы по качеству товара, возврату и выполнению заказа отправляйте в службу по работе с клиентами. Правила публикации
                .reviews-container
                    .review-item(data-review-id="1")
                        .review-user-data
                            span.nickname Александров Александр Александрович
                            span.stars.inline-bottom
                                span.stars-cover(style="width: 68%")
                            span.date 08 июня 2016
                        .review-user-message
                            span.text Судя по картинке, все, что угодно ожидала получить, но никак не эту "тянучку".)))) Думала, будет нечто твердое для сжимания и разжимания, буковкой П, а оказалась странная мягкая и гибкая штука см 15 с шариками для держания, которую надо растягивать. Потянула я ее в стороны ---- и ого, растянулась она вроде б легко почти на метр, еще потянула и еще.... Буквально через 3-4 (!!!) растягивания ощутила все свои бицепсы, трицепцы, грудь и мышцы вплоть до талии. Я не спортивная, может поэтому мне это показалось чрезвычайно эффективным. Понравилось и моему 14-летнему сыну, тянет ее не только в стороны, но и по диагонали, и вверх-вниз. По сути напоминает эспандер, который когда-то был у моего брата (теперь он красивый качок), но выглядит забавно. СОВЕТУЮ. Все отзывы верны.
                            .votes
                                span.likes.vote(data-event-type="like")
                                    +svg('icon-like')
                                    span.counter 2
                                span.dislikes.vote(data-event-type="dislike")
                                    +svg('icon-dislike')
                                    span.counter 2
                    .review-item(data-review-id="2")
                        .review-user-data
                            span.nickname Ирина
                            span.stars.inline-bottom
                                span.stars-cover(style="width: 50%")
                            span.date 08 июня 2016
                        .review-user-message
                            span.text Очень клевая игра!
                            .votes
                                span.likes.vote(data-event-type="like")
                                    +svg('icon-like')
                                    span.counter 2
                                span.dislikes.vote(data-event-type="dislike")
                                    +svg('icon-dislike')
                                    span.counter 2
                    .review-item(data-review-id="3")
                        .review-user-data
                            span.nickname AlexDarkStalker66
                            span.stars.inline-bottom
                                span.stars-cover(style="width: 100%")
                            span.date 07 июня 2016
                        .review-user-message
                            span.text Судя по картинке, все, что угодно ожидала получить, но никак не эту "тянучку".)))) Думала, будет нечто твердое для сжимания и разжимания, буковкой П, а оказалась странная мягкая и гибкая штука см 15 с шариками для держания, которую надо растягивать. Потянула я ее в стороны ---- и ого, растянулась она вроде б легко почти на метр, еще потянула и еще....
                            .votes
                                span.likes.vote(data-event-type="like")
                                    +svg('icon-like')
                                    span.counter 2
                                span.dislikes.vote(data-event-type="dislike")
                                    +svg('icon-dislike')
                                    span.counter 2
                    .review-item(data-review-id="4")
                        .review-user-data
                            span.nickname Nickname1
                            span.stars.inline-bottom
                                span.stars-cover(style="width: 38%")
                            span.date 06 июня 2016
                        .review-user-message
                            span.text Судя по картинке, все, что угодно ожидала получить, но никак не эту "тянучку".)))) Думала, будет нечто твердое для сжимания и разжимания, буковкой П, а оказалась странная мягкая и гибкая штука см 15 с шариками для держания, которую надо растягивать. Потянула я ее в стороны ---- и ого, растянулась она вроде б легко почти на метр, еще потянула и еще.... Буквально через 3-4 (!!!) растягивания ощутила все свои бицепсы, трицепцы, грудь и мышцы вплоть до талии. Я не спортивная, может поэтому мне это показалось чрезвычайно эффективным. Понравилось и моему 14-летнему сыну, тянет ее не только в стороны, но и по диагонали, и вверх-вниз. По сути напоминает эспандер, который когда-то был у моего брата (теперь он красивый качок), но выглядит забавно. СОВЕТУЮ. Все отзывы верны.
                            .votes
                                span.likes.vote(data-event-type="like")
                                    +svg('icon-like')
                                    span.counter 2
                                span.dislikes.vote(data-event-type="dislike")
                                    +svg('icon-dislike')
                                    span.counter 2
                .reviews-toggle Показать еще комментарии
        section#section-name1
            a.section-title(href="#!") Похожие товары
            .items-container.owl-carousel.owl-theme
                - var n = 0;
                while n < 6
                    +item(n++)
        section#section-name2
            a.section-title(href="#!") Рекомендуемые товары
            .items-container.owl-carousel.owl-theme
                - var n = 0;
                while n < 6
                    +item(n++)
        .modal-gallery.modal.fade(tabindex="-1", role="dialog", aria-labelledby="Фотогалерея")
            .modal-dialog(role="document")
                .modal-content.clearfix
                    .modal-close(data-dismiss="modal" aria-label="Закрыть")
                        +svg('icon-x')
                    .gallery-left-bar.pull-left
                        .gallery-title Disney Princess Enchanted Character Guide
                        .gallery-photos
                            span.gallery-photo(data-href="./pic/product1/main.png")
                                img(src="./pic/product1/main.png")
                                .inline-middle.full-height
                            span.gallery-photo(data-href="./pic/product1/1.png")
                                img(src="./pic/product1/1_preview.png")
                                .inline-middle.full-height
                            span.gallery-photo(data-href="./pic/product1/2.png")
                                img(src="./pic/product1/2_preview.png")
                                .inline-middle.full-height
                            span.gallery-photo(data-href="./pic/product1/3.png")
                                img(src="./pic/product1/3_preview.png")
                                .inline-middle.full-height
                            span.gallery-photo(data-href="./pic/product1/4.png")
                                img(src="./pic/product1/4_preview.png")
                                .inline-middle.full-height
                            span.gallery-photo(data-href="./pic/product1/5.png")
                                img(src="./pic/product1/5_preview.png")
                                .inline-middle.full-height
                            span.gallery-photo(data-href="./pic/product1/6.png")
                                img(src="./pic/product1/6_preview.png")
                                .inline-middle.full-height
                            span.gallery-photo(data-href="./pic/product1/7.png")
                                img(src="./pic/product1/7_preview.png")
                                .inline-middle.full-height
                            .empty-place-holder.zero-height
                            .empty-place-holder.zero-height
                    .gallery-right-bar.pull-right
                        .gallery-main-preview
                            img(src="./pic/product1/main.png")
                            .inline-middle.full-height
        .modal-fastOrder.modal.fade(tabindex="-1", role="dialog", aria-labelledby="Быстрый заказ")
            .modal-dialog.modal-sm(role="document")
                .modal-content.clearfix
                    .modal-close(data-dismiss="modal" aria-label="Закрыть")
                        +svg('icon-x')
                    .modal-title Быстрый заказ
                    .modal-subtitle
                        .title Наименование товара:
                        .name Disney Princess Enchanted Character Guide
                    form.form-fastOrder.form
                        label.form-input.userTel(data-validation="required", data-validation-type="phone")
                            span Введите Ваш номер телефона:
                            input(type="tel", placeholder="Введите номер телефона", name="userTel",
                            data-validation-condition="length", data-length="18")
                            .error
                        button.validate-form-button.fastOrder(type='submit') Купить
                    .validated-text
                        span Ваш заказ принят в обработку!
                        span В ближайшее время с Вами свяжется наш оператор.
