extends extend/page_template
block variables
    - var title = 'Order registration page';
    - var status = 'logged';
block scripts
    // Order registration page components test
    script(src='./test-js/registration-page.test.js')
block main
    main(data-page='registration', data-registration='confirming')
        include ../components/menu.pug
        section.registration-container
            include ../components/breadcrumbs.pug
            h1 Оформление заказа
            .cart-main-container
                .cart-toggle
                    span Расскрыть список товаров
                    +svg('icon-triangle')
                .cart-main
                    .cart-main-header
                        .cart-title-column
                            span.inline-middle Товар
                        .cart-count-column: span.hidden-mobile Кол-во
                        .cart-price-column: span.hidden-mobile Стоимость
                    .cart-main-body
                        - for (var i = 0; i < 2; ++i) {
                        +cart-item-proto(i)
                        - }
                .cart-price-total
                    .price-field.total
                        .title Общая сумма
                        .value
                            span 13 300
                            span &nbspт
                        .discount
                            .title Скидка
                            .value
                                span 300
                                span &nbspт
                    .price-field.to-pay
                        .title К оплате
                        .value
                            span 13 000
                            span &nbspт
        section.delivery-info
            .title Информация о доставке
            form.form.form-order(data-method="courier")
                label.form-input.userEmail(data-validation="required", data-validation-type="email")
                    span E-mail
                    input(type="email", placeholder="Введите e-mail", name="userEmail")
                    .error
                label.form-input.userName(data-validation="required", data-validation-type="text")
                    span Имя
                    input(type="text", placeholder="Введите имя", name="userName",
                    data-validation-condition="min-length", data-min-length="2")
                    .error
                label.form-input.userPhone(data-validation="required", data-validation-type="phone")
                    span Телефон
                    input(type="tel", placeholder="Введите номер телефона", name="userTel",
                    data-validation-condition="length", data-length="18")
                    .error
                label.form-input.userRegion
                    span Регион доставки
                    .select-box
                        +svg('icon-triangle')
                        select(name="userRegion")
                            option(value="1", selected) Алматы
                            option(value="2") Актау
                            option(value="3") Актобе
                            option(value="4") Москва
                            option(value="5") Другой
                    .error
                label.form-input.userDelivery
                    span Способ доставки
                    .select-box
                        +svg('icon-triangle')
                        select(name="userDelivery")
                            option(value="cash") Бесплатная доставка в розничный магазин
                            option(value="courier", selected) Курьерская служба
                            option(value="post") Доставка до отделения Казпочты
                    .method-courier
                        span Доставка осуществляется курьерскими службами
                        a(href="#!") Подробнее о условиях доставки курьерской службой
                .userPayment.form-input(data-validation="required", data-validation-type="radio",
                data-validation-text="Выберите способ оплаты")
                    span Способ оплаты
                    .radiobox-container
                        label.method-cash.checkbox.radiobox.two-lines-text
                            input.inline-middle(type="radio", name="userPayment", value="cashbox")
                            .checkbox-control
                                +svg('icon-check')
                                span На кассе - наличными или платежной картой
                        label.method-courier.method-post.checkbox.radiobox
                            input.inline-middle(type="radio", name="userPayment", value="cash", checked)
                            .checkbox-control
                                +svg('icon-check')
                                span Наличными
                        label.method-courier.method-post.checkbox.radiobox
                            input.inline-middle(type="radio", name="userPayment", value="card")
                            .checkbox-control
                                +svg('icon-check')
                                span Банковской платежной картой
                        label.method-courier.method-post.checkbox.radiobox
                            input.inline-middle(type="radio", name="userPayment", value="terminal")
                            .checkbox-control
                                +svg('icon-check')
                                span Оплата с помощью "QIWI Терминала"
                        label.method-courier.method-post.checkbox.radiobox
                            input.inline-middle(type="radio", name="userPayment", value="internet")
                            .checkbox-control
                                +svg('icon-check')
                                span Интернет-банкинг
                        label.method-courier.method-post.checkbox.radiobox
                            input.inline-middle(type="radio", name="userPayment", value="cashless")
                            .checkbox-control
                                +svg('icon-check')
                                span Безналичный расчет
                        .error Выберите способ оплаты
                label.form-input.userDeliveryPoint
                    span Точка выдачи
                    .select-box
                        +svg('icon-triangle')
                        select(name="userDeliveryPoint")
                            option(value="1", selected) Meloman "Grand"
                            option(value="2") Meloman "Promenade"
                            option(value="3") Meloman "Mega"
                    .error Заполните поле
                label.form-input.userMessage
                    span Примечание
                    textarea(placeholder="Отдать лично в руки", name="userMessage")
                button.validate-form-button(type='submit') Оформить заказ