extends extend/page_template
block variables
    - var title = 'Search page tests';
    - var status = 'logged';
block scripts
    // Search page components test
    script(src='./test-js/search-page.test.js')
block main
    main(data-page='search')
        .left-bar.pull-left
            form.filters.pull-left
                .filters-mobile-title
                    span Настройка поиска
                    +svg('icon-triangle')
                .filter-block
                    .filter-block-items-container
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name="photo", value="true")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle С фотографиями
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name="available", value="true", checked)
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle Есть в наличии
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            h1.page-title.pull-left По запросу "asdf12" найдено 0 товаров
            .no-results-container
                .attention-seeker
                    +svg('icon-attention')
                    span По вашему запросу ничего не найдено. Попробуйте уточнить или сократить поисковую фразу. Если поиск не дает результатов, пожалуйста, отправьте нам запрос через форму, которая расположена ниже на странице.
                form.form.product-request-form
                    .form-title Не можете найти нужный товар? Отправьте запрос
                    label.form-input.userName(data-validation="required", data-validation-type="text")
                        span Укажите Ваше имя
                        input(type="text", placeholder="Имя", name="name",
                        data-validation-condition="min-length", data-min-length="2")
                        .error Заполните поле
                    label.form-input.email(data-validation="required", data-validation-type="email")
                        span Электронная почта
                        input(type="email", placeholder="Введите электронную почту", name="email")
                        .error
                    label.form-input.phone(data-validation="required", data-validation-type="phone")
                        span Номер телефона
                        input(type="tel", placeholder="Введите номер телефона", name="phone",
                        data-validation-condition="length", data-length="18")
                        .error
                    .form-title Информация о необходимом товаре
                    label.form-input.message(data-validation="required", data-validation-type="text")
                        span Пожалуйста, как можно подробней опишите интересующий Вас товар. При возможности, вставьте ссылки на этот товар на других сайтах. <br> Пример: Книга "Граф Монте-Кристо", автор Александр Дюма, ISBN 978-5-17-068487-8, Издательство АСТ, 2012
                        textarea(placeholder="Ваше сообщение", name="message",
                        data-validation-condition="min-length", data-min-length="4")
                        .error
                    button.validate-form-button.product-request Отправить