extends extend/page_template
block variables
    - var title = 'Shops page tests';
    - var status = 'logged';
block scripts
    // Shops page components test
    script(src='./test-js/shops-page.test.js')
block main
    main(data-page='shops')
        .left-bar.pull-left
            .map-links-container
                .map-link(data-city-id="1")
                    .title Алматы
                    .content
                        .map-link-address(data-maplink-id="1") ТРЦ «АДК»
                        .map-link-address(data-maplink-id="2") ТРЦ «Promenade»
                        .map-link-address(data-maplink-id="3") ТРЦ «Dostyk Plaza»
                        .map-link-address(data-maplink-id="4") ТРЦ «MEGA Park»
                        .map-link-address(data-maplink-id="5") Книжный магазин «Меломан» в ТРЦ «Dostyk Plaza»
                        .map-link-address(data-maplink-id="6") Меломан Grand
                        .map-link-address(data-maplink-id="7") ТЦ «Комфорт»
                        .map-link-address(data-maplink-id="8") ТРЦ «MEGA Alma-Ata»
                        .map-link-address(data-maplink-id="9") Меломан ТРЦ «Esentai Mall»
                        .map-link-address(data-maplink-id="10") «Меломан» GAMES ТРЦ «Dostyk Plaza»
                        .map-link-address(data-maplink-id="11") MARWIN ТЦ "Москва"
                .map-link(data-city-id="2")
                    .title Астана
                    .content
                        .map-link-address(data-maplink-id="12") Меломан ТРЦ «MEGA Astana»
                        .map-link-address(data-maplink-id="13") Меломан «Проспект Республики»
                        .map-link-address(data-maplink-id="14") MARWIN ТРЦ «Хан Шатыр»
                        .map-link-address(data-maplink-id="15") MARWIN ТРЦ «Керуен»
                        .map-link-address(data-maplink-id="16") MARWIN ТРЦ «MEGA Astana»
                        .map-link-address(data-maplink-id="17") Меломан ТРЦ «Керуен»
                        .map-link-address(data-maplink-id="18") MARWIN ТРЦ «Сары Арка»
                .map-link(data-city-id="3")
                    .title Актобе
                    .content
                        .map-link-address(data-maplink-id="19") MARWIN ТРЦ «MEGA Aktobe»
                .map-link(data-city-id="4")
                    .title Атырау
                    .content
                        .map-link-address(data-maplink-id="20") MARWIN ТРЦ «Сары Арка»
                .map-link(data-city-id="5")
                    .title Актау
                    .content
                        .map-link-address(data-maplink-id="21") ТРК «Актау»
                .map-link(data-city-id="6")
                    .title Бишкек (Кыргызстан)
                    .content
                        .map-link-address(data-maplink-id="22") ТРК «Детский Мир»
                .map-link(data-city-id="7")
                    .title Зыряновск
                    .content
                        .map-link-address(data-maplink-id="23") MARWIN ТЦ «М-техникс»
                .map-link(data-city-id="8")
                    .title Караганда
                    .content
                        .map-link-address(data-maplink-id="24") Меломан ТРЦ «Сити Молл»
                        .map-link-address(data-maplink-id="25") MARWIN BABY ТРЦ «Сити Молл»
                .map-link(data-city-id="9")
                    .title Костанай
                    .content
                        .map-link-address(data-maplink-id="26") ТРЦ «MART»
                .map-link(data-city-id="10")
                    .title Павлоград
                    .content
                        .map-link-address(data-maplink-id="27") MARWIN «Ул. Сатпаева, 19»
                        .map-link-address(data-maplink-id="28") Книжный магазин «Меломан» «Ул. Сатпаева, 19»
                .map-link(data-city-id="11")
                    .title Семей
                    .content
                        .map-link-address(data-maplink-id="29") ТЦ «Комфорт»
                .map-link(data-city-id="12")
                    .title Тараз
                    .content
                        .map-link-address(data-maplink-id="30") Меломан «Ул. Айтеке би»
                .map-link(data-city-id="13")
                    .title Усть-Каменогорск
                    .content
                        .map-link-address(data-maplink-id="31") MARWIN ТЦ «ЦУМ»
                        .map-link-address(data-maplink-id="32") MARWIN Baby «ул. Кирова, 46»
                .map-link(data-city-id="14")
                    .title Уральск
                    .content
                        .map-link-address(data-maplink-id="33") MARWIN ТРЦ «Сити Центр»
                        .map-link-address(data-maplink-id="34") ТЦ «Атриум»
                        .map-link-address(data-maplink-id="35") MARWIN ТЦ «Орал»
                .map-link(data-city-id="15")
                    .title Шымкент
                    .content
                        .map-link-address(data-maplink-id="36") MARWIN ТРЦ «MEGA Shymkent»
                        .map-link-address(data-maplink-id="37") MARWIN ТРЦ «Фиркан CITY»
                .map-link(data-city-id="16")
                    .title Экибастуз
                    .content
                        .map-link-address(data-maplink-id="38") Меломан ТД «Maxi Mall»
            .dropdown-box-container
                span.title Выберите город и магазин
                .dropdown-box.inline-middle.city
                    .dropdown-box-title.clearfix
                        span Город не выбран
                        +svg('icon-triangle')
                    .dropdown-box-options
                        .relative.inline-middle
                            .dropdown-box-option(data-value="1")
                                span.inline-middle Алматы
                            .dropdown-box-option(data-value="2")
                                span.inline-middle Астана
                            .dropdown-box-option(data-value="3")
                                span.inline-middle Актобе
                            .dropdown-box-option(data-value="4")
                                span.inline-middle Атырау
                            .dropdown-box-option(data-value="5")
                                span.inline-middle Актау
                            .dropdown-box-option(data-value="6")
                                span.inline-middle Бишкек
                            .dropdown-box-option(data-value="7")
                                span.inline-middle Зыряновск
                            .dropdown-box-option(data-value="8")
                                span.inline-middle Караганда
                            .dropdown-box-option(data-value="9")
                                span.inline-middle Костанай
                            .dropdown-box-option(data-value="10")
                                span.inline-middle Павлоград
                            .dropdown-box-option(data-value="11")
                                span.inline-middle Семей
                            .dropdown-box-option(data-value="12")
                                span.inline-middle Шымкент
                            .dropdown-box-option(data-value="13")
                                span.inline-middle Усть-Каменогорск
                            .dropdown-box-option(data-value="14")
                                span.inline-middle Уральск
                            .dropdown-box-option(data-value="15")
                                span.inline-middle Тараз
                            .dropdown-box-option(data-value="16")
                                span.inline-middle Экибастуз
                .dropdown-box.inline-middle.disabled.shop(data-city-id="")
                    .dropdown-box-title.clearfix
                        span Магазин не выбран
                        +svg('icon-triangle')
                    .dropdown-box-options
                        .relative.inline-middle
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="1")
                                span.inline-middle ТРЦ «АДК»
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="2")
                                span.inline-middle ТРЦ «Promenade»
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="3")
                                span.inline-middle ТРЦ «Dostyk Plaza»
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="4")
                                span.inline-middle ТРЦ «MEGA Park»
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="5")
                                span.inline-middle Книжный магазин «Меломан» в ТРЦ «Dostyk Plaza»
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="6")
                                span.inline-middle Меломан Grand
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="7")
                                span.inline-middle ТЦ «Комфорт»
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="8")
                                span.inline-middle ТРЦ «MEGA Alma-Ata»
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="9")
                                span.inline-middle Меломан ТРЦ «Esentai Mall»
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="10")
                                span.inline-middle «Меломан» GAMES ТРЦ «Dostyk Plaza»
                            .dropdown-box-option.map-link-address(data-city-id="1", data-maplink-id="11")
                                span.inline-middle MARWIN ТЦ "Москва"
                            .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="12")
                                span.inline-middle Меломан ТРЦ «MEGA Astana»
                            .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="13")
                                span.inline-middle Меломан «Проспект Республики»
                            .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="14")
                                span.inline-middle MARWIN ТРЦ «Хан Шатыр»
                            .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="15")
                                span.inline-middle MARWIN ТРЦ «Керуен»
                            .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="16")
                                span.inline-middle MARWIN ТРЦ «MEGA Astana»
                            .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="17")
                                span.inline-middle Меломан ТРЦ «Керуен»
                            .dropdown-box-option.map-link-address(data-city-id="2", data-maplink-id="18")
                                span.inline-middle MARWIN ТРЦ «Сары Арка»
                            .dropdown-box-option.map-link-address(data-city-id="3", data-maplink-id="19")
                                span.inline-middle MARWIN ТРЦ «MEGA Aktobe»
                            .dropdown-box-option.map-link-address(data-city-id="4", data-maplink-id="20")
                                span.inline-middle MARWIN ТРЦ «Сары Арка»
                            .dropdown-box-option.map-link-address(data-city-id="5", data-maplink-id="21")
                                span.inline-middle ТРК «Актау»
                            .dropdown-box-option.map-link-address(data-city-id="6", data-maplink-id="22")
                                span.inline-middle ТРК «Детский Мир»
                            .dropdown-box-option.map-link-address(data-city-id="7", data-maplink-id="23")
                                span.inline-middle MARWIN ТЦ «М-техникс»
                            .dropdown-box-option.map-link-address(data-city-id="8", data-maplink-id="24")
                                span.inline-middle Меломан ТРЦ «Сити Молл»
                            .dropdown-box-option.map-link-address(data-city-id="8", data-maplink-id="25")
                                span.inline-middle MARWIN BABY ТРЦ «Сити Молл»
                            .dropdown-box-option.map-link-address(data-city-id="9", data-maplink-id="26")
                                span.inline-middle ТРЦ «MART»
                            .dropdown-box-option.map-link-address(data-city-id="10", data-maplink-id="27")
                                span.inline-middle MARWIN «Ул. Сатпаева, 19»
                            .dropdown-box-option.map-link-address(data-city-id="10", data-maplink-id="28")
                                span.inline-middle Книжный магазин «Меломан» «Ул. Сатпаева, 19»
                            .dropdown-box-option.map-link-address(data-city-id="11", data-maplink-id="29")
                                span.inline-middle ТЦ «Комфорт»
                            .dropdown-box-option.map-link-address(data-city-id="12", data-maplink-id="30")
                                span.inline-middle Меломан «Ул. Айтеке би»
                            .dropdown-box-option.map-link-address(data-city-id="13", data-maplink-id="31")
                                span.inline-middle MARWIN ТЦ «ЦУМ»
                            .dropdown-box-option.map-link-address(data-city-id="13", data-maplink-id="32")
                                span.inline-middle MARWIN Baby «ул. Кирова, 46»
                            .dropdown-box-option.map-link-address(data-city-id="14", data-maplink-id="33")
                                span.inline-middle MARWIN ТРЦ «Сити Центр»
                            .dropdown-box-option.map-link-address(data-city-id="14", data-maplink-id="34")
                                span.inline-middle ТЦ «Атриум»
                            .dropdown-box-option.map-link-address(data-city-id="14", data-maplink-id="35")
                                span.inline-middle MARWIN ТЦ «Орал»
                            .dropdown-box-option.map-link-address(data-city-id="15", data-maplink-id="36")
                                span.inline-middle MARWIN ТРЦ «MEGA Shymkent»
                            .dropdown-box-option.map-link-address(data-city-id="15", data-maplink-id="37")
                                span.inline-middle MARWIN ТРЦ «Фиркан CITY»
                            .dropdown-box-option.map-link-address(data-city-id="16", data-maplink-id="38")
                                span.inline-middle Меломан ТД «Maxi Mall»
        .right-bar.clearfix
            h1.page-title.pull-left Наши магазины
            .static-text-container
                #map