doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        title Marwin.kz tests - Validator
        link(href='../www/css/index.min.css', rel='stylesheet')
        // Mocha
        link(href='./dep/mocha.css', rel='stylesheet')
        script(src='./dep/mocha.min.js')
        // Start mocha
        script.
            mocha.setup('bdd');
        // Chai
        script(src='./dep/chai.min.js')
        // Sinon
        script(src='./dep/sinon.js')
        // jQuery
        script(src='./dep/jquery-3.1.1.min.js')
        style.
            html, body {
                min-height: 200%
            }
    body.logged
        include ../components/header
        main(data-page="undefined")
            include ../components/menu
            form.form.form-mail-test
                label.form-input.userEmail(data-validation="required", data-validation-type="email")
                    span E-mail
                    input(type="email", placeholder="Введите e-mail", name="userEmail")
                    .error
                button.validate-form-button(type='submit') Оформить заказ
            form.form.form-minlength-test
                label.form-input.userName(data-validation="required", data-validation-type="text")
                    span Имя
                    input(type="text", placeholder="Введите имя", name="userName",
                        data-validation-condition="min-length", data-min-length="2")
                    .error
                button.validate-form-button(type='submit') Оформить заказ
            form.form.form-length-test
                label.form-input.userPhone(data-validation="required", data-validation-type="phone")
                    span Телефон
                    input(type="tel", placeholder="Введите номер телефона", name="userTel",
                        data-validation-condition="length", data-length="18")
                    .error
                button.validate-form-button(type='submit') Оформить заказ
            form.form.form-radio-test
                .userPayment.form-input(data-validation="required", data-validation-type="radio",
                        data-validation-text="Выберите способ оплаты")
                    span Способ оплаты
                    .radiobox-container
                        label.method-cash.checkbox.radiobox.two-lines-text
                            input.inline-middle(type="radio", name="userPayment", value="cashbox")
                            .checkbox-control
                                +svg('icon-check')
                                span На кассе - наличными или платежной картой
                        label.method-courier.method-post.checkbox.radiobox
                            input.inline-middle(type="radio", name="userPayment", value="cash", checked)
                            .checkbox-control
                                +svg('icon-check')
                                span Наличными
                        label.method-courier.method-post.checkbox.radiobox
                            input.inline-middle(type="radio", name="userPayment", value="card")
                            .checkbox-control
                                +svg('icon-check')
                                span Банковской платежной картой
                        .error Выберите способ оплаты
                button.validate-form-button(type='submit') Оформить заказ
        include ../components/modals/common
        // Mocha container.
        #mocha
        // Global help-variables
        script(src='./test-js/global.js')
        // Menu components test
        script(src='./test-js/validator.test.js')
