ul.breadcrumbs(itemscope, itemtype="http://schema.org/BreadcrumbList")
    li.breadcrumb-item(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
        .breadcrumb-title
            span Каталог
            +svg('icon-triangle')
        .breadcrumb-sublinks
            a(href="#!") Ссылка 1
            a(href="#!") Ссылка 2
            a(href="#!") Ссылка 3
            a(href="#!") Ссылка 4
            a(href="#!") Ссылка 5
    li.breadcrumb-item(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
        .breadcrumb-title
            span Книги
            +svg('icon-triangle')
        .breadcrumb-sublinks
            a(href="#!") Очень длинная ссылка 1
            a(href="#!") Ссылка 2
            a(href="#!") Ссылка 3
            a(href="#!") Ссылка 4
            a(href="#!") Ссылка 5
            a(href="#!") Ссылка 6
            a(href="#!") Ссылка 7
            a(href="#!") Ссылка 8
    li.breadcrumb-item(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
        .breadcrumb-title
            span Детская литература
            +svg('icon-triangle')
        .breadcrumb-sublinks
            a(href="#!") Ссылка 1
            a(href="#!") Ссылка 2
            a(href="#!") Ссылка 3
    li.breadcrumb-item(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
        .breadcrumb-title
            span Disney
            +svg('icon-triangle')
        .breadcrumb-sublinks
            a(href="#!") Ссылка 1
            a(href="#!") Ссылка 2
            a(href="#!") Ссылка 3
    li.breadcrumb-item.not-a-link(itemprop="itemListElement", itemscope="", itemtype="http://schema.org/ListItem")
        span Disney Princess Enchanted Character Guide