include ../includes/mixins.pug
footer
    .footer-info.owl-carousel
        .footer-info__item.first
            +svg('icon-footer-items-1')
            span.inline-middle
                span.item_number 100 000&nbsp
                span товаров на складе
        .footer-info__item.second
            +svg('icon-footer-items-2')
            span.inline-middle
                span.item_number 141&nbsp
                span пункт выдачи заказов
        .footer-info__item.third
            +svg('icon-footer-items-3')
            span.inline-middle
                span Выполнено
                span.item_number &nbsp3409909&nbsp
                span заказов
        .footer-info__item.fourth
            +svg('icon-footer-items-4')
            span.inline-middle
                span.item_number 654417&nbsp
                span клиентов в клубе ON-бонус
        .footer-info__item.fifth
            +svg('icon-footer-items-5')
            span.inline-middle
                span.item_number 18&nbsp
                span лет на рынке
    .footer-subscribe
        button#issue_request.footer-button.hidden-landscape(data-toggle="modal", data-target=".modal-issue", data-modal-action="issue")
            +svg('icon-plane')
            span Сообщить о проблеме
        span.hidden-mobile.hide-on-subscribe-success Подпишись!
            span.hidden-landscape &nbspНовинки, скидки, предложения!
        form.footer-subscribe__form
            label(data-validation="required", data-validation-type="email").form-input
                +svg('icon-alert')
                span.hidden-small Укажите свой email
                input#footer_subscribe_input(type="email", placeholder="Введите email", name="email")
            button#footer_subscribe.footer-button.validate-form-button(type='submit')
                +svg('icon-letter')
                span Подписаться
        .footer-up-button
            span.hidden-small Вернуться наверх
            span.shown-mobile-inline Наверх
            +svg('icon-arrow-up')
    .footer-container
        .row.text-main-black
            .col.footer-links.online-shop
                h5
                    +svg('icon-arrow')
                    |Интернет-магазин
                ul
                    li: a.text-main-black(href="#!") О магазине
                    li: a.text-main-black(href="#!") Доставка и оплата
                    li: a.text-main-black(href="#!") Договор публичной оферты
                    li: a.text-main-black(href="#!") Контакты интернет-магазина
                    li: a.text-main-black(href="#!") Оптовым партнерам
                .bottom-link.copyright Все права защищены, MARWIN 2016
            .col.footer-links.about
                h5
                    +svg('icon-arrow')
                    |О Компании
                ul
                    li: a.text-main-black(href="#!") О компании
                    li: a.text-main-black(href="#!") История компании
                    li: a.text-main-black(href="#!") Наши магазины
                    li: a.text-main-black(href="#!") Новости компании
                    li: a.text-main-black(href="#!") Новостной портал
                    li: a.text-main-black(href="#!") Вакансии
                .bottom-link.creditcards
                    a(href="#!"): +svg('icon-visa')
                    a(href="#!"): +svg('icon-maestro')
                    a(href="#!"): +svg('icon-mastercard')
            .col.footer-links.corp
                h5
                    +svg('icon-arrow')
                    |Корпоративный блок
                ul
                    li: a.text-main-black(href="#!") Контакты для прессы
                    li: a.text-main-black(href="#!") Социальная ответственность
                a.text-main-black.bottom-link#whatsapp(href="tel:8 701 570 69 38")
                    .relative
                        span.message.inline-middle Написать нам
                        span.message.inline-middle.hover 8 701 570 69 38
                        .whatsapp-logo.inline-middle
                            +svg('icon-whatsapp')
                            +svg('icon-whatsappActive')
                            span WhatsApp
            .col.footer-links.separate-large.projects
                h5
                    +svg('icon-arrow')
                    |Наши проекты
                ul
                    li: a.text-main-black(href="#!") Афиша Meloman.kz
                    li: a.text-main-black(href="#!") Привези - товары из Росии на заказ
                    li: a.text-main-black(href="#!") МАФ - это мобильная афиша
                    li: a.text-main-black(href="#!") Бонусный клуб
                    li: a.text-main-black(href="#!") Билеты в "Меломане"
                    li: a.text-main-black(href="#!") Marwin.kz - интернет-магазин товаров для детей
                    .bottom-link.call-mobile
                        a(href="tel:7890")
                            +svg('icon-phone')
                            |7890
                        span.hidden-landscape звонок c мобильного
                ul
                    li: a.text-main-black(href="#!") Комфорт - товары для дома и ремонта
                    li: a.text-main-black(href="#!") Арсенал - торгово-развлекательный комплекс и кинотеатр
                    li: a.text-main-black(href="#!") LEGO Education в Казахстане
                    li: a.text-main-black(href="#!") Questeria - квесты в реальности
                    li: a.text-main-black(href="#!") Резиденция Sunrise - роскошная вилла для отдыха
                    .bottom-link.call.hidden-middle
                        a(href="tel:+7 (727) 338 3800 ") +7 (727) 338 3800
            .col.footer-links.hidden-middle.srvices
                h5 Сервисы покупателя
                ul
                    li: a.text-main-black(href="#!") Бонусные карты
                    li: a.text-main-black(href="#!") Клуб для детей
                .bottom-link.footer-links__social
                    a.text-main-black(href="#!").insta
                        +svg('icon-insta')
                    a.text-main-black(href="#!").fb
                        +svg('icon-fb')
                    a.text-main-black(href="#!").vk
                        +svg('icon-vk')
                    a.text-main-black(href="#!").ggl
                        +svg('icon-ggl')
            .col.footer-links.app-links
                .col.footer-links.hidden-large.border-link
                    h5
                        +svg('icon-arrow')
                        |Сервисы покупателя
                    ul
                        li: a.text-main-black(href="#!") Бонусные карты
                        li: a.text-main-black(href="#!") Клуб для детей
                    .bottom-link.footer-links__social
                        a.text-main-black(href="#!").insta
                            +svg('icon-insta')
                        a.text-main-black(href="#!").fb
                            +svg('icon-fb')
                        a.text-main-black(href="#!").vk
                            +svg('icon-vk')
                        a.text-main-black(href="#!").ggl
                            +svg('icon-ggl')
                .bottom-link.call.hidden-large
                    a(href="tel:+7 (727) 338 3800 ") +7 (727) 338 3800
                h5.app-links-header Скачайте бесплатное приложение Бонусный клуб «Меломан»
                ul.app-links-list
                    li
                        a.clearfix.app-link.apple(href="#!")
                            .left-side
                                +svg('icon-apple')
                            .right-side
                                span.title Available on the <br /> <b class="title-name">Mac App Store</b>
                    li
                        a.clearfix.app-link.android(href="#!")
                            .left-side
                                +svg('icon-android')
                            .right-side
                                span.title Available in <br /> <b class="title-name">Android Market</b>
