head
	meta(name="format-detection", content="telephone=no")
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
	title= title
	link(href=`css/index.min.css?v=${version}`, rel='stylesheet')