include ../includes/mixins.pug
header
    .header-links
        .pull-left
            .header-links-toggle
                span.hidden-mobile Дополнительная информация
                span.shown-mobile-inline Инфо
                +svg('icon-triangle')
            .header-links__links
                a(href="#!") Карта постоянного клиента
                a(href="#!") Активация кодов
                a(href="#!") Доставка и Оплата
                a(href="#!") Гарантия и качество
                a(href="#!") Контакты и магазины
        .pull-right
            .header-links__city-choice
                span Ваш город:
                #city_choice
                    span.header-links__city-selected Алматы
                    +svg('icon-triangle')
                .header-links__city-list
                    .title.pull-left
                        span Ваш город:
                            .header-links__city-selected Алматы
                        span От Вашего выбора зависит стоимость и дата доставки
                    .column.pull-left
                        .header-links__city-item.active(data-city-id="1") Алматы
                        .header-links__city-item(data-city-id="2") Актобе
                        .header-links__city-item(data-city-id="3") Актау
                        .header-links__city-item(data-city-id="4") Семей
                        .header-links__city-item(data-city-id="5") Уральск
                        .header-links__city-item(data-city-id="6") Шымкент
                        .header-links__city-item(data-city-id="7") Экибазтус
                        .header-links__city-item(data-city-id="8") Зыряновск
                    .column.pull-left
                        .header-links__city-item(data-city-id="9") Астана
                        .header-links__city-item(data-city-id="10") Атырау
                        .header-links__city-item(data-city-id="11") Караганда
                        .header-links__city-item(data-city-id="12") Тараз
                        .header-links__city-item(data-city-id="13") Усть-Каменогорск
                        .header-links__city-item(data-city-id="14") Павлоград
                        .header-links__city-item(data-city-id="15") Костанай
                        .header-links__city-item(data-city-id="16") Другой
            .header-links__city-number
                span для&nbsp
                span#city_name Алматы
                a#city_number(href="tel:8 727 338 3700") 8 727 338 3700
            a.header-links__call(href="tel:7890")
                span Бесплатный звонок с мобильного&nbsp
                +svg('icon-phone')
                span <b>7890</b>
    .header-main
        .pull-left
            a.header-logo(href="#!"): img(src="./img/logo.png")
            #header__menu-toggle
                +svg('icon-hamburger')
                span Каталог товаров
                +svg('icon-triangle')
        .header-search
            .header-search__wrapper
                .header-search__categories
                    span Все категории
                    +svg('icon-triangle')
                    .relative
                        .all-categories-container
                            .column
                                .category.active(data-category-id="1") Все категории
                                .category(data-category-id="2") Акции
                                .category(data-category-id="3") Новинки
                                .category(data-category-id="4") Гидроскутеры
                                .category(data-category-id="5") Звездные войны
                                .category(data-category-id="6") Кино
                                .category(data-category-id="7") Наушники
                                .category(data-category-id="8") Музыка
                                .category(data-category-id="9") Все товары
                            .column
                                .category(data-category-id="10") Книжный магазин
                                .category(data-category-id="11") Творчество и хобби
                                .category(data-category-id="12") Школа и канцелярия
                                .category(data-category-id="13") Игровые приставки и аксессеары
                                .category(data-category-id="14") Виделигры для консолей
                                .category(data-category-id="15") Игрушки и развлечения
                                .category(data-category-id="16") Активный отдых
                                .category(data-category-id="17") Туризм
                form.header-search__search-field(autocomplete="off")
                    input(type="text", autocomplete="off", autocorrect="off", autocapitalize="off")
                .header-search__search-button
                    +svg('icon-search')
            .header-categories
                a(href="#!") Акции
                a(href="#!") Новинки
                a(href="#!") Гироскутеры
                a(href="#!") Звездные войны
                a(href="#!") Кино
                a(href="#!") Наушники
                a(href="#!") Музыка
                a(href="#!") Все товары
                a(href="#!") Sale
        .pull-right
            .row
                .header-action-item.clearfix.header-search-trigger
                    +svg('icon-search')
                a.header-cart.header-action-item(href="#!")
                    .badge.cart 26
                    .relative
                        +svg('icon-cart')
                    span.title.hidden-small Корзина
                    span.subtitle.hidden-small Ваша корзина пуста
                    .header-card__notify.hidden-small
                        +svg('icon-notify')
                        .relative
                            .message
                                span Вас ждет подарок <br /> + бонусы
                .header-user.header-action-item.header-user-toggle
                    .badge.user
                        +svg('icon-bubble')
                        .user-badge-discount 25%
                    .relative(data-toggle="modal", data-target=".modal-login", data-modal-action="login")
                        +svg('icon-person')
                    span.user-not-logged.title.hidden-small(data-toggle="modal", data-target=".modal-login", data-modal-action="login") Войти
                    span.user-not-logged.subtitle.hidden-small(data-toggle="modal", data-target=".modal-register", data-modal-action="register") Регистрация
                    span.user-logged.title.hidden-small.user-name Александр
                    span.user-logged.subtitle.hidden-small.user-account Бонусный счет 2252
                    .triangle(data-toggle="modal", data-target=".bs-example-modal-sm", data-modal-action="login")
                        +svg('icon-triangle')
                    .header-user-dropdown.user-logged
                        .relative
                            .badge.user
                                +svg('icon-bubble')
                                .user-badge-discount 25%
                        .header-user-toggle.clearfix
                            +svg('icon-person')
                            span.user-logged.title.user-name Александр
                            span.user-logged.subtitle.user-account Бонусный счет 2252
                        .header-user-links
                            a(href="#!")
                                +svg('icon-user-1')
                                span.inline-middle Ваш личный кабинет
                            a(href="#!")
                                +svg('icon-user-2')
                                span.inline-middle Бонусный счет
                            a(href="#!")
                                +svg('icon-user-3')
                                span.inline-middle Избранное
                            a(href="#!")
                                +svg('icon-user-4')
                                span.inline-middle Выйти
            a.header-banner(href="#!")
                img(src="banners/header-banner.png")