include ../includes/mixins.pug
include ../includes/variables.pug
.menu#main-menu
    nav.categories-container.clearfix
        .category.bookstore
            div.color-bar
            .icon-container
                +svg('icon-category-1')
            .category-name Книжный магазин
            .category-secondLevel-container
                .category-secondLevel-back
                    +svg('icon-arrow')
                    |Все категории
                .category-secondLevel(data-href="catalog.html")
                    span Детская литература
                    .category-thirdLevel-container
                        .category-thirdLevel-title
                            a.inline-middle(href="#!") Детская литература
                                +svg('icon-fullarrow')
                            +svg('icon-x')
                        .category-thirdLevel-column
                            .title Категория
                            a(href="#!") Азбуки и буквари
                            a(href="#!") Детские энциклопедии
                            a(href="#!") Книги на картоне
                            a(href="#!") Книги-игрушки
                            a(href="#!") Литература для подростков
                            a(href="#!") Развивающая литература
                            a(href="#!") Рассказы
                            a(href="#!") Сказки
                            a(href="#!") Школьная классика
                            a(href="#!") Внеклассное чтение
                        .category-thirdLevel-column
                            .title Автор
                            a(href="#!") Ганс Андерсон
                .category-secondLevel(data-href="catalog.html")
                    span Бизнес-литература
                .category-secondLevel(data-href="catalog.html")
                    span Графическая литература
                .category-secondLevel(data-href="catalog.html")
                    span Детская литература
                .category-secondLevel(data-href="catalog.html")
                    span Дизайн Мода Стиль
                .category-secondLevel(data-href="catalog.html")
                    span Дом Досуг Хобби
                .category-secondLevel(data-href="catalog.html")
                    span Здоровье Мать Дитя
                .category-secondLevel(data-href="catalog.html")
                    span Иностранные языки
                .category-secondLevel(data-href="catalog.html")
                    span Интернет Компьютеры
                .category-secondLevel(data-href="catalog.html")
                    span Искусство Культура
                .category-secondLevel(data-href="catalog.html")
                    span История Мифология
                .category-secondLevel(data-href="catalog.html")
                    span Книги Подарок
                .category-secondLevel(data-href="catalog.html")
                    span Кулинария
                .category-secondLevel(data-href="catalog.html")
                    span Наш Казахстан
                .category-secondLevel(data-href="catalog.html")
                    span Продукты питания
                .category-secondLevel(data-href="catalog.html")
                    span Софт и игры для PC
                .category-secondLevel(data-href="catalog.html")
                    span Товары для нового года
                .category-secondLevel(data-href="catalog.html")
                    span Школьная форма и обувь
                .category-secondLevel(data-href="catalog.html")
                    span Электротовары, свет
                .category-secondLevel(data-href="catalog.html")
                    span Сад, огород и дача
                .category-secondLevel(data-href="catalog.html")
                    span Стройматериалы
                .category-secondLevel(data-href="catalog.html")
                    span Цифровая техника
                .category-secondLevel(data-href="catalog.html")
                    span Тренажеры на заказ
                .category-secondLevel(data-href="catalog.html")
                    span Сувенирная продукция
                .category-secondLevel(data-href="catalog.html")
                    span Отделочные материалы
                .category-secondLevel(data-href="catalog.html")
                    span Сантехника и отопление
                .category-secondLevel(data-href="catalog.html")
                    span Товары для дома
                .category-secondLevel(data-href="catalog.html")
                    span Школа, канцелярия
                .category-secondLevel(data-href="catalog.html")
                    span Книги на заказ
                .category-secondLevel(data-href="catalog.html")
                    span Прочие товары
                    .category-thirdLevel-container
                        .category-thirdLevel-title
                            a.inline-middle(href="#!") Прочие товары
                                +svg('icon-fullarrow')
                            +svg('icon-x')
                        .category-thirdLevel-column
                            .title Категория
                            a(href="#!") Азбуки и буквари
                            a(href="#!") Детские энциклопедии
                            a(href="#!") Книги на картоне
                            a(href="#!") Книги-игрушки
                            a(href="#!") Литература для подростков
                            a(href="#!") Развивающая литература
                            a(href="#!") Рассказы
                            a(href="#!") Сказки
                            a(href="#!") Школьная классика
                            a(href="#!") Внеклассное чтение
                        .category-thirdLevel-column
                            .title Автор
                            a(href="#!") Ганс Андерсон
        .category.school
            div.color-bar
            .icon-container
                +svg('icon-category-2')
            .category-name Школа и Канцелярия
        .category.gamingDevices
            div.color-bar
            .icon-container
                +svg('icon-category-3')
            .category-name Игровые приставки и аксессуары
        .category.videogames
            div.color-bar
            .icon-container
                +svg('icon-category-4')
            .category-name Видеоигры для консолей и PC
        .category.games
            div.color-bar
            .icon-container
                +svg('icon-category-5')
            .category-name Игрушки и развлечения
        .category.sport
            div.color-bar
            .icon-container
                +svg('icon-category-6')
            .category-name Активный отдых и спорт
        .category-separator Другие товары
        .category.creation
            div.color-bar
            .icon-container
                +svg('icon-category-7')
            .category-name Творчество
        .category.print3d
            div.color-bar
            .icon-container
                +svg('icon-category-8')
            .category-name 3D-Печать
        .category.sport
            div.color-bar
            .icon-container
                +svg('icon-category-9')
            .category-name Активный отдых и спорт
        .category.audio
            div.color-bar
            .icon-container
                +svg('icon-category-10')
            .category-name Аудиотехника
        .category.games
            div.color-bar
            .icon-container
                +svg('icon-category-11')
            .category-name Видеоигры
        .category.locks
            div.color-bar
            .icon-container
                +svg('icon-category-12')
            .category-name Двери и замки
        .category.fun
            div.color-bar
            .icon-container
                +svg('icon-category-13')
            .category-name Игрушки и развлечения
        .category.kidsclothes
            div.color-bar
            .icon-container
                +svg('icon-category-14')
            .category-name Детская одежда и обувь
        .category.books
            div.color-bar
            .icon-container
                +svg('icon-category-15')
            .category-name Книги
        .category.instruments
            div.color-bar
            .icon-container
                +svg('icon-category-16')
            .category-name Инструменты
            .category-secondLevel-container
                .category-secondLevel-back
                    +svg('icon-arrow')
                    | Все категории
                .category-secondLevel(data-href="#")
                    span Аудиокнига
                    .category-thirdLevel-container
                        .category-thirdLevel-title
                            a.inline-middle(href="#!") Детская литература
                                +svg('icon-fullarrow')
                            +svg('icon-x')
                        .category-thirdLevel-column
                            .title Категория
                            a(href="#!") Азбуки и буквари
                            a(href="#!") Детские энциклопедии
                            a(href="#!") Книги на картоне
                            a(href="#!") Книги-игрушки
                            a(href="#!") Литература для подростков
                            a(href="#!") Развивающая литература
                            a(href="#!") Рассказы
                            a(href="#!") Сказки
                            a(href="#!") Школьная классика
                            a(href="#!") Внеклассное чтение
                        .category-thirdLevel-column
                            .title Автор
                            a(href="#!") Ганс Андерсон
                .category-secondLevel(data-href="#")
                    span Бизнес-литература
                .category-secondLevel(data-href="#")
                    span Графическая литература
                .category-secondLevel(data-href="#")
                    span Детская литература
                .category-secondLevel(data-href="#")
                    span Дизайн Мода Стиль
        a.category-separator.link(href="#!") Все товары
.menu-backface


