nav.pagination-container
    a.pagination-button.prev
        .inline-middle.full-height
        +svg('icon-triangle')
        | назад
    ul.pagination-pages
        li.hidden-mobile: a(href="#!") 10
        li: a(href="#!") 11
        li ...
        li: a(href="#!") 25
        li.hidden-mobile: a(href="#!") 26
    a.pagination-button.next
        .inline-middle.full-height
        | вперед
        +svg('icon-triangle')