nav.pagination-container
    a.pagination-button.prev
        .inline-middle.full-height
        +svg('icon-triangle')
        | назад
    ul.pagination-pages
        li: a(href="#!") 1
        li: a(href="#!") 2
    a.pagination-button.next
        .inline-middle.full-height
        | вперед
        +svg('icon-triangle')