.cart-main-container {
  float: left

  width: 100%

  padding: 0 20px

  margin-top: 10px

  @media (max-width: 1023px) {
    margin-top: 20px
  }
  @media (max-width: 599px) {
    padding: 0
  }

  &.empty {
    .empty {
      display: inline-block!important
    }
    .checkbox.selectAll {
      input {
        display: none!important
      }
      span {
        margin: 0!important
      }
      .checkbox-control {
        display: none!important
      }
    }
  }
}

.cart-main-actions {
  float: left
  width: 100%

  @media (max-width: 599px) {
    padding: 0 15px
  }

  .action {
    float: right

    cursor: pointer

    &:not(:first-child) {
      margin-right: 30px
    }

    span {
      text(proxima-reg, 14px, main-black, 16px)
    }

    svg {
      vertical-align: middle

      margin-right: 5px
    }
  }

  .cart-add-deferred {
    svg {
      setWH(18px, 17px)

      fill: main-blue

      margin-top: -3px
    }
  }

  .cart-delete {
    svg {
      fill: main-err

      setWH(18px)

      margin-top: 3px
    }
  }
}

.cart-main,
.cart-main-header {
  float: left
  width: 100%
}

.cart-main {
  margin-top: 20px
  padding: 0 15px

  border: 1px solid #efefef

  background-color: white

  border-radius: 3px

  @media (max-width: 599px) {
    padding: 0

    border-radius: 0
  }

  label.checkbox {
    input {
      margin: 0
    }
    .checkbox-control {
      top: 0
      left: 0

      border: 1px solid #d1d1d1

      setWH(24px)

      @media (max-width: 599px) {
        top: 2px
      }

      svg {
        display: block

        setWH(14px)

        margin-left: 4px
        margin-top: 4px

        fill: #fff
      }
    }
  }

  .cart-title-column,
  .cart-count-column,
  .cart-price-column {
    float: left
  }

  .cart-title-column {
    width: 60%

    @media (max-width: 599px) {
      width: 100%

      margin-bottom: 5px
    }
  }
  .cart-count-column {
    width: 20%
    margin-left: 5%

    text-align: center

    @media (max-width: 1023px) {
      width: 19%

      margin-left: 1%
    }
    @media (max-width: 599px) {
      float: right
      width: auto
    }
  }
  .cart-price-column {
    width: 15%
    text-align: center

    @media (max-width: 1023px) {
      width: 20%
    }
    @media (max-width: 599px) {
      float: left
      width: auto

      margin-left: 70px
    }
  }
}

.cart-main-header {
  display: flex
  align-items: center

  position: relative
  padding: 20px 0

  border-bottom: 1px solid #efefef

  @media (max-width: 599px) {
    padding: 10px 20px

    .cart-title-column {
      margin-bottom: 0
    }
  }

  label {
    span {
      margin-left: 17px
    }

    input {
      width: 24px
    }

    .checkbox-control {
      top: -3px !important
    }
  }

  span {
    font-size: 14px

    opacity: .5
  }
}

.cart-main-body {
  float: left

  width: 100%

  padding: 25px 0

  @media (max-width: 599px) {
    padding-top: 20px
    padding-bottom: 10px
  }

  .cart-item {
    position: relative

    float: left

    width: 100%

    &:not(:first-child) {
      margin-top: 25px
      padding-top: 25px

      border-top: 1px solid #efefef

      @media (max-width: 599px) {
        margin-top: 10px
        padding-top: 20px
      }
    }

    @media (max-width: 599px) {
      padding: 0 20px
    }
  }
  .cart-item-check {
    float: left

    margin-top: 11px

    width: 24px
    height: 24px

    @media (max-width: 599px) {
      position: absolute

      left: 20px
      bottom: 18px
    }
  }
  .cart-item-preview {
    float: left

    margin: 0 15px 0 20px

    setWH(54px)

    overflow: hidden

    text-align: center

    img {
      max-width: 100%
    }

    @media (max-width: 599px) {
      margin-left: 0
    }
  }
  .cart-item-title {
    float: left

    max-width: 630px

    @media (min-width: 1024px) {
      margin-top: 8px
    }

    @media (max-width: 1279px) {
      max-width: 430px
    }

    @media (max-width: 1023px) {
      max-width: 200px
    }

    @media (max-width: 599px) {
      max-width: calc(100% - 75px)
    }

    .title,
    .id {
      width: 100%
      display: inline-block
      vertical-align: top
    }
    .title {
      text(proxima-reg, 14px, main-black, initial)

      &:hover {
        text-decoration: underline
      }
    }
    .id {
      text(proxima-reg, 12px, main-black, initial)

      opacity: .5
    }
  }
  .cart-count-column {
    padding: 12px 0

    text-align: center

    span {
      font-size: 14px
    }

    .count {
      display: inline-block

      setWH(28px)

      border: 1px solid #d1d1d1
      border-radius: 3px

      background-color: white

      font-size: 12px
      line-height: 28px
      font-weight: bold

      text-align:center

      cursor: pointer

      vertical-align: top

      &.minus.disabled {
        opacity: .5
        cursor: default
      }

      &.current {
        line-height: 21px
        cursor: text
      }

      &:not(.current) {
        font-size: 19px
      }

      &:not(:first-child) {
        margin-left: 20px

        @media (max-width: 1023px) {
          margin-left: 0
        }
      }

      @media (max-width: 1280px) {
        &.current {
          border-radius: 0
        }
        &.minus {
          border-right: none
          border-radius: 3px 0 0 3px
        }
        &.plus {
          border-left: none
          border-radius: 0 3px 3px 0
        }
      }
    }
  }
  .cart-price-column {
    height: 50px

    display: flex
    flex-direction: column
    justify-content: center

    span {
      display: inline-block

      width: 100%
      text-align: center

      color: main-black

      line-height: initial

      @media (max-width: 599px) {
        text-align: left
      }
    }
    .total-price {
      font-size: 16px
      font-weight: bold
    }
    .total-discount {
      font-size: 12px
      color: cart-green
    }
  }

  .empty {
    display: none

    width: 100%

    text-align: center
  }
}

.cart-price-total {
  float: right

  width: 300px

  margin-top: 20px

  padding: 20px 30px

  background-color: #f1f1f1

  border-radius: 5px

  @media (max-width: 768px) {
    margin-top: 30px
  }

  @media (max-width: 599px) {
    width: 100%

    padding: 20px

    border-radius: 0
  }

  .price-field {
    display: inline-block

    color: main-black
    font-family: proxima-reg

    width: 100%

    .title {
      float: left
    }

    .value {
      float: right
    }

    &.total {
      font-weight: 700

      > .title {
        font-size: 14px
      }
      > .value {
        font-size: 16px
        line-height: initial
      }
    }
    &.to-pay {
      font-weight: 700

      > .title {
        font-size: 16px
      }
      > .value {
        font-size: 18px
      }
    }

    .discount {
      display: block

      float: right

      clear: both

      color: cart-green
      font-weight: 700

      margin-top: -3px

      .title {
        margin-right: 3px
        font-size: 12px
      }
      .value {
        font-size: 12px
      }
    }
  }

  .checkout-button {
    display: inline-block

    setWH(100%, 40px)

    margin-top: 5px

    color: white
    line-height: 40px
    text-align: center

    background-color: main-blue

    border-radius: 5px

    cursor: pointer

    blueHoverItem()
  }
}