/* BREADCRUMBS */
.breadcrumbs {
  float: left

  width: 100%
  height: 16px

  margin: 0 0 25px 0

  text-align: left

  padding-left: 15px

  @media (max-width: 599px) {
    margin: 0 0 15px 0

    padding-left: 15px
    padding-right: 15px

    height: auto
  }

  .breadcrumb-item {
    display: inline-block
    position: relative

    z-index: 5

    &:not(.not-a-link) {
      cursor: pointer
    }

    &.not-a-link {
      margin-left: 6px

      @media (max-width: 599px) {
        margin: 0

        span {
          padding: 3px
        }
      }
    }

    text(proxima-reg, 12px, main-black, 16px)

    @media (max-width: 599px) {
      line-height: 0

      font-size: 11px
    }

    .breadcrumb-title {
      padding: 5px

      border: 1px solid transparent

      border-radius: 3px 3px 0 0

      position: relative

      span {
        display: inline-block

        height: 100%
      }
      svg {
        width: 8px
        height: 8px

        margin-left: 2px
      }

      @media (max-width: 599px) {
        padding: 3px
      }

      &:hover {
        span {
          text-decoration: underline
        }
      }
    }

    .breadcrumb-sublinks {
      position: absolute

      left: 0
      top: 100%

      width: 100%
      min-width: 120px

      height: auto

      padding-top: 5px

      border: 1px solid #d1d1d1
      border-radius: 0 0 3px 3px

      background-color: white

      z-index: 2

      display: none

      @media (max-width: 599px) {
        min-width: 70px
      }

      a {
        display: inline-block
        width: 100%

        overflow: hidden
        text-overflow: ellipsis

        white-space: nowrap

        padding: 9px 5px

        background-color: white

        &:hover {
          text-decoration: underline
        }

        text(proxima-reg, 12px, main-black, initial)

        @media (max-width: 599px) {
          font-size: 11px
        }
      }
    }

    &.active {
      .breadcrumb-title {
        border: 1px solid #d1d1d1

        position: relative
        z-index: 3

        &:after {
          content: '';

          position: absolute

          setWH(100%, 4px)

          left: 0
          bottom: -3px

          background-color: white

          z-index: 4
        }
      }
      .breadcrumb-sublinks {
        display: block
      }
    }
  }
}

/* PAGE TITLE */
.page-title {
  float: left

  width: 100%

  padding-left: 20px
  padding-right: 20px
  @media (max-width: 599px) {
    padding-left: 15px
    padding-right: 15px
  }

  margin: 0

  text(proxima-reg, 28px, main-black, initial)
}

/* CHECKBOX ITEM */
.checkbox {
  position: relative
  cursor: pointer

  span {
    height: 100%

    text(proxima-reg, 13px, main-black, 30px)

    @media (min-width: 1280px) {
      line-height: initial
    }
  }

  input {
    setWH(10px)

    margin-right: 10px

    cursor: pointer
    opacity: 0
  }

  .checkbox-control {
    position: absolute

    setWH(12px)

    left: 7px
    top: 8px

    z-index: 0

    border: 1px solid rgba(0,0,0,.3)
    border-radius: 3px

    background-color: white

    transition: background-color .2s ease, border-color .2s ease

    svg {
      display: block

      setWH(6px, 10px)

      margin-left: 2px

      fill: white
    }
  }

  input:checked + .checkbox-control {
    border-color: main-blue

    background-color: main-blue
  }
}

/* PAGINATION */
.pagination-container {
  float: right

  margin-top: 25px

  padding-right: 20px
  @media (max-width: 599px) {
    width: 100%
    text-align: center

    padding-right: 15px
    padding-left: 15px
  }

  text(proxima-reg, 14px, main-black, paginationHeight)

  .pagination-button {
    display: inline-block
    vertical-align: top

    setWH(80px, 36px)

    text-align: center

    border: 0.5px solid #d1d1d1
    border-radius: 4px

    cursor: pointer

    transition: color .2s ease, border-color .2s ease

    svg {
      display: inline-block
      vertical-align: middle

      setWH(15px)

      fill: main-black
      transition: fill .2s ease
    }

    &.prev svg {
      margin-right: 6px
      margin-left: -7px

      transform: rotate(90deg)
    }

    &.next svg {
      margin-left: 4px
      margin-right: -4px

      transform: rotate(-90deg)
    }

    &:hover {
      color: main-blue
      border-color: main-blue

      svg {
        fill: main-blue
      }
    }
  }

  .pagination-pages {
    display: inline-block

    margin: 0 5px

    padding-top: 1px

    border: 0.5px solid #d1d1d1
    border-radius: 4px

    cursor: pointer

    height: paginationHeight

    li {
      display: inline-block

      padding: 0 10px

      a {
        color: main-black

        transition: color .2s ease

        &:hover {
          color: main-blue
        }
      }
    }
  }
}

/* CONTAINER AND ITEMS (USED BY NEWS AND SALES) */
.container {
  float: left
  width: 100%

  margin-top: 25px

  padding: 0 20px

  @media (max-width: 767px) {
    margin-top: 10px

    padding: 0 15px
  }

  &.single-news {
    margin-top: 0

    ul li {
      list-style-type: disc
      margin-left: 20px
    }
  }
}
.single-item {
  display: inline-block

  width: 100%

  &:not(:first-child) {
    margin-top: 30px
  }

  @media (min-width: 1024px) {
    height: 230px
  }

  img {
    float: left

    setWH(100%)
  }

  .item-title {
    display: inline-block

    width: 100%

    margin: 0 0 12px 0

    text(proxima-reg, 20px, main-black, 24px)

    @media (min-width: 1281px) {
      &:hover {
        text-decoration: underline
      }
    }
    @media (max-width: 1280px) {
      &:active {
        text-decoration: underline
      }
    }
    @media (min-width: 1024px) {
      &.mobile {
        display: none
      }
    }
    @media (max-width: 1023px) {
      &.desktop {
        display: none
      }
    }
  }

  .left-side {
    @media (min-width: 1280px) {
      width: 370px
    }
    @media (max-width: 1279px) {
      width: 50%
      height: 100%
    }
    @media (max-width: 1023px) {
      width: 100%
    }
  }

  .right-side {
    font-family: proxima-reg
    font-size: 13px
    color: main-black

    float: right

    @media (min-width: 1280px) {
      width: calc(100% - 385px)
    }
    @media (max-width: 1279px) {
      width: 47%
    }
    @media (max-width: 1023px) {
      width: 100%

      margin-top: 10px
    }

    height: 100%

    @media (min-width: 1024px) {
      display: flex
      flex-direction: column
      justify-content: space-between
    }
  }

  .item-preview-text {
    line-height: 20px
    overflow: hidden

    max-height: 140px
  }

  .stay-bottom {
    @media (min-width: 1280px) {
      margin-top: 8px
    }
    @media (max-width: 1279px) {
      margin-top: 15px
    }
  }

  .stay-top,
  .stay-bottom {
    width: 100%

    > span,
    > a {
      display: inline-block

      width: 100%
    }
  }

  a.item-read-more {
    color: main-black
    text-decoration: underline
  }

  .item-type {
    a {
      color: main-black
      font-weight: 600
      text-decoration: underline
    }
  }

  .item-left {
    margin-top: -10px

    b {
      font-weight: normal
      font-size: 24px
    }
  }

  &.sales {
    .item-preview-text {
      line-height: 20px
      overflow: hidden

      @media (min-width: 1280px) {
        max-height: 100px
      }
      @media (max-width: 1279px) {
        max-height: 80px
      }
    }
  }
}
