.dropdown-box {
  height: main-dd-height
  width: 140px

  position: relative

  border: 1px solid #d1d1d1
  border-radius: 4px

  box-sizing: border-box

  transition: all .3s ease

  cursor: pointer

  .dropdown-box-title {
    padding-left: 7px
    padding-right: 11px

    display: inline-block
    width: 100%
    height: 100%

    > span {
      float: left

      height: 100%

      text(proxima-sem, 12px, main-black, main-dd-height)

      max-width: 90%
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    }

    svg {
      float: right

      setWH(11px, 14px)

      margin-top: 9px

      transition: transform .3s ease
    }
  }

  .dropdown-box-options {
    position: absolute

    width: calc(100% + 2px)

    padding: 5px 0

    left: -1px
    top: (main-dd-height - 1px)

    background-color: #fafafa

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)

    border-radius: 0 0 4px 4px

    opacity: 0
    visibility: hidden

    // default animation. must be overridden
    transform: translateY(-10px)

    transition: all .3s ease

    z-index: 2
  }

  .dropdown-box-option {
    display: inline-block
    position: relative

    width: 100%
    height: items-dd-height

    padding: 0 7px

    cursor: pointer

    > span,
    > a {
      text(proxima-reg, 12px, main-black, items-dd-height)
      max-width: 100%
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    }

    &.active {
      > span,
      > a {
        color: main-blue
      }
    }
  }

  .dropdown-box-button {
    display: inline-block

    width: 100%
    height: items-dd-height

    border-radius: 0 0 4px 4px

    text(proxima-reg, 12px, white, items-dd-height)
    text-align: center

    background-color: main-blue

    cursor: pointer

    @media (max-width: 599px) {
      border-radius: 4px

      margin-top: 10px
    }
  }

  &.active:not(.disabled) {
    border-radius: 4px 4px 0 0

    background-color: #fafafa

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12)

    border: 1px solid transparent

    .dropdown-box-options {
      opacity: 1
      visibility: visible

      transform: none
    }

    .dropdown-box-title {
      svg {
        transform: rotate(180deg)
      }
    }
  }

  &.checkbox {

    @media (max-width: 599px) {
      width: 100%

      padding: 0 15px

      border: none

      .dropdown-box-title {
        padding: 0

        svg {
          transition: transform .2s ease
        }
      }

      .dropdown-box-options {
        transform: none
        transition: none

        label {
          padding: 0

          .checkbox-control {
            left: 0
          }
        }
      }

      &.active {
        height: auto

        border-radius: initial
        box-shadow: none
        border: none
        background-color: white

        .dropdown-box-title {
          svg {
            opacity: 1 !important

            transform: rotate(-180deg)
          }
        }

        .dropdown-box-options {
          position: relative

          float: left
          width: 100%

          left: 0
          top: 0

          border-radius: initial
          box-shadow: none
          border: none
          background-color: white
        }
      }
    }
  }

  &.links {
    .dropdown-box-option {
      height: 20px

      text(proxima-reg, 13px, main-black, 20px)

      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    }

    @media (max-width: 599px) {
      width: 100%

      padding: 0 15px

      border: none

      .dropdown-box-title {
        padding: 0

        svg {
          transition: transform .2s ease
        }
      }

      .dropdown-box-options {
        transform: none
        transition: none

        .dropdown-box-option {
          padding-left: 0
        }
      }

      &.active {
        height: auto

        border-radius: initial
        box-shadow: none
        border: none
        background-color: white

        .dropdown-box-title {
          svg {
            opacity: 1 !important

            transform: rotate(-180deg)
          }
        }

        .dropdown-box-options {
          position: relative

          float: left
          width: 100%

          left: 0
          top: 0

          border-radius: initial
          box-shadow: none
          border: none
          background-color: white
        }
      }
    }
  }
}