.filters {
  margin-bottom: 50px
}

.filter-button {
  float: left

  width: 100%
  height: 34px

  margin-top: 20px

  background-color: main-blue

  border-radius: 3px

  blueHoverItem()

  text(proxima-reg, 14px, white, 34px)
  text-align: center

  cursor: pointer
}

.filter-block {
  float: left

  width: 100%

  margin-top: 20px

  padding-left: 20px

  &.opening-button {
    margin-top: 0

    > * {
      margin-top: 0
    }
  }

  .input-container {
    margin-top: 20px
    margin-bottom: 10px

    input {
      setWH(80px, 30px)

      margin: 0 15px

      padding: 0 5px

      text-align: center

      background-color: white
      border: 1px solid #d1d1d1
      border-radius: 3px
    }
  }

  .filter-block-items-container {
    margin-top: 10px

    position: relative

    max-height: 150px

    overflow: hidden
  }

  .filter-block-title {
    display: inline-block

    width: 100%

    text(proxima-sem, 14px, main-black, 17px)
    text-align: left
  }
  .filter-block-item {
    display: inline-block

    width: 100%

    &:not(:first-child) {
      margin-top: 3px
    }

    input[type=checkbox] {
      margin-right: 15px
    }

    .checkbox-control {
      setWH(13px)

      left: 0
      top: 5px

      svg {
        setWH(7px, 11px)
      }
    }
  }

  &.input-container {
    margin-bottom: 30px

    .filter-block-items-container {
      overflow: visible !important
    }
  }
}

.filters-container {
  overflow: hidden

  setWH(100%, 0)

  @media (min-width: 600px) {
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    > * {
      display: inline-block !important

      width: 30% !important

      margin-bottom: 20px !important
    }
  }

  .flex-helper-item {
    width: 30%

    height: 0
  }
}

.filters-trigger {
  display: inline-block

  position: absolute
  right: 20px
  top: -25px

  @media (max-width: 599px) {
    right: 15px
  }

  > svg {
    display: inline-block
    vertical-align: middle

    margin-left: 3px

    setWH(12px, 14px)

    transition: transform .3s ease
  }

  @media (max-width: 599px) {
    > span,
    > svg {
      display: none !important
    }

    svg {
      display: inline-block

      setWH(21px, 14px)

      margin-top: 2px

      fill: main-black

      transition: fill .3s ease
    }
  }
}