footer {
  display: inline-block
  position: relative

  width: 100%

  margin-top: 20px
  margin-bottom: 35px
  padding: 0 0 10px 0

  background-color: white

  @media (max-width: 1023px) {
    margin-bottom: 0
  }

  @media (max-width: 599px) {
    padding-bottom: 40px
  }

  .footer-info {

    @media (min-width: 1280px) {
      display: flex
      align-items: center
      justify-content: space-between
    }

    margin-bottom: 30px

    .footer-info__item {
      display: flex
      align-items: center

      @media (max-width: 1280px) {
        justify-content: center
      }

      color: main-black
      font-size: 14px

      @media (max-width: 1023px) {
        font-size: 13px
      }

      .item_number {
        color: main-orange
        font-size: 18px

        @media (max-width: 1023px) {
          font-size: 17px
        }
      }

      svg {
        width: 24px
        height: 21px

        margin-right: 5px
      }

      &.second {
        svg {
          height: 26px
        }
      }

      &.third {
        svg {
          height: 26px
          width: 27px
        }
      }

      &.fourth {
        svg {
          width: 31px
          height: 25px
        }
      }

      &.fifth {
        svg {
          height: 22px
          width: 26px
        }
      }
    }

     .owl-nav {
       position: relative
       width: 100%
       bottom: 0
       left: 0
       height: 0
       z-index: 1

       .owl-prev {
         position: absolute
         top: 9px
         z-index: 3
         left: 0

         @media (max-width: 600px) {
           top: -22px
         }
       }

       .owl-next {
         position: absolute
         top: 9px
         z-index: 3
         right: 0

         @media (max-width: 600px) {
           top: -22px
         }
       }

       svg {
         setWH(11px, 19px)

         fill: main-orange
       }
     }
  }

  .footer-subscribe,
  .footer-container,
  .footer-info {
    padding: 0 20px

    @media (max-width: 599px) {
      padding: 0 10px
    }
  }

  .footer-subscribe {
    position: relative

    display: flex
    align-items: center
    justify-content: space-between

    width: 100%
    height: 64px

    color: white

    background-color: main-blue

    @media (max-width: 599px) {
      justify-content: center

      height: 96px

      padding-top: 32px
    }

    > span {
      @media (min-width: 174px) {
        margin-left: 1.5%
      }
    }

    .footer-button {
      height: 32px
      padding: 0

      border-radius: 4px
      border: 1px solid white

      button-two-colors(main-blue, white)

      font-size: 14px
      line-height: initial

      box-shadow: none

      svg {
        margin-top: -3px

        display: inline-block
        vertical-align: middle

        width: 26px
        height: 16px

        fill: white
        transition: fill .2s ease
      }

      &:hover {
        svg {
          fill: main-blue
        }
      }
    }

    #issue_request {
      width: 195px
    }

    #footer_subscribe {
      width: 140px

      @media (max-width: 599px) {
        width: 135px
      }

      span {
        margin-left: 5px
      }
    }

    .footer-subscribe__form {

      label {
        position: relative
        display: inline-block

        margin-right: 16px

        @media (max-width: 599px) {
          margin-right: 5px
        }

        input[type="email"] {
          width: 184px
          height: 32px

          padding-left: 10px

          margin-left: 10px

          background-color: white
          border-radius: 4px

          color: main-black

          border: 1px solid transparent

          transition: border-color .2s ease

          @media (max-width: 599px) {
            width: 135px

            margin-left: 0
          }
        }

        svg {
          position: absolute

          height: 15px
          width: 15px

          top: 8.5px
          right: 7px

          fill: main-err

          opacity: 0

          transition: opacity .2s ease
        }

        &.incorrect {
          input {
            border-color: main-err
            padding-right: 25px
          }
          svg {
            opacity: 1
          }
        }
      }
    }

    .footer-up-button {
      cursor: pointer

      span {
        font-size: 14px
        text-decoration: underline
      }

      svg {
        width: 12px
        height: 8px

        vertical-align: middle
        margin-left: 10px
        margin-top: -1px

        fill: white
      }

      &:hover {
        span {
          text-decoration: none
        }
      }

      @media (max-width: 599px) {
        position: absolute

        left: 0
        top: 0

        padding-top: 5.5px

        width: 100%
        height: 32px

        text-align: center

        border-bottom: 1px solid rgba(255,255,255,.35)
      }
    }
  }

  .footer-container {
    width: 100%
    height: auto

    > .row {
       @media (min-width: 1024px) {
         display: flex
         justify-content: space-between
       }

       @media(max-width: 1023px) {
         float: left
         position: relative

         width: 100%

         padding-top: 60px
       }

       @media (max-width: 599px) {
         padding-top: 100px
       }

       &:after {
         display: none
       }
     }

     .footer-links {
       padding: 0

       @media (max-width: 599px) {
         ul li {
           padding-left: 10px
         }
       }

       @media (min-width: 1024px) {
         max-width: 241px
       }

       @media (max-width: 1023px) {
         float: left
         width: 100%

         &:not(.app-links) {
           height: 60px

           border-top: 1px solid #e3e3e3

           overflow: hidden
         }

         &.active {
           height: auto
         }
       }

       @media screen and (max-width: 1279px) and (min-width: 1024px) {
         &.about {
           width: 121px
         }
         &.corp {
           width: 220px
         }
         &.projects {
           width: 212px
         }
       }

       .app-links-header {
         @media (max-width: 1023px) {
           display: inline-block
           width: 100%

           text-align: center

           font-family: proxima-reg
         }
       }

       .app-links-list {
         text-align: center
         margin-top: 15px
         margin-bottom: 55px

         li {
           display: inline-block

           width: 200px

           max-width: 100%

           padding-left: 0

           @media (max-width: 1023px) {
             &:last-of-type {
               margin-top: 10px
             }
           }

           @media (min-width: 550px) and (max-width: 1023px) {
             &:last-of-type {
               margin-left: 15px
             }
           }
         }
       }

       &.app-links {

         @media (min-width: 1024px) {
           max-width: 185px
         }

         @media (max-width: 1023px) {
           > .footer-links {
             height: auto
             position: relative

             > ul {
               margin-bottom: 100px
               height: 0
               overflow: hidden
             }

             &.active {
               ul {
                 height: auto
               }
             }
           }
         }

         .app-link {
           display: inline-block

           width: 100%
           height: 45px

           box-sizing: border-box

           border: 1px solid transparent

           &:hover {
              border-radius: 3px
              border: 1px solid #d2d3d5

              .left-side {
                border-right: 1px solid #d2d3d5

                background: linear-gradient(to top, #ecedef, #f4f4f4);
              }
              .right-side {
                background: linear-gradient(to top, #f7f8fa, #fefefe);
              }
           }

           .left-side,
           .right-side {
             height: 100%
             float: left
           }

           .left-side {
             width: 25%

             text-align: center

             border-right: 1px solid transparent
           }

           .right-side {
             width: 75%

             span {
               display: inline-block

               width: 100%

               line-height: 14px

               margin-top: 8px
             }
           }

           svg {
             margin-top: 6px

             width: 30px
             height: 30px

             fill: #9ba2ac
           }

           .title {
             color: #a7acb1
             font-size: 12px
           }

           .title-name {
              color: #5e6773
              font-size: 17px
              font-family: proxima-sem
           }

           @media (max-width: 1023px) {
             border-radius: 3px
             border: 1px solid #d2d3d5

             .left-side {
               border-right: 1px solid #d2d3d5

               background: linear-gradient(to top, #ecedef, #f4f4f4);
             }
             .right-side {
               background: linear-gradient(to top, #f7f8fa, #fefefe);
             }
           }
         }
       }

       &.separate-large {
         @media screen and (min-width: 1741px) {
           max-width: none

           h5 {
             margin-bottom: 0
           }

           ul {
             display: inline-block

             vertical-align: top

             &:first-of-type {
               max-width: 244px

               margin-right: 20px
             }
           }
         }
         @media screen and (max-width: 1740px) {

           ul {
              &:first-of-type {
                margin-bottom: 0
              }

              &:last-of-type {
                margin-top: 0
              }
           }
         }
       }

       h5 {
         margin-top: 20px
         text(proxima-sem, 16px, main-black, 16px)

         @media (max-width: 1023px) {
           position: relative

           padding-top: 22px
           padding-bottom: 15px
           margin: 0

           font-size: 15px
         }

         svg {
           display: none

           transition: transform .2s ease, top .2s ease

           @media (max-width: 1023px) {
             display: block
             position: absolute
             top: 27px
             right: 0
             width: 13px
             height: 11px
             transform: rotate(90deg)
             fill: main-black
           }
         }
       }

       ul {
           @media (max-width: 1023px) {
             margin-top: 0
           }
         }

       a {
         font-size: 12px
         line-height: 24px

         transition: color .1s linear

         &:hover {
           color: main-blue
         }

       }

       &.active {
         h5 svg {
          top: 21px

          transform: rotate(-90deg)
         }
       }

       &.border-link {
         @media(max-width: 1023px) {
           ul {
             border-top: 1px solid #e3e3e3
           }
           h5 {
             padding-bottom: 22px
           }

           &.active {
             h5 {
               padding-bottom: 15px
             }
             ul {
               border-top: none

               padding-bottom: 1em

               border-bottom: 1px solid #e3e3e3
             }
           }
         }
       }
     }

     .bottom-link {
       position: absolute
       bottom: 0

       font-size: 16px
       line-height: 16px

       &.copyright {
         font-size: 12px

         @media (max-width: 1279px) and (min-width: 1024px) {
           width: 130px
           bottom: -15px
         }

         @media (max-width: 1023px) {
           bottom: -10px
         }

         @media (max-width: 599px) {
           bottom: -40px
         }
       }

       &.creditcards {
         bottom: -9px

         @media (max-width: 1023px) {
           bottom: -20px
           right: 0
         }

         @media (max-width: 599px) {
           width: 100%
           display: flex
           justify-content: space-around
           bottom: -5px
         }

         a {
           &:nth-of-type(2) {
             margin-left: 15px
             margin-right: 6px
           }

           &:first-of-type {
             margin-left: -5px
           }
         }
         svg {
           height: 22px
           width: 50px

           @media (max-width: 1279px) and (min-width: 1024px) {
             height: 18px
             width: 35px
           }
         }
       }

       &.call-mobile {
         bottom: -1px

         @media (max-width: 1023px) {
           bottom: auto
           top: 18px
           left: auto
           right: 0
         }

         a {
           margin-right: 5px

           color: main-orange
           font-size: 16px

           @media (min-width: 1024px) {
             text-decoration: underline
           }

           cursor: pointer
           
           &:hover {
             text-decoration: none
           }
         }

         svg {
           @media (min-width: 1024px) {
             display: none !important
           }

           width: 18px
           height: 18px

           margin-right: 5px
           margin-bottom: -3px

           fill: main-orange
         }
       }

       &.call {
         bottom: -1px

         @media (max-width: 1023px) {
           bottom: auto
           top: 18px
           left: 50%
           right: auto
         }

         @media (max-width: 599px) {
           right: auto
           left: 0
         }

         a {
           color: main-black
           font-size: 16px
         }
       }

       &.footer-links__social {
         bottom: -11px

         @media (max-width: 1740px) and (min-width: 1024px) {
           position: relative

           bottom: 0

           margin-bottom: 20px
         }

         @media (max-width: 1023px) {
           position: absolute

           bottom: 15px
           width: 100%
           text-align: center
         }

         svg {
           width: 30px
           height: 28px

           fill: rgba(77,77,77,.5)

           transition: fill .2s linear
         }

         a {
           &:not(:first-of-type) {
             margin-left: 11px

             @media (max-width: 1023px) {
               margin-left: 25px
             }
           }
         }

         a.vk {
           svg:hover {
             fill: #5785a8
           }
         }

         a.fb {
           svg:hover {
             fill: #5876ac
           }
         }

         a.insta {
           svg:hover {
             fill: #87614a
           }
         }

         a.ggl {
           svg:hover {
             fill: #fe5e4d
           }
         }

       }
     }

    #whatsapp {

      @media (min-width: 1024px) {
        bottom: -3px

        cursor: pointer
      }

      @media (max-width: 1023px) {
        top: 15px
        bottom: auto

        left: 0
      }

      @media (max-width: 599px) {
        top: 55px
      }

      svg {
        display: inline-block
        vertical-align: middle

        margin-top: -5px

        width: 18px
        height: 18px

        fill: #30bf39

        transition: opacity .2s linear

        &:last-of-type {
          position: absolute

          top: 6px
          left: 0

          opacity: 0
        }
      }

      .message {
        font-size: 16px
        line-height: 16px

        color: main-black !important

        transition: opacity .2s linear

        &:not(.hover) {
          position: absolute

          left: 0
          top: 5px
        }

        &.hover {
          opacity: 0
        }
      }

      .whatsapp-logo {
        position: relative

        margin-left: 15px
        margin-top: 3px

        span {
          margin-left: 5px

          text(proxima-sem, 13px, main-black, 21px)
        }
      }

      &:hover {
        .message {
          opacity: 0

          &.hover {
            opacity: 1
          }
        }

        svg {
          &:first-of-type {
            opacity: 0
          }
          &:last-of-type {
            opacity: 1
          }
        }
      }
    }
  }

  .owl-next.disabled,
    .owl-prev.disabled {
      svg {
        fill: main-black

        opacity: 0.4
      }
    }
}