.form {
  position: relative

  float: left

  width: 100%

  label {
    display: inline-block

    width: 100%

    margin-bottom: 10px

    textarea {
      padding-top: 10px
    }

    select {
      setWH(100%)

      position: absolute

      margin: 0
      padding: 0

      top: 0
      left: 0

      border: none

      padding-left: 10px
      padding-right: 20px

      background: transparent

      outline: none

      -webkit-appearance: none
      box-shadow: none !important
    }

    input,
    textarea,
    .select-box,
    span,
    .error {
      display: inline-block

      width: 100%

      text(proxima-reg, 12px, main-black, 15px)
    }

    span {
      text(proxima-reg, 12px, main-black, 15px)
    }

    input,
    textarea,
    .select-box {
      height: 33px

      margin-top: 5px

      padding-left: 10px

      background-color: white

      border: 1px solid #d1d1d1
      border-radius: 3px

      transition: border-color .2s ease

      outline: none
    }

    .select-box {
      position: relative

      svg {
        position: absolute

        setWH(15px, 14px)

        right: 5px
        top: 9px

        z-index: 0
      }
    }

    .error {
      font-size: 11px
      color: main-err

      display: none
    }

    &.incorrect {

      input,
      textarea,
      .select-box {
        border-color: main-err
      }
      .error {
        display: block
      }
    }
  }

  .validate-form-button {
    width: 100%
    height: 33px

    margin-top: 15px
    margin-bottom: 5px

    background-color: main-blue
    border-radius: 5px

    text(proxima-reg, 12px, white, 33px)
    text-align: center
    text-transform: uppercase

    cursor: pointer

    blueHoverItem()
  }

  &.form-login {
    margin-top: 20px
  }

  &.form-issue {
    textarea {
      height: 110px

      resize: vertical
    }
  }
}