header {
  position: relative

  float: left

  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.24)

  z-index: 6

  width: 100%

  @media (max-width: 599px) {
    position: fixed

    top: 0
    left: 0

    width: 100%

    background: white

    transition: padding .2s linear
    will-change: padding
  }

  .header-links {
    position: relative
    float: left

    width: 100%
    height: 24px

    padding-left: 20px

    background-color: main-blue

    z-index: 2

    @media (max-width: 599px) {
      padding-left: 15px
    }

    a {
      text(proxima-reg, 11px, white, 24px)

      &:hover {
        text-decoration: underline
      }
    }

    .pull-left {
      position: relative

      .header-links-toggle {
        @media (min-width: 1280px) {
          display: none
        }

        text(proxima-reg, 11px, white, 24px)

        cursor: pointer

        svg {
          width: 7px
          height: 10px

          margin-top: -2px
          margin-left: 4px

          vertical-align: middle

          fill: #fff
        }

        .shown-mobile-inline {
          @media (max-width: 599px) {
            line-height: 25px
          }
        }
      }

      .header-links__links {
        @media (max-width: 1279px) {
          position: absolute

          width: 175px

          left: 0
          top: 24px

          padding: 5px 0

          background-color: white
          border-radius: 0 0 3px 3px
          box-shadow: 0 2px 4px rgba(0,0,0,0.24)

          z-index: 1

          animatedDropdown(.2s, -5px)

          a {
            color: main-black

            float: left
            padding: 3px 0 3px 15px
            margin-right: 0 !important
          }
        }
      }

      a {
        &:not(:last-of-type) {
          margin-right: 18px
        }
      }
    }

    .pull-right {
      .header-links__city-choice {
        position: relative
        display: inline-block

        text(proxima-reg, 11px, white, 24px)

        > * {
          display: inline-block
        }

         > span {
           @media (max-width: 599px) {
             display: none
           }
         }

        svg {
          width: 7px
          height: 10px

          margin-top: -2px
          margin-left: 4px

          vertical-align: middle

          fill: white
        }

        #city_choice {
          margin-left: 5px

          cursor: pointer

          &:hover {
            > span {
              text-decoration: underline;
            }
          }

          > span {
            @media (max-width: 599px) {
              display: inline-block
              vertical-align: middle

              max-width: 60px

              overflow: hidden

              white-space: nowrap
              text-overflow: ellipsis
            }
          }
        }
      }

      .header-links__city-list {
        position: absolute

        width: 300px

        top: 24px
        left: 0

        padding-top: 15px
        padding-bottom: 15px

        background-color: white
        border-radius: 0 0 3px 3px
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)

        color: main-black

        z-index: 1

        animatedDropdown(0s, 0px)

        @media (max-width: 599px) {
          left: -60px
        }

        .pull-left {
          margin-bottom: 10px
        }

        .title {
          span {
            display: inline-block

            width: 100%

            padding-left: 12px

            font-family: proxima-reg

            &:first-of-type {
              font-size: 16px

              .header-links__city-selected {
                display: inline-block

                margin-left: 5px

                font-size: 16px
                color: main-black
                font-weight: bold
              }
            }

            &:last-of-type {
              font-size: 11px
            }
          }
        }

        .column {
          width: 150px

          .header-links__city-item {
            font-size: 14px

            padding: 3px 0 3px 12px

            animatedItem()

            &.active {
              color: main-blue
            }
          }
        }
      }

      .header-links__city-number {
        display: inline-block

        margin-left: 10px

        text(proxima-reg, 11px, white, 24px)

        @media (max-width: 1023px) {
          span:first-of-type {
            display: none
          }
        }

        @media (max-width: 599px) {
          span {
            display: none
          }
        }

        > * {
          display: inline-block
        }

        #city_number {
          font-size: 13px

          margin-left: 5px
        }

        #city_number {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .header-links__call {
        display: block
        float: right

        height: 24px
        width: 230px

        margin-left: 9px

        background-color: main-orange

        text-align: center

        @media (max-width: 1023px) {
          width: auto

          padding: 0 10px
        }

        span {
          &:first-of-type {
            @media (max-width: 1023px) {
              display: none
            }
          }
        }

        svg {
          @media (min-width: 1024px) {
            display: none
          }

          width: 18px
          height: 18px

          margin-right: 5px
          margin-bottom: -5px

          fill: white
        }

        &:hover {
          text-decoration: none
        }

        b {
          font-size: 13px

          font-weight: normal
        }
      }
    }
  }


  .header-main {
    float: left

    display: flex
    justify-content: space-between

    width: 100%
    height: 139px

    background-color: white

    transition: height .2s linear, padding-top .2s linear
    will-change: height, padding-top

    @media (max-width: 1023px) {
      display: block
    }

    @media (max-width: 1023px) {
      height: 80px
    }

    @media (max-width: 599px) {
      position: relative

      padding-top: 65px

      height: 130px
    }

    .pull-left {
      padding-left: 20px

      max-width: 325px

      @media (max-width: 1023px) {
        max-width: initial
        width: 60%
      }

      @media (max-width: 599px) {
        padding-left: 15px

        width: auto
      }

      .header-logo {
        float: right

        display: block

        width: 279px

        height: 70px

        margin-top: 16px

        transition: opacity .2s linear
        will-change: opacity

        @media (max-width: 1360px) {
          width: 239px
        }

        @media (max-width: 1279px) {
          float: left

          width: 177px
          height: 46px

          margin-left: 35px
          margin-top: 27px
        }

        @media (max-width: 1023px) {
          float: right

          margin-left: 0

          margin-top: 18px
        }

        @media (max-width: 599px) {
          position: absolute

          left: 50%
          margin-left: -109.5px
          bottom: 63px

          width: 219px
          height: 55px
        }

        img {
          width: 100%
        }
      }

      #header__menu-toggle {
        float: left

        cursor: default

        margin-top: 18px

        @media (max-width: 1279px) {
          margin-top: 27px
        }

        span {
          display: inline-block

          margin-left: 23px
          margin-right: 10px

          height: 100%

          margin-top: -4px

          text(proxima-sem, 16px, main-black, 22px)
          letter-spacing: -0.32px

          transition: color .3s ease

          @media (max-width: 599px) {
            margin-left: 7px
          }
        }

        svg {
          fill: main-black

          transition: transform .3s ease, fill .3s ease

          &:first-of-type {
            width: 18px
            height: 16px

            margin-bottom: -2px

            @media (max-width: 1024px) {
              margin-bottom: -4px
            }
          }
          &:last-of-type {
            width: 16px
            height: 11px

            margin-top: -3px

            transform: rotate(0deg)

            vertical-align: middle

            @media (max-width: 1023px) {
              display: none
            }
          }
        }

        body:not([data-page="main"]) & {
          cursor: pointer

          svg {
            &:last-of-type {
              fill: main-blue
            }
          }
          span {
            color: main-blue
          }
        }

        body.menu-opened:not([data-page="main"]) & {
          svg {
            &:last-of-type {
              fill: main-black

              transform: rotate(180deg)
            }

            &:first-of-type {
              transform: rotate(90deg)
            }
          }
          span {
            color: main-black
          }
        }

        @media screen and (max-width: 1279px) {
          cursor: pointer

          svg {
            &:last-of-type {
              fill: main-blue
            }
          }
          span {
            color: main-blue
          }

          body.menu-opened & {
            svg {
              &:last-of-type {
                fill: main-black

                transform: rotate(180deg)
              }

              &:first-of-type {
                transform: rotate(90deg)
              }
            }
            span {
              color: main-black
            }
          }
        }

        @media (max-width: 1023px) {
          span {
            font-size: 12px
          }
        }
      }
    }

    .pull-right {
      height: 100%
      width: 475px

      padding-right: 25px

      @media (max-width: 1279px) {
        width: 250px
      }

      @media (max-width: 1023px) {
        width: auto
      }

      @media (max-width: 599px) {
        width: 53%

        padding-right: 0
      }

      .row {
        float: left

        width: 100%
        height: auto

        margin: 25px 0 0 0

        text-align: center
      }
    }

    @media (max-width: 1023px) {
      .pull-right .row {
        margin: 17px 0 0 0
      }
    }

    @media (max-width: 599px) {
      .pull-right .row {
        display: flex
        justify-content: space-between

        padding-right: 30px

        &:after {
          display: none
        }

        > * {
          margin-right: 0 !important
          margin-left: 0 !important
        }
      }
    }

    .header-banner {
      float: left

      width: 100%
      height: 62px

      margin-top: 5px

      img {
        width: 100%
        height: 100%

        border-radius: 3px 3px 0 0
      }

      @media (max-width: 1280px) {
        display: none
      }
    }

    .header-action-item {
      position: relative

      .badge {
        position: absolute

        top: -7px
        left: -10px

        height: 18px

        text(proxima-sem, 11px, white, 15px)

        .icon-bubble {
          position: absolute

          top: 50%
          left: 50%

          width: 31px
          height: 27px

          transform: translate3d(-50%, -50%, 0) translateY(0.9px)

          margin: 0;
        }

        .user-badge-discount {
          position: absolute

          top: 50%
          left: 50%

          transform: translate3d(-50%, -50%, 0)

          z-index: 2
        }

        &.cart {
          opacity: 0

          body.cart-active & {
            opacity: 1
          }
        }
        &.cart {
          opacity: 0

          body.user-discount-active & {
            opacity: 1
          }
        }
      }

      span {
        float: left

        margin-left: 15px

        line-height: 20px
        color: main-black

        cursor: pointer

        transition: color .2s ease

        &.title {
          font-size: 16px
          font-family: proxima-sem
        }

        &.subtitle {
          font-size: 13px
          font-family: proxima-reg
        }
      }

      svg {
        float: left

        fill: main-black
      }
    }

    .header-search-trigger {
      @media (min-width: 1024px) {
        display: none
      }

      float: left

      margin-right: 50px

      svg {
        width: 23px
        height: 23px
        margin-top: 8px

        fill: main-black

        transition: fill .2s ease
      }

      &.active {
        svg {
          fill: main-blue
        }
      }
    }

    .header-cart {
      display: inline-block

      width: 170px
      height: 40px

      .subtitle {
        min-width: 70px
        text-align: left
      }

      &:hover {
        .title {
          color: main-blue
        }
      }

      @media (max-width: 1279px) {
        width: auto
      }

      svg {
        width: 28px
        height: 22px

        margin-top: 9px
      }

      .message {
        position: absolute

        right: -120px
        top: -10px

        width: 145px
        height: 56px
        background-color: #fafafa
        border-radius: 3px
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.16)

        z-index: 5

        text(proxima-reg, 13px, main-black, 17px)
        text-align: left

        cursor: default

        hideY()

        span {
          margin-top: 8px

          cursor: default
        }
      }
    }

    .header-card__notify {
      position: absolute

      left: 115px
      top: 3px

      svg {
        width: 15px
        height: 15px

        margin-top: 0

        transition: transform .2s ease
      }

      &:hover {
        .message {
          show()
        }
      }
    }

    .header-user {
      display: inline-block

      width: 150px
      height: 40px

      margin-left: 30px

      body.logged & {
        &:hover {
          cursor: pointer
        }
      }

      @media (max-width: 1495px) {
        margin-left: 15px
      }
      @media (max-width: 1450px) {
        width: 120px
      }

      @media (max-width: 1279px) {
        width: auto

        margin-left: 55px

        cursor: pointer
      }

      @media (max-width: 1023px) {
        margin-left: 40px
      }

      .triangle {
        @media (min-width: 1280px) {
          display: none
        }

        position: absolute
        right: -17px
        top: 5px

        svg {
          width: 18px
          height: 12px
        }
      }

      svg {
        width: 23px
        height: 25px

        margin-top: 7.5px
      }

      span {
        &:hover {
          color: main-blue
        }
        body.logged & {
          &:hover {
            color: main-black
          }
        }
      }

        .header-user-dropdown {
          position: absolute

          width: 210px

          top: -10px

          @media (min-width: 1281px) {
            right: -40px
          }
          @media (max-width: 1280px) {
            right: -12px
          }

          padding: 10px 0 0

          background-color: #fafafa
          border-radius: 3px
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.16)

          z-index: 1

          animatedDropdown()

          .badge {
            top: -9px
            left: 1px
          }

          .header-user-toggle {
            padding-left: 15px

            margin-bottom: 5px
          }

          .title {
            color: main-blue
            &:hover {
              color: main-blue
            }
          }

          .subtitle.user-logged {
            position: relative

            margin-left: 15px
            left: 0
          }

          .header-user-links {
            a {
              display: inline-block

              width: 100%
              height: 33px

              padding-left: 15px
              padding-right: 5px

              line-height: 33px

              animatedItem()

              span {
                margin-top: 6.5px
              }

              &:first-child {
                margin-top: 6.5px
              }

              &:nth-child(2) {
                svg {
                  margin-top: 9.5px
                }
              }

              &:last-child {
                svg {
                  margin-top: 9.5px
                }
              }
            }
          }
        }
    }

    .header-search {
      float: left

      height: 100%
      width: 1000px

      margin-left: 10px
      margin-right: 15px

      @media (min-width: 1920px) {
        margin-left: 70px
      }

      @media (max-width: 1450px) {
        width: 790px
      }

      @media (max-width: 1320px) {
        width: 760px

        margin-left: 30px
      }

      @media (max-width: 1279px) {
        margin-left: 15px
      }

      @media (max-width: 1023px) {
        position: absolute

        top: 100px

        width: 100%
        height: 80px

        margin: 0

        padding-left: 25px
        padding-right: 25px

        opacity: 0
        visibility: hidden

        transition: opacity .2s linear .2s
      }

      @media (max-width: 599px) {
        top: auto
        bottom: -45px

        height: 40px
      }
    }

    .header-categories {
      margin-top: 10px
      margin-left: 110px

      @media (max-width: 1450px) {
        margin-left: 0
      }

      @media (max-width: 1279px) {
        margin-top: 33px
      }

      @media (max-width: 1023px) {
        margin-top: 5px
      }

      @media (max-width: 599px) {
        display: none
      }

      a {
        text(proxima-reg, 13px, main-black, 16px)

        transition: color .2s ease

        @media (max-width: 1279px) {
          font-size: 12px
        }

        @media (max-width: 1023px) {
          font-size: 11px
        }

        &:not(:first-of-type) {
          margin-left: 15px

          @media (max-width: 1345px) {
            margin-left: 10px
          }
        }

        &:hover {
          color: main-blue
        }
      }
    }

    .all-categories-container {
      position: absolute

      width: 500px

      top: -5px
      left: -7px

      padding-top: 5px
      padding-bottom: 20px

      background-color: white
      border-radius: 0 0 3px 3px
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)

      animatedDropdown()

      .column {
        float: left

        width: 250px

        .category {
          float: left

          width: 100%
          height: 33px

          padding: 0 15px

          text(proxima-reg, 14px, main-black, 33px)

          animatedItem()

          &.active {
            color: main-blue
          }
        }
      }
    }

    .header-search__wrapper {
      position: relative

      height: 40px

      margin-top: 25px

      background-color: white
      border: 1px solid #d1d1d1
      border-radius: 3px

      transition: border-color .2s ease

      @media (max-width: 1023px) {
        margin-top: 0
      }
    }

    .header-search__categories {
      position: absolute

      left: 0
      top: 0

      width: 110px
      height: 100%

      padding-left: 8px

      border-right: 1px solid #d1d1d1

      cursor: pointer

      @media (max-width: 599px) {
        display: none
      }

      span {
        display: block
        float: left

        width: 84px
        height: 100%

        text-overflow: ellipsis
        overflow: hidden

        text(proxima-sem, 12px, main-black, 40px)
        white-space: nowrap
      }

      svg {
        display: inline-block

        width: 8px
        height: 100%

        margin-left: 5px
      }
    }

    .header-search__search-field {
      margin-left: 110px
      margin-right: 53px

      height: 100%

      @media (max-width: 599px) {
        margin-left: 0
      }
    }

    .header-search__search-button {
      position: absolute

      top: 0
      right: 0

      height: 100%
      width: 53px

      background-color: #17a3d1
      border-radius: 0 2px 2px 0

      cursor: pointer


      text-align: center

      blueHoverItem()

      svg {
        display: inline-block

        width: 17px
        height: 17px

        margin-top: 10px

        fill: white
      }
    }
  }
}

body.logged {
  .header-action-item .subtitle.user-logged {
    position: absolute
    bottom: 0
    left: 38px
    margin: 0
    white-space: nowrap
  }
}

@media (max-width: 1023px)
  body.search-active
    header
      .header-main
        .header-search-trigger
          svg
            fill: main-blue
        .header-search
          opacity: 1
          visibility: visible
@media (max-width: 1023px) and (min-width: 600px)
  body.search-active
    header
      .header-main
        height: 155px
@media (max-width: 599px)
  body.search-active
    header
      padding-bottom: 55px
