.default-item {
  display: inline-block

  width: 250px
  height: 430px

  padding: 30px 10px

  margin: 1px

  background-color: white
  border-radius: 8px

  transition: box-shadow .2s ease

  text-align: left

  .default-item-preview {
    display: block

    height: 220px

    text-align: center

    margin-bottom: 15px

    background: url(../img/image-placeholder.svg) no-repeat center center
    background-size: contain

    .inline-middle {
      height: 100%
    }

    img {
      display: inline-block
      vertical-align: middle

      width: auto

      max-width: 100%
      max-height: 100%
    }
  }

  &.loaded {
    .default-item-preview {
      background: none
    }
  }

  .default-item-title {

    height: 66px

    transition: color .2s ease

    text(proxima-reg, 16px, main-black, 22px)
  }

  .default-item-rating_reviews {
    margin-top: 5px

    height: 22px
  }

  .default-item-rating {
    float: left

    svg {
      width: 12px
      height: 12px

      fill: #c3c3c3

      &:not(:first-of-type) {
        margin-left: 5px
      }
    }
  }

  .default-item-reviews {
    float: right

    margin-top: 5px

    text(proxima-reg, 12px, #727272, 14px)
    text-decoration: underline

    &:hover {
      text-decoration: none
    }
  }

  .default-item-price {
    float: left

    margin-top: 5px

    clear: both
  }

  .default-item-oldPrice {
    display: inline-block

    position: relative

    text(proxima-reg, 16px, #727272, 20px)

    span {
      position: absolute

      width: 100%
      height: 1px

      top: 8px
      left: 0

      background-color: #f56d6d

      transform: rotate(-7deg)
    }
  }

  .default-item-newPrice {
    margin-top: 5px

    text(proxima-reg, 20px, main-black, 24px)
  }

  .default-item-buy {
    float: right

    width: 76px
    height: 39px

    margin-top: 13px
    padding-top: 8px

    background-color: main-orange
    border-radius: 3px

    text-align: center

    transition: background-color .2s ease

    cursor: pointer

    &:hover {
      background-color: #d5491e
    }

    svg {
      width: 26px
      height: 22px

      fill: white
    }
  }

  // item states
  &:hover {
    @media (min-width: 1025px) {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.06)

      .default-item-title {
        color: main-blue
      }
    }
  }

  // item has no rating
  &.no-rating {
    .default-item-rating {
      display: none
    }
  }

  // item has no old price
  &.no-old-price {
    .default-item-oldPrice {
      display: none
    }
    .default-item-newPrice {
      margin-top: 15px
    }
  }

  // item has no reviews
  &.no-reviews {
    .default-item-reviews {
      display: none
    }
  }

  // item rating
  &[data-rating=1] {
    .default-item-rating {
      svg:first-of-type {
        fill: #f6be06
      }
    }
  }
  &[data-rating=2] {
    .default-item-rating {
      svg:nth-child(1),
      svg:nth-child(2) {
        fill: #f6be06
      }
    }
  }
  &[data-rating=3] {
    .default-item-rating {
      svg:nth-child(1),
      svg:nth-child(2),
      svg:nth-child(3) {
        fill: #f6be06
      }
    }
  }
  &[data-rating=4] {
    .default-item-rating {
      svg:not(:last-of-type) {
        fill: #f6be06
      }
    }
  }
  &[data-rating=5] {
    .default-item-rating {
      svg {
        fill: #f6be06
      }
    }
  }

  .default-item-purchased {
    display: none
    float: right
    position: relative

    width: 76px
    height: 39px

    margin-top: 13px
    padding-top: 8px

    background-color: main-blue
    border-radius: 3px

    text-align: center

    cursor: pointer

    blueHoverItem()

    svg {
      margin-top: 3px

      fill: white
    }

    .hover,
    .view {
      position: absolute

      left: 30px
      top: 8px

      transition: opacity .3s ease
    }

    .hover {
      svg {
        setWH(18px)
      }
    }
    .view {
      svg {
        setWH(20px, 18px)
      }
    }

    @media (min-width: 1281px) {
      .hover {
        opacity: 0
      }
      &:hover {
        .view {
          opacity: 0
        }
        .hover {
          opacity: 1
        }
      }
    }

    @media (max-width: 1280px) {
      .view {
        display: none
      }
    }
  }

  .default-item-pending {
    display: none
    float: right
    position: relative

    width: 76px
    height: 39px

    margin-top: 13px
    padding-top: 3px

    background-color: main-orange
    border-radius: 3px

    text-align: center

    img {
      display: inline-block

      setWH(35px)
    }
  }

  &.added {
    .default-item-buy {
      display: none
    }
    .default-item-purchased {
      display: block
    }
  }

  &.pending {
    .default-item-buy,
    .default-item-purchased {
      display: none!important
    }
    .default-item-pending {
      display: block
    }
  }
}

// slider elements styles override
// nav buttons
.owl-nav {
  @media (min-width: 600px) {
    position: absolute

    right: 0
    top: -32px

    .owl-prev {
      margin-right: 30px
    }

    svg {
      setWH(11px, 19px)

      fill: main-black
    }
  }

  @media (min-width: 1281px) {
    .owl-prev,
    .owl-next {
      opacity: .5

      &:hover {
        opacity: 1
      }
    }
  }

  @media (max-width: 599px) {
    position: relative
    width: 100%
    bottom: 0
    left: 0
    height: 0
    z-index: 1

    .owl-prev {
      position: absolute
      top: -235px
      z-index: 3
      left: 0
    }

    .owl-next {
      position: absolute
      top: -235px
      z-index: 3
      right: 0
    }

    svg {
      setWH(14px, 33px)

      fill: #b0b0b0
    }
  }
}

// zero-height item to fill empty space in flex layout
.fill-empty-space-item {
  width: 250px
  height: 0
  margin: 2px
}