// marker's container
#mapLinkContainer {
  width: 225px !important
  overflow: hidden

  background-color: white
  border-radius: 3px
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5)

  text(proxima-reg, 10px, main-black, 17px)
  text-align: center

  margin-top: 5px
}

// marker's nested image
#mapLinkImage {
  display: inline-block
  vertical-align: top
}

// marker's text container
#mapLinkTextContainer {
  width: 100%
  padding: 11px
}


