.menu-backface {
  display: none

  position: fixed

  width: 100%
  height: 100%

  top: 0
  left: 0

  background-color: rgba(0,0,0,0.4)

  z-index: 8
}

.menu {
  width: 320px
  height: auto

  background-color: white

  z-index: 9

  &#main-menu {

    text-align: left

    @media (max-width: 1279px) {
      left: 0

      transform: translate3d(-100%, 0, 0)
      opacity: 0

      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1)
      transition: transform .3s ease, opacity .3s ease, top .2s linear, height .2s linear

      settingsForMenuElements1279( 163px )
    }

    @media (max-width: 1023px) {
       settingsForMenuElements1023( 104px, 179px )
    }

    @media (max-width: 599px) {
      width: 100%

      settingsForMenuElements599( 154px, 201px, 89px, 144px )
      padding-bottom: 0
    }

    .category {
      &:after {
        content: ''

        position: relative
        float: right

        setWH(5px, 9px)

        margin-right: 10px
        margin-top: 12px

        background: url(../img/arrow.svg)

        @media (max-width: 1279px) {
          margin-right: 15px
        }
      }
    }

    .category-secondLevel {
      &:after {
        content: ''

        position: relative
        float: right

        setWH(5px, 9px)
        
        margin-top: 12px

        background: url(../img/arrow.svg)

        @media (max-width: 1279px) {
          margin-right: 10px
        }
      }
    }
  }


  .categories-container {
    width: 100%

    padding-bottom: 18px
    padding-top: 15px
  }

  nav {
    position: relative
    z-index: 4

    background-color: white
  }

  .category {
    float: left

    width: 100%
    height: 33px

    transition: background-color .2s ease

    cursor: pointer

    z-index: initial

    .color-bar {
      float: left
      position: relative

      width: 5px
      height: 33px

      left: -5px
      top: 0

      background-color: main-orange

      transition: transform .2s ease
    }

    .icon-container {
      float: left

      width: 60px
      height: 100%

      margin-left: -5px

      padding-top: 3px

      svg {
        display: inline-block

        vertical-align: middle

        margin-left: 20px
      }
    }

    .category-name {
      float: left

      height: 100%

      text(proxima-reg, 13px, main-black, 33px)
      font-weight: 400

      transition: font-weight .2s ease
    }

    &.bookstore {
      .icon-container svg {
        setWH(16px, 14px)
      }
    }

    &.school {
      .icon-container svg {
        setWH(18px, 21px)
      }

      &.green {
        .icon-container svg {
          fill #8fc700
        }
      }
    }

    &.gamingDevices {
      .icon-container svg {
        setWH(20px, 15px)
      }
    }

    &.videogames {
      .icon-container svg {
        setWH(18px, 17px)
      }
    }

    &.games {
      .icon-container svg {
        setWH(18px, 16px)
      }
    }

    &.sport {
      .icon-container svg {
        setWH(18px)
      }
    }

    &.creation {
      .icon-container svg {
        setWH(15px, 17px)
      }
    }

    &.print3d {
      .icon-container svg {
        setWH(19px, 22px)
      }
    }

    &.audio {
      .icon-container svg {
        setWH(15px, 14px)
      }
    }

    &.locks {
      .icon-container svg {
        setWH(12px, 17px)
      }
    }

    &.fun {
      .icon-container svg {
        setWH(18px, 17px)
      }
    }

    &.kidsclothes {
      .icon-container svg {
        setWH(16px, 17px)
      }
    }

    &.books {
      .icon-container svg {
        setWH(15px, 16px)
      }
    }

    &.instruments {
      .icon-container svg {
        setWH(14px)
      }
    }

    &.active {
      activeSecondLevelContainer()
      background-color: #f1f1f1
      .color-bar {
        transform: translateX(5px)
      }
    }

    @media (min-width: 1280px) {
      &:hover {
        background-color: #f1f1f1
        .color-bar {
          transform: translateX(5px)
        }
      }
    }

    @media (max-width: 1279px) {
      transition: none!important
      .color-bar {
        transition: none!important
      }
      &:active {
        background-color: #f1f1f1
        .color-bar {
          transform: translateX(5px)
        }
      }
    }
  }

  .category-secondLevel-container {
    position: absolute

    width: 230px

    left: 100%
    top: 0

    min-height: 100%

    padding: 15px 0 25px 0

    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1)

    border-left: 1px solid #d8d8d8

    background-color: white

    z-index: 1

    transform: translateX(-50px)
    opacity: 0
    visibility: hidden

    transition: all .2s ease

    cursor: default

    @media (max-width: 1279px) {
      left: 15%
      width: 85%

      z-index: 3

      min-height: auto

      settingsForMenuElements1279()
    }

    @media (max-width: 1023px) {
      settingsForMenuElements1023()
    }

    @media (max-width: 599px) {
      settingsForMenuElements599()

      width: 86%

      height: 100%
      overflow: hidden
    }
  }

  .category-secondLevel {
    display: inline-block

    width: 100%
    height: 33px

    padding: 0 10px

    text(proxima-reg, 13px, main-black, 33px)

    transition: background-color .2s ease

    cursor: pointer

    &.active {
      activeThirdLevelContainer()
    }

    @media (max-width: 1280px) {
      &:active {
        background-color: #f1f1f1
      }
    }
    &:first-child {
      .category-thirdLevel-container {
        box-shadow: 2px 3px 7px rgba(0,0,0,.15)
      }
    }
  }

  .category-secondLevel-back {

    @media (min-width: 1281px) {
      display: none
    }

    padding-left: 10px
    padding-top: 5px
    padding-bottom: 5px

    svg {
      width: 7px
      height: 12px
      margin-bottom: -1px
      margin-right: 10px
      transform: rotate(180deg)
      fill: #4d4d4d
    }
  }

  .category-thirdLevel-container {
    position: absolute

    width: 460px
    height: 100%

    left: 100%
    top: 0

    background-color: white

    box-shadow: 2px 1px 7px rgba(0,0,0,.2)

    border-left: 1px solid #d8d8d8

    z-index: 0

    transform: translateX(-50px)
    opacity: 0
    visibility: hidden

    transition: all .2s ease

    @media (max-width: 1279px) {
      width: 90%

      left: 10%

      z-index: 0

      settingsForMenuElements1279()
    }

    @media (max-width: 1023px) {
      settingsForMenuElements1023()
    }

    @media (max-width: 599px) {
      settingsForMenuElements599()

      height: 100%
      overflow: hidden
    }
  }

  .category-thirdLevel-title {
    display: none

    position: relative

    height: 60px

    width: 100%

    padding: 0 10px

    background-color: #f1f1f1

    cursor: default

    @media (max-width: 1281px) {
      display: block
    }

    @media (max-width: 1023px) {
      margin-bottom: 5px
    }

    > a {
      margin-top: 15px

      text(proxima-sem, 14px, #17a3d1, 32px)
      text-decoration: underline

      svg {
        width: 8px
        height: 11px
        transform: rotate(-90deg)
        margin-left: 6px
        vertical-align: middle
      }

      &:hover {
        text-decoration: none
      }
    }

    > svg {
      position: absolute

      right: 20px
      top: 10px

      width: 27px
      height: 30px

      padding-top: 10px
      padding-left: 10px

      cursor: pointer

      fill: main-black

      opacity: 0.6

      @media (min-width: 1281px) {
        display: none
      }
    }
  }

  .category-thirdLevel-column {
    float: left

    width: 229px

    padding-top: 15px
    padding-bottom: 15px

    @media (max-width: 1279px) {
      padding-top: 0
      padding-bottom: 0
    }

    .title,
    a {
      display: inline-block

      width: 100%
      height: 33px

      padding: 0 10px

      color: main-black
      line-height: 33px
    }

    .title {
      font-family: proxima-sem
      font-size: 14px

      cursor: default
    }

    a {
      font-family: proxima-reg
      font-size: 13px

      transition: background-color .2s ease

      &:hover {
        background-color: #f1f1f1
      }
    }
  }

  .category-separator {
    position: relative

    float: left
    width: 100%

    padding: 5px 0 5px 17px

    cursor: default

    text(proxima-sem, 14px, main-black, 33px)

    z-index: 2

    &.link {
      padding-top: 0
      padding-bottom: 0

      text-decoration: underline

      cursor: pointer

      &:hover {
        text-decoration: none
      }
    }
  }
}

// hidden main menu everywhere, across main page
main:not([data-page='main']) {
  #main-menu {
    left: 0

    transform: translate3d(-100%, 0, 0)
    opacity: 0

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1)
    transition: transform .3s ease, opacity .3s ease, top .2s linear, height .2s linear

    settingsForMenuElements1279( 163px )

    @media (min-width: 1280px) {
      position: absolute
      overflow: visible !important
    }

    @media (max-width: 1023px) {
      settingsForMenuElements1023( 104px, 179px )
    }

    @media (max-width: 599px) {
      width: 100%

      settingsForMenuElements599( 154px, 201px, 89px, 144px )
      padding-bottom: 0
    }
  }
  &.menu-opened {
    #main-menu {
      transform: translate3d(0, 0, 0)

      opacity: 1
    }
  }
}

body.menu-opened {
  overflow: hidden

  &.visible {
    @media (min-width: 1280px) {
      overflow: visible
    }
  }

  @media (min-width: 600px) and (max-width: 1279px) {
    position:fixed
  }

  header {
    z-index: 10
  }
  .menu-backface {
    display: block
  }
  #main-menu {
    transform: translate3d(0, 0, 0)

    opacity: 1
  }

  &.menu-2 {
    #main-menu {
      overflow-y: visible !important
      overflow-x: visible !important
    }
  }

  &.menu-3 {
    .category-secondLevel-container {
      overflow-x: visible !important
      overflow-y: visible !important

      .category-secondLevel {
        @media (max-width: 1279px) {
          &:after {
            display: none
          }
        }
      }
    }
  }
}

@media (min-width: 599px) {
  #main-menu {
    -webkit-overflow-scrolling: auto !important
  }
}
