.modal {

  .modal-close {

    position: absolute

    width: 30px
    height: 30px

    padding-top: 5px
    padding-left: 5px

    top: 3px
    right: 3px

    cursor: pointer

    svg {
      setWH( 11px )

      margin-left: 5.5px
    }
  }

  .modal-title {
    float: left

    width: 100%

    margin-bottom: 15px

    text(proxima-sem, 16px, main-black, 15px)
    text-align: center
  }

  .modal-subtitle {
    float: left

    width: 100%

    margin-bottom: 15px

    text(proxima-reg, 14px, main-black, 17px)
  }

  .modal-footer-text {
    float: left

    width: 100%

    margin-top: 15px

    text(proxima-reg, 9px, main-black, 11px)
  }


  &.modal-login {

    .modal-content {
      padding-bottom: 15px
    }

    .form-login {
      padding: 0 20px
    }

    .register {
      display: inline-block

      margin-top: 5px

      width: 100%

      text(proxima-reg, 11px, main-blue, 16px)
      text-decoration: underline
      text-align: center

      cursor: pointer
    }
  }

  &.modal-register,
  &.modal-issue {
    .modal-content {
      padding: 20px 25px
    }
  }

  &.modal-issue {
    &.validated {
      .modal-subtitle {
        text-align: center
      }

      label {
        display: none
      }
    }
  }

  &.modal-gallery {
    .modal-dialog {
      width: 80%

      @media (max-width: 1279px) {
        width: 90%

        margin: 10px auto 10px
      }
    }
    .modal-content {
      @media (min-width: 1280px) {
        display: flex
      }

      padding: 20px 10px 15px 10px
    }
    .gallery-left-bar {
      @media (min-width: 1280px) {
        setWH(320px, 100%)
      }

      @media (max-width: 1279px) {
        width: auto
      }
    }
    .gallery-right-bar {
      @media (min-width: 1280px) {
        padding-top: 65px
        margin-left: 20px
        width: calc(100% - 350px)
      }

      @media (max-width: 1279px) {
        width: 100%
      }
    }
    .gallery-title {
      float: left
      width: 100%

      text(proxima-reg, 20px, main-black, 27px)
      text-align: left
    }
    .gallery-photos {
      display: flex
      justify-content: space-between
      flex-wrap: wrap

      float: left
      width: 100%

      border: 1px solid #d1d1d1

      padding: 10px

      margin-top: 15px

      @media (max-width: 1279px) {
        justify-content: flex-start

        width: auto
      }
    }
    .gallery-photo {
      width: 95px
      height: 95px

      @media (max-width: 1279px) {
        margin: 5px
      }

      text-align: center
      overflow: hidden
      border: 2px solid transparent

      box-sizing: border-box
      transition: border-color .3s ease
      cursor: pointer

      &:hover,
      &.active {
        border-color: #17a3d1
      }

      img {
        display: inline-block
        vertical-align: middle
        max-width: 100%
      }
    }
    .empty-place-holder {
      width: 95px
    }
    .gallery-main-preview {
      display: inline-block

      width: 100%
      height: 100%

      text-align: center

      img {
        display: inline-block
        vertical-align: middle
        
        max-width: 99%
      }
    }
  }

  &.modal-fastOrder {
    .modal-content {
      padding: 0 15px 15px 15px
    }
    .modal-title {
      height: 50px
      line-height: 50px

      margin-bottom: 20px

      border-bottom: 1px solid #d8d8d8
    }
    .modal-subtitle {
      margin-bottom: 5px

      .title {
        text(proxima-sem, 14px, main-black, 17px)
      }
      .name {
        text(proxima-reg, 16px, main-black, 20px)
      }
    }
     .form-input {
       span {
         font-size: 14px
       }
       div {
         margin-top: 3px
       }
     }
     .validate-form-button {
       margin-top: 0
     }
     .validated-text {
       display: none

       span {
         display: inline-block

         width: 100%

         text-align: center
         font-size: 15px

         &:first-of-type {
           font-weight: bold
           font-size: 16px
         }

         &:not(:first-of-type) {
           margin-top: 10px
         }
       }
     }

    .modal-content.validated {
       padding: 30px

       > *:not(.validated-text) {
         display: none
       }
       .validated-text,
       .modal-close {
         display: block!important
       }
     }
  }

  &.modal-promo {
    .modal-content {
      padding: 25px 20px 30px 25px
    }
    .message {
      display: inline-block
      width: 100%

      text(proxima-reg, 14px, main-black, 20px)
      text-align: center
    }
    .button {
      display: inline-block

      margin-top: 25px

      setWH(160px, 40px)

      blueHoverItem()

      background-color: main-blue
      border-radius: 5px

      text(proxima-reg, 14px, white, 40px)
      text-align: center

      cursor: pointer
    }
  }
}