extends ../extend/default.pug
block variables
    - var title = 'Marwin.kz - cart';
block main
    main(data-page='cart', data-cart='delayed')
        include ../components/menu.pug
        section.cart-container
            include ../components/breadcrumbs.pug
            h1 Корзина
            .cart-links
                a.readyToBuy(href="./cart.html") Готовые к заказу (<span>4</span>)
                a.deferred.active(href="./cart-delayed.html") Отложенные (<span>2</span>)
            .cart-main-container
                .cart-main-actions
                    .cart-delete.action(data-event-name="cart-delete")
                        +svg('icon-delete')
                        span.inline-middle Удалить
                    .cart-restore.action(data-event-name="cart-restore")
                        +svg('icon-cart-small')
                        span.inline-middle Добавить
                .cart-main
                    .cart-main-header
                        .cart-title-column
                            label.checkbox.selectAll
                                input.inline-middle(type="checkbox")
                                .checkbox-control
                                    +svg('icon-check')
                                span.inline-middle Товар
                    .cart-main-body
                        - for (var i = 0; i < 2; ++i) {
                            +cart-item-delayed(i)
                        - }
                        .empty Нет товаров
        section#interested
            a.section-title(href="#!") Возможно, Вас это заинтересует:
            .items-container.owl-carousel.owl-theme
                - var n = 0;
                while n < 6
                    +item(n++)