extends ../extend/default.pug
block variables
    - var title = 'Marwin.kz - cart';
block main
    main(data-page='cart', data-cart='main')
        include ../components/menu.pug
        section.cart-container
            include ../components/breadcrumbs.pug
            h1 Корзина
            .cart-links
                a.readyToBuy.active(href="./cart.html") Готовые к заказу (<span>4</span>)
                a.deferred(href="./cart-delayed.html") Отложенные (<span>2</span>)
            .cart-main-container
                .cart-main-actions
                    .cart-delete.action(data-event-name="cart-delete")
                        +svg('icon-delete')
                        span.inline-middle Удалить
                    .cart-add-deferred.action(data-event-name="cart-add-deferred")
                        +svg('icon-check')
                        span.inline-middle В отложенные
                .cart-main
                    .cart-main-header
                        .cart-title-column
                            label.checkbox.selectAll
                                input.inline-middle(type="checkbox")
                                .checkbox-control
                                    +svg('icon-check')
                                span.inline-middle Товар
                        .cart-count-column: span.hidden-mobile Кол-во
                        .cart-price-column: span.hidden-mobile Стоимость
                    .cart-main-body
                        - for (var i = 0; i < 4; ++i) {
                            +cart-item(i)
                        - }
                        .empty Нет товаров
                .cart-additional
                    form.cart-additional-block.form
                        label.form-input.cart-bonus
                            span.highlight На счету <b>75 555</b> бонусов
                            span Сколько Вы хотите потратить?
                            .inner
                                input(type="number", placeholder="Укажите кол-во бонусов", name="bonus")
                                button.validate-form-button.bonus(type="submit") Сохранить
                            .inner-validated
                                .message
                                    span.value 3 700
                                    span &nbspбонусов
                                .change-value-button(data-event-name="changeBonus") Изменить
                            .error Заполните поле
                        .footer-text 1 бонус = 1 тенге. Бонусами можно оплатить до 50% стоимости заказа.
                    form.cart-additional-block.form
                        label.form-input.cart-promo
                            span.placeholder(aria-hidden=true) placeholder
                            span У Вас есть промо-код?
                            .inner
                                input(type="text", placeholder="Введите промо-код", name="promo")
                                button.validate-form-button.promo(type="submit") Применить
                            .inner-validated
                                .message.message-error
                                    +svg('icon-delete')
                                    span
                                .message.message-confirm
                                    +svg('icon-check')
                                    span
                                .change-value-button(data-event-name="changePromo") Изменить
                            .error Заполните поле
                        .footer-text Скидка по промо-коду может распространяться не на весь товар
                .cart-price-total
                    .price-field.total
                        .title Общая сумма
                        .value
                            span 13 300
                            span &nbspт
                        .discount
                            .title Скидка
                            .value
                                span 300
                                span &nbspт
                    .price-field.to-pay
                        .title К оплате
                        .value
                            span 13 000
                            span &nbspт
                    .checkout-button Оформить заказ
            .cart-presents
                .section-title.hidden-mobile Вы уже знаете, что можете выбрать подарок к своему заказу?
                .section-title.trigger.shown-extra-small-inline
                    span Выберите подарок
                    +svg('icon-arrow')
                .presents-container
                    .present-item
                        .title Бронзовая
                        .image
                        .description Выбрать прямо сейчас!
                    .present-item
                        .title Бронзовая
                        .image
                        .description Выбрать прямо сейчас!
                    .present-item
                        .title Бронзовая
                        .image
                        .description Смотреть<br />Для подарка из этой витрины увеличьте заказ всего на 4 324 т.
                    .present-item
                        .title Бронзовая
                        .image
                        .description Смотреть<br />Для подарка из этой витрины увеличьте заказ всего на 14 324 т.
            .cart-express
                .section-title Вы можете выбрать экспресс доставку!
                label.express.checkbox
                    input.inline-middle(type="checkbox", name="express", value="express")
                    .checkbox-control
                        +svg('icon-check')
                    span.inline-middle Выбрать экспресс доставку
                .text.
                    Доставка осуществляется в течении дня по Алматы и Астане и распространяется на заказы, сделанные с 00:00 до 15.00. Заказы, созданные с 15:00 до 00:00 будут доставлены на следующий день. Предложение действительно, если в карточке товара присутствует ярлык «Быстрая доставка», и при оформлении выбрана опция Экспресс доставки. При отсутствии отдельных товаров срок доставки может быть изменен.<br />
                    <b>Важно:</b> к товарам с экспресс-доставкой не предоставляются и не доставляются подарки.
        section#interested
            a.section-title(href="#!") Возможно, Вас это заинтересует:
            .items-container.owl-carousel.owl-theme
                - var n = 0;
                while n < 6
                   +item(n++)
        .modal-promo.modal.fade(tabindex="-1", role="dialog", aria-labelledby="Промо-код")
            .modal-dialog.modal-sm(role="document")
                .modal-content.clearfix
                    .modal-close(data-dismiss="modal" aria-label="Закрыть")
                        +svg('icon-x')
                    .message
                    .button(data-dismiss="modal") Хорошо