extends ../extend/default.pug
block variables
    - var title = 'Marwin.kz - filter';
block main
    main(data-page='filter')
        include ../components/menu.pug
        - var authors = ['Ганс Андерсон', 'Майкл Бонд', 'Якоб Гримм', 'Олеся Жукова', 'Ольга Земцова', 'Сьюзен Коллинс', 'Астрид Лингред', 'Григорий Остер', 'Брайан Патерсон', 'Рик Риордан'];
        .left-bar.pull-left.hidden-small
            .menu.category-menu.hidden-small.pull-left
                nav.categories-container.clearfix
                    .category-separator Категория
                    each val, index in authors
                        a.category(href=`#${index}`)
                            div.color-bar
                            .category-name #{val}
            form.filters.pull-left
                .filter-block.opening-button
                    .filter-button Применить фильтры
                .filter-block.input-container
                    .filter-block-title Цена
                    .filter-block-items-container
                        .input-container
                            span.inline-middle от
                            input.price-from.inline-middle(type="number", data-from="1500", value="5000", min="1500", max="19500")
                            span.inline-middle до
                            input.price-to.inline-middle(type="number", data-to="19500", value="15000", min="1500", max="19500")
                            span.inline-middle т
                        input(type="text", class="price-slider", name="price", value="all")
                - var filter_titles = ['Издательство', 'Автор', 'Серия', 'Жанр'];
                each val, index in filter_titles
                    .filter-block
                        .filter-block-title #{val}
                        .filter-block-items-container
                            label.checkbox.filter-block-item
                                input.inline-middle(type="checkbox", name=`${index}`, value="1")
                                .checkbox-control
                                    +svg('icon-check')
                                span.inline-middle Александр Голубев (5)
                            label.checkbox.filter-block-item
                                input.inline-middle(type="checkbox", name=`${index}`, value="2")
                                .checkbox-control
                                    +svg('icon-check')
                                span.inline-middle Андрей Селиванов
                            label.checkbox.filter-block-item
                                input.inline-middle(type="checkbox", name=`${index}`, value="3")
                                .checkbox-control
                                    +svg('icon-check')
                                span.inline-middle Анелог Пико
                            label.checkbox.filter-block-item
                                input.inline-middle(type="checkbox", name=`${index}`, value="4")
                                .checkbox-control
                                    +svg('icon-check')
                                span.inline-middle Баркелей
                .filter-block
                    .filter-block-title Год издания
                    .filter-block-items-container
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='year', value="1")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle 2009 (5)
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='year', value="2")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle 2010
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='year', value="3")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle 2011
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='year', value="4")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle 2012
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='year', value="5")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle 2013
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='year', value="6")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle 2014
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='year', value="7")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle 2015
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='year', value="8")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle 2016
                .filter-block
                    .filter-block-title Переплет
                    .filter-block-items-container
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='cover', value="1")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle Картон
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='cover', value="2")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle Книжка-игрушка (4)
                        label.checkbox.filter-block-item
                            input.inline-middle(type="checkbox", name='cover', value="3")
                            .checkbox-control
                                +svg('icon-check')
                            span.inline-middle Мягкая обложка
                .filter-block
                    .filter-button Применить фильтры
            a.left-bar-banner.pull-left(href="#!")
                img(src="banners/left-bar-banner.png")
            .left-bar-instagram.pull-left
        .right-bar.clearfix
            include ../components/breadcrumbs.pug
            h1.page-title.pull-left Детская литература
            form.filters.mobile.pull-left.shown-small
                .filters-trigger
                    span.inline-middle.full-height Фильтры
                    +svg('icon-triangle')
                    .shown-extra-small
                        +svg('icon-filter')
                .filters-container
                    .filter-block.input-container
                        .filter-block-title
                            | Цена
                            +svg('icon-triangle')
                        .filter-block-items-container
                            .input-container
                                span.inline-middle
                                    span.inline-middle.hidden-portrait.hidden-mobile Цена&nbsp
                                    span.inline-middle от
                                input.price-from.inline-middle(type="number", data-from="1500", value="5000", min="1500", max="19500")
                                span.inline-middle до
                                input.price-to.inline-middle(type="number", data-to="19500", value="15000", min="1500", max="19500")
                                span.inline-middle.shown-extra-small-inline т
                            input(type="text", class="price-slider", name="price", value="all")
                    - var filter_titles = ['Издательство', 'Автор', 'Серия', 'Жанр'];
                    each val, index in filter_titles
                        .dropdown-box.checkbox
                            .dropdown-box-title.clearfix
                                span #{val}
                                +svg('icon-triangle')
                            .dropdown-box-options
                                .relative.inline-middle.filter-block-items-container
                                    label.dropdown-box-option.checkbox
                                        input.inline-middle(type="checkbox", name=`${index}`, value="1")
                                        .checkbox-control
                                            +svg('icon-check')
                                        span.inline-middle Александр Голубев (5)
                                    label.dropdown-box-option.checkbox
                                        input.inline-middle(type="checkbox", name=`${index}`, value="2")
                                        .checkbox-control
                                            +svg('icon-check')
                                        span.inline-middle Андрей Селиванов
                                    label.dropdown-box-option.checkbox
                                        input.inline-middle(type="checkbox", name=`${index}`, value="3")
                                        .checkbox-control
                                            +svg('icon-check')
                                        span.inline-middle Анелог Пико
                                    label.dropdown-box-option.checkbox
                                        input.inline-middle(type="checkbox", name=`${index}`, value="4")
                                        .checkbox-control
                                            +svg('icon-check')
                                        span.inline-middle Баркелей
                    .dropdown-box.checkbox
                        .dropdown-box-title.clearfix
                            span Год издания
                            +svg('icon-triangle')
                        .dropdown-box-options
                            .relative.inline-middle.filter-block-items-container
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="year", value='1')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle 2009 (5)
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="year", value='2')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle 2010
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="year", value='3')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle 2011
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="year", value='4')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle 2012
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="year", value='5')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle 2013
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="year", value='6')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle 2014
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="year", value='7')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle 2015
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="year", value='8')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle 2016
                    .dropdown-box.checkbox
                        .dropdown-box-title.clearfix
                            span Переплет
                            +svg('icon-triangle')
                        .dropdown-box-options
                            .relative.inline-middle.filter-block-items-container
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="cover", value='1')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle Картон
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="cover", value='2')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle Книжка-игрушка (4)
                                label.dropdown-box-option.checkbox
                                    input.inline-middle(type="checkbox", name="cover", value='3')
                                    .checkbox-control
                                        +svg('icon-check')
                                    span.inline-middle Мягкая обложка
                    .filter-button Применить фильтры
                    .flex-helper-item(style="margin: 0 !important")
                    .flex-helper-item(style="margin: 0 !important")
            .filter-sort-bar
                .sort-by-container.category.shown-small
                    span.inline-middle Категория
                    .dropdown-box.sort.category.inline-middle
                        .dropdown-box-title.clearfix
                            span Все категории
                            +svg('icon-triangle')
                        .dropdown-box-options
                            .relative.inline-middle.filter-block-items-container
                                each val, index in authors
                                    .dropdown-box-option(data-name="sort", data-value=`category${index}`)
                                        span.inline-middle #{val}
                .sort-by-container.type
                    span.inline-middle Сортировать <span class="hide700">по</span>
                    .dropdown-box.sort.type.inline-middle
                        .dropdown-box-title.clearfix
                            span Автор
                            +svg('icon-triangle')
                        .dropdown-box-options
                            .relative.inline-middle.filter-block-items-container
                                .dropdown-box-option(data-name="sort", data-value="best")
                                    span.inline-middle Бестселлер
                                .dropdown-box-option(data-name="sort", data-value="price")
                                    span.inline-middle По цене
                                .dropdown-box-option(data-name="sort", data-value="rating")
                                    span.inline-middle По рейтингу
                                .dropdown-box-option(data-name="sort", data-value="new")
                                    span.inline-middle Новинки
                .sort-by-container.quantity
                    span.inline-middle Показывать <span class="hide700">по</span>
                    .dropdown-box.sort.quantity.inline-middle
                        .dropdown-box-title.clearfix
                            span 64
                            +svg('icon-triangle')
                        .dropdown-box-options
                            .relative.inline-middle.filter-block-items-container
                                .dropdown-box-option(data-name="show", data-value="32")
                                    span.inline-middle 32
                                .dropdown-box-option(data-name="show", data-value="64")
                                    span.inline-middle 64
                                .dropdown-box-option(data-name="show", data-value="128")
                                    span.inline-middle 128
                label.not-available.checkbox.pull-right.hidden-landscape
                    input.inline-middle(type="checkbox", name="noavailable", value="noavailable", checked)
                    .checkbox-control
                        +svg('icon-check')
                    span.inline-middle Нет в наличии
            .items-container
                - var n = 0;
                while n < 64
                    +item(n++)
                .fill-empty-space-item
                .fill-empty-space-item
                .fill-empty-space-item
                .fill-empty-space-item
                .fill-empty-space-item
                .fill-empty-space-item
            include ../components/pagination.pug

