doctype html
html(lang='en')
    head
        meta(charset="utf8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        title Meloman.kz
        style.
            @media (min-width: 1025px) {
                body {
                    display: flex;
                    justify-content: space-around;
                }
            }
            .linksContainer {
                display: inline-block;
                width: 300px;
                vertical-align: top;
            }
            .linksContainer a {
                display: inline-block;
                height: 30px;
                width: 100%;
                line-height: 30px;
                color: black;
                text-decoration: none;
                transition: all .3s ease;
            }
            .linksContainer a:hover {
                background-color: rgba(0,0,0,.3);
                color: white;
                padding-left: 10px;
            }
            @media (min-width: 1024px) {
                .linksContainer {
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
    body
        .linksContainer
            h2 Основные страницы сайта
            a(href="./main.html") Главная
            a(href="./catalog.html") Каталог
            a(href="./filter.html") Фильтр
            a(href="./filter-filtered.html") Фильтр - отфильтрованные
            a(href="./product.html") Единица товара
            a(href="./product-review-form.html") Единица товара - форма отзыва
            a(href="./product-not-available.html") Единица товара - нет в наличии
            a(href="./cart.html") Корзина
            a(href="./cart-delayed.html") Корзина - отложенные
            a(href="./registration.html") Оформление заказа
            a(href="./registration-confirmed.html") Оформление заказа - заказ подтвержден
            a(href="./search.html") Поиск
            a(href="./search_empty.html") Поиск не дал результатов
            a(href="./sales.html") Акции
            a(href="./sales-single.html") Акции - одна акция
            a(href="./news.html") Новинки
            a(href="./news-single.html") Новинки - одна новинка
            a(href="./calendar.html") Календарь
        .linksContainer
            h2 Статические страницы сайта
            a(href="./static-delivery.html") Условия доставки
            a(href="./static-aboutUs.html") О нас
            a(href="./static-contacts.html") Контакты
            a(href="./static-aboutCompany.html") О компании
            a(href="./static-history.html") История компании
            a(href="./static-shops.html") Магазины
        .linksContainer
            h2 Остальное
            a(href="../test/") Тесты
            a(href="../docs/") JSDocs
            a(href="../personal_cabinet/") Личный кабинет