extends ../extend/default.pug
block variables
    - var title = 'Marwin.kz - offer registration';
block main
    main(data-page='registration', data-registration='confirmed')
        include ../components/menu.pug
        section.registration-container
            include ../components/breadcrumbs.pug
            h1 Заказ принят в обработку
            .order-info
                span.bold Замечательно! Вы сделали правильный выбор.
                span.regular В самое ближайшее время с Вами свяжется наш оператор для подтверждения заказа, письмо с копией зааказа уже отправлено на Ваш e-mail. Если у Вас есть вопросы, в любое время свяжитесь с нами по бесплатному телефону 8 800 080 5900. Мы работаем круглосуточно! Если Вы выбрали экспрес доставку, заказ будет доставлен в ближайшее время. Подарки с такими заказами не доставляются.
                span.link Кстати, а Вы видели <a href="#!">наши новые акции</a>?
                form.registration-subscribe-form
                    label(data-validation="required", data-validation-type="email").form-input
                        +svg('icon-alert')
                        span Узнайте о них первым
                        input#registration-subscribe-input(type="email", placeholder="Введите email", name="email")
                    button#registration_subscribe.validate-form-button(type='submit')
                        +svg('icon-letter')
                        span Подписаться
            .cart-main-container
                .cart-main
                    span.bold Ваш заказ: № 10234546. Общая сумма заказа: 13 333 32 т
                    .cart-main-header
                        .cart-title-column
                            span.inline-middle Товар
                        .cart-count-column: span.hidden-mobile Кол-во
                        .cart-price-column: span.hidden-mobile Стоимость
                    .cart-main-body
                        - for (var i = 0; i < 2; ++i) {
                            +cart-item-proto(i)
                        - }
                .cart-price-total
                    .price-field.total
                        .title Общая сумма
                        .value
                            span 13 300
                            span &nbspт
                        .discount
                            .title Скидка
                            .value
                                span 300
                                span &nbspт
                    .price-field.to-pay
                        .title К оплате
                        .value
                            span 13 000
                            span &nbspт
                .print-order-button
                    +svg('icon-print')
                    span Распечатать
        link(href="./css/order-print.css", rel="stylesheet", media="print")