include ../../includes/mixins.pug
// login form modal
.modal-login.modal.fade(tabindex="-1", role="dialog", aria-labelledby="Войти в личный кабинет")
    .modal-dialog.modal-sm(role="document")
        .modal-content
            .modal-close(data-dismiss="modal" aria-label="Закрыть")
                +svg('icon-x')
            form.form-login.form
                label.form-input.email(data-validation="required", data-validation-type="email")
                    span Логин (эл. почта)
                    input(type="email", placeholder="Введите логин", name="email")
                    .error
                label.form-input.password(data-validation="required", data-validation-type="text")
                    span Пароль
                    input(type="password", placeholder="Введите пароль", name="password",
                                            data-validation-condition="min-length", data-min-length="6")
                    .error
                button.validate-form-button.login(type='submit') Вход
            span.register#call_register_modal Регистрация
// register form modal
.modal-register.modal.fade(tabindex="-1", role="dialog", aria-labelledby="Зарегистрироваться")
    .modal-dialog.modal-sm(role="document")
        .modal-content.clearfix
            .modal-close(data-dismiss="modal" aria-label="Закрыть")
                +svg('icon-x')
            .modal-title Регистрация
            form.form-register.form
                label.form-input.email(data-validation="required", data-validation-type="email")
                    span Электронная почта
                    input(type="email", placeholder="Введите электронную почту", name="email")
                    .error
                label.form-input.password(data-validation="required", data-validation-type="text")
                    span Пароль
                    input(type="password", placeholder="Введите пароль", name="password",
                                            data-validation-condition="min-length", data-min-length="6")
                    .error
                button.validate-form-button.register(type='submit') Зарегистрироваться
            .modal-footer-text Подтверждая свой электронный адрес, Вы соглашаетесь на получение рассылок от интернет-магазинов и сервисов, входящих в группу компаний «Меломан»: meloman.kz,marwin.kz, komfort.kz, privezi.kz и других, а также даёте свое согласие на обработку личных данных. От расссылок можно отписаться в любой момент в личном кабинете, или написав письмо в произвольной форме на адрес shop@meloman.kz.
// issue request form modal
.modal-issue.modal.fade(tabindex="-1", role="dialog", aria-labelledby="Сообщить о проблеме")
    .modal-dialog.modal-sm(role="document")
        .modal-content.clearfix
            .modal-close(data-dismiss="modal" aria-label="Закрыть")
                +svg('icon-x')
            .modal-title Сообщить о проблеме
            .modal-subtitle Вы можете сообщить о проблеме. Наши специалисты обязательно свяжутся с Вами.
            form.form-issue.form
                label.form-input.userName(data-validation="required", data-validation-type="text")
                    span Укажите Ваше имя
                    input(type="text", placeholder="Имя", name="name",
                           data-validation-condition="min-length", data-min-length="2")
                    .error
                label.form-input.email(data-validation="required", data-validation-type="email")
                    span Электронная почта
                    input(type="email", placeholder="Введите электронную почту", name="email")
                    .error
                label.form-input.message(data-validation="required", data-validation-type="text")
                    span Введите текст письма
                    textarea(placeholder="Введите текст", name="message",
                              data-validation-condition="min-length", data-min-length="4")
                    .error Заполните поле
                button.validate-form-button.register(type='submit') Отправить

