extends extend/page_template
block variables
    - const title = "Activate promo code page"
    - const dataPageName = "action"
block activatePromo
    a.active.pc-menu__link(href="/meloman/personal_cabinet/activate-promo-code.html")
        span Активировать промо-код
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Активировать промо - код
    form.form.activate-promo-form
        label.form-input.promoCode(data-validation="required", data-validation-type="text")
            span Введите промо-код
            input(type="text", placeholder="Введите Ваш промо - код", name="promo",
                data-validation-condition="min-length", data-min-length="1")
            .error
        button.validate-form-button(type='submit') Активировать