extends extend/page_template
block variables
    - const title = "Bind card page"
    - const dataPageName = "action"
block bindCard
    a.active.pc-menu__link(href="/meloman/personal_cabinet/bind-card.html")
        span Привязать карту
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Прикрепление карты лояльности
    form.form.bind-card-form
        label.form-input.userPhone(data-validation="required", data-validation-type="text")
            span Введите свой мобильный телефон для поиска карты
            input(type="tel", placeholder="Введите номер телефона", name="phone",
                data-validation-condition="min-length", data-min-length="18")
            .error
        button.validate-form-button(type='submit') Найти