extends extend/page_template
block variables
    - const title = "Bonus change"
    - const dataPageName = "static"
block rightBar
    .pc-page-title: h1 Обмен бонусов на скидку
    span.currentValue.bonus-change-values Баланс:&nbsp&nbsp&nbsp<b>0 бонусов</b>&nbsp&nbsp&nbsp&nbsp/&nbsp&nbsp&nbsp&nbspВаша скидка:&nbsp&nbsp&nbsp<b>0%</b>
    .bonus-change-cards
        .bonus-change-card-container
            .bonus-change-card
                .top-bar
                    img(src="./img/bonus-change.png")
                    .inline-middle.full-height
                    .hover-text
                        .inline-middle.full-height
                        .content
                            span Нужно накопить еще:
                            span <b>5000</b> бонусов
                .bottom-bar
                    .inline-middle.full-height
                    span 2% скидка
            .label Стоимость: <b>2500 бонусов</b>
        .bonus-change-card-container
            .bonus-change-card
                .top-bar
                    img(src="./img/bonus-change.png")
                    .inline-middle.full-height
                    .hover-text
                        .inline-middle.full-height
                        .content
                            span Нужно накопить еще:
                            span <b>5000</b> бонусов
                .bottom-bar
                    .inline-middle.full-height
                    span 5% скидка
            .label Стоимость: <b>5000 бонусов</b>
        .bonus-change-card-container
            .bonus-change-card
                .top-bar
                    img(src="./img/bonus-change.png")
                    .inline-middle.full-height
                    .hover-text
                        .inline-middle.full-height
                        .content
                            span Нужно накопить еще:
                            span <b>5000</b> бонусов
                .bottom-bar
                    .inline-middle.full-height
                    span 30% скидка
            .label Стоимость: <b>27000 бонусов</b>







