extends extend/page_template
block variables
    - const title = "Bonus card operations page page"
    - const dataPageName = "static"
block cardOps
    a.active.pc-menu__link(href="/meloman/personal_cabinet/bonus-card-operations.html")
        span Операции по бонусной карте
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Операции по бонусной карте
    span.currentValue Всего начисленно : 146362; Всего списанно : -75419; Остаток : 70943;
    .bonus-operations-table
        .titles-row
            .title Дата
            .title Списано
            .title Начислено
            .title Сумма операции
            .title Тип операции
        - var i = 0;
        - for (i; i < 10; i++) {
            .values-row
                .value 2016.06.30
                .value 0
                .value 48
                .value 3156т
                .value Покупка
        - }









