extends extend/page_template
block variables
    - const title = "Change password page"
    - const dataPageName = "action"
block changePassword
    a.active.pc-menu__link(href="/meloman/personal_cabinet/change-password.html")
        span Изменить пароль
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Смена пароля
    form.form.change-password-form
        .form-inputs-separator.pull-left
            label.form-input.userEmail(data-validation="required", data-validation-type="text")
                span Введите старый пароль
                input(type="password", placeholder="Введите старый пароль", name="oldPassword",
                    data-validation-condition="min-length", data-min-length="6")
                .error
        .form-inputs-separator.pull-right
            label.form-input.userPassword(data-validation="required", data-validation-type="text")
                span Введите новый пароль
                input(type="password", placeholder="Введите новый пароль", name="newPassword",
                    data-validation-condition="min-length", data-min-length="6")
                .error
            button.validate-form-button(type='submit') Сохранить