extends extend/page_template
block variables
    - const title = "Change mailing list page"
    - const dataPageName = "action"
block changeMailing
    a.active.pc-menu__link(href="/meloman/personal_cabinet/change-mailing-list.html")
        span Управление рассылками
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Управление рассылками
    form.form.change-mailingList-form
        label.checkbox.form-input.adminEmail
            input.inline-middle(type="checkbox", name='adminEmail', value="true", checked)
            .checkbox-control
                +svg('icon-check')
            span.inline-middle Подписка на e-mail от администрации
        label.checkbox.form-input.smsBalance
            input.inline-middle(type="checkbox", name='smsBalance', value="true", checked)
            .checkbox-control
                +svg('icon-check')
            span.inline-middle SMS - оповещения по изменению баланса
        label.checkbox.form-input.smsMailing
            input.inline-middle(type="checkbox", name='smsMailing', value="true")
            .checkbox-control
                +svg('icon-check')
            span.inline-middle SMS - рассылка
        button.validate-form-button(type='submit') Сохранить