extends extend/page_template
block variables
    - const title = "Change email page"
    - const dataPageName = "action"
block changeEmail
    a.active.pc-menu__link(href="/meloman/personal_cabinet/change-email.html")
        span Изменить e-mail
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Смена e-mail
    span.currentValue Ваш e-mail: vertiy@gmail.com
    form.form.change-email-form
        .form-inputs-separator.pull-left
            label.form-input.userEmail(data-validation="required", data-validation-type="email")
                span Укажите новый e-mail
                input(type="email", placeholder="Введите новый e-mail", name="email")
                .error
        .form-inputs-separator.pull-right
            label.form-input.userPassword(data-validation="required", data-validation-type="text")
                span Введите текущий пароль
                input(type="password", placeholder="Введите пароль", name="password",
                    data-validation-condition="min-length", data-min-length="6")
                .error
            button.validate-form-button(type='submit') Сохранить