extends extend/page_template
block variables
    - const title = "Change phone page"
    - const dataPageName = "action"
block changePhone
    a.active.pc-menu__link(href="/meloman/personal_cabinet/change-phone.html")
        span Изменить номер телефона
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Смена номера телефона
    span.currentValue Вы еще не привязали номер телефона
    form.form.change-phone-form
        .form-inputs-separator.pull-left
            label.form-input.userEmail(data-validation="required", data-validation-type="text")
                span Укажите новый номер телефона
                input(type="tel", placeholder="Введите новый номер", name="phone",
                data-validation-condition="min-length", data-min-length="18")
                .error
        .form-inputs-separator.pull-right
            label.form-input.userPassword(data-validation="required", data-validation-type="text")
                span Введите текущий пароль
                input(type="password", placeholder="Введите пароль", name="password",
                    data-validation-condition="min-length", data-min-length="6")
                .error
            button.validate-form-button(type='submit') Сохранить