extends extend/page_template
block variables
    - const title = "Change personal data page"
    - const dataPageName = "action"
block personalData
    a.active.pc-menu__link(href="/meloman/personal_cabinet/change-personal-data.html")
        span Изменить персональные данные
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Изменить персональные данные
    form.form.change-personal-data-form
        .form-inputs-separator.pull-left
            label.form-input.userSecondname
                span Фамилия
                input(type="text", placeholder="Введите фамилию", name="secondname")
                .error
            label.form-input.userName
                span Имя
                input(type="text", placeholder="Введите имя", name="name")
                .error
            label.form-input.userLastname
                span Отчество
                input(type="text", placeholder="Введите отчество", name="lastname")
                .error
        .form-inputs-separator.pull-right
            label.form-input.userPhone
                span Домашний или рабочий телефон
                .user-phone-number
                    span.value +7 (701) 543-62-83
                    a.change(href="/meloman/personal_cabinet/change-phone.html") Изменить
                .error
            label.form-input.userSex
                span Пол
                .select-box
                    +svg('icon-triangle')
                    select(name="sex")
                        option(value="0", disabled, selected) Выберите пол
                        option(value="1") Женщина
                        option(value="2") Мужчина
                .error
            label.form-input.userBirthday
                span Дата рождения
                input(type="text", placeholder="Укажите дату рождения", name="birthday")
                .error
            button.validate-form-button(type='submit') Сохранить