extends extend/page_template
block variables
    - const title = "Change delivery data page"
    - const dataPageName = "action"
block deliveryData
    a.active.pc-menu__link(href="/meloman/personal_cabinet/change-delivery.html")
        span Изменить адрес доставки
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Данные для доставки товара
    form.form.change-delivery-form
        .form-inputs-separator.pull-left
            label.form-input.userPostindex
                span Почтовый индекс
                input(type="text", placeholder="Введите индекс", name="postindex")
                .error
            label.form-input.userCommunity
                span Микрорайон
                input(type="text", placeholder="Укажите микрорайон", name="community")
                .error
            label.half-label.form-input.userHouse.pull-left
                span № Дома
                input(type="text", name="house")
                .error
            label.half-label.form-input.userAppartement.pull-right
                span № Квартиры
                input(type="text", name="house")
                .error
            label.form-input.userComment
                span Комментарий к доставке
                textarea(placeholder="Введите текст", name="comment")
                .error
        .form-inputs-separator.pull-right
            label.form-input.userCity
                span Город или населенный пункт
                .select-box
                    +svg('icon-triangle')
                    select(name="city")
                        option(value="0", disabled, selected) Выберите населенный пункт
                        option(value="1") Населенный пункт 1
                        option(value="2") Населенный пункт 2
                .error
            label.form-input.userStreet
                span Улица
                input(type="text", placeholder="Укажите улицу", name="street")
                .error
            label.form-input.userDeliverytime
                span Предпочтительное время доставки
                .select-box
                    +svg('icon-triangle')
                    select(name="deliverytime")
                        option(value="1", selected) Утром
                        option(value="2") Днем
                        option(value="3") Вечером
                .error
            button.validate-form-button(type='submit') Сохранить