extends extend/page_template
block variables
    - const title = "Contact operator page"
    - const dataPageName = "static"
block contactOperator
    a.active.pc-menu__link(href="/meloman/personal_cabinet/contact-operator.html")
        span Связаться с оператором
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Связаться с оператором
    .text-container.contact-operator
        p.fs20 Телефоны Call-центра
        p <a href="tel:8 (800) 080-59-00">8 (800) 080-59-00</a> - Междугородний (Бесплатно по РК)
        p.bold Для Алматы
        p <a href="tel:8 (727) 338-37-00">8 (727) 338-37-00</a> - <a href="http://meloman.kz">Meloman.kz</a>
        p <a href="tel:8 (727) 338-38-00">8 (727) 338-38-00</a> - <a href="http://marwin.kz">Marwin.kz</a>
        p <a href="tel:8 (727) 222-25-35">8 (727) 222-25-35</a> - <a href="http://komfort.kz">Komfort.kz</a>
        p <a href="tel:8 (727) 338-35-55">8 (727) 338-35-55</a> - <a href="http://shop01.kz">Shop01.kz</a>
