extends extend/page_template
block variables
    - const title = "Favourite items page"
    - const dataPageName = "custom-fav"
block favourite
    a.active.pc-menu__link(href="/meloman/personal_cabinet/favourite.html")
        span Избранное
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Избранное
    .items-container
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        span.default-item.loaded(data-id="3", data-price="210", data-name="Chicco: Термический контейнер для питания Step Up", data-category="Малыш и мама", data-rating="3")
            a.default-item-preview(href="#!")
                .inline-middle
                img(src="./pic/item-preview.png")
            a.default-item-title(href="#!") Chicco: Термический контейнер для питания Step Up
            .default-item-rating_reviews.clearfix
                .default-item-rating
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                    +svg('icon-star')
                .default-item-reviews 43 отзыва
            .default-item-price
                .default-item-oldPrice
                    span
                    | 135 000 т
                .default-item-newPrice 125 000 т
            .default-item-buy
                +svg('icon-cart')
            .default-item-purchased
                .view
                    +svg('icon-check')
                .hover
                    +svg('icon-x-big')
            .default-item-pending
                img(src="./img/preloader.svg")
        .fill-empty-space-item
        .fill-empty-space-item
        .fill-empty-space-item
        .fill-empty-space-item
        .fill-empty-space-item
        .fill-empty-space-item