include ../../../includes/mixins.pug
doctype html
html(lang='ru')
    block variables
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
        title Personal cabinet index page
        link(href=`css/index.pc.min.css`, rel='stylesheet')
    body
        // Global base url and webpackManifest variables (for back-end purpose)
        script.
            window.baseUrl = location.origin;
            window.webpackManifest = {};
        main(data-pc-page="index")
            .left-bar
                .pc-page-title.showSmall: h1 Личный кабинет
                .pc-menu#pc-main-menu(ontouchstart)
                    .pc-menu__block
                        a.pc-menu__title(href="/meloman/personal_cabinet/my-orders.html")
                            span Мои заказы
                            +svg('icon-arrow')
                        .pc-menu__title
                            span Персональная информация
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-personal-data.html")
                            span Изменить персональные данные
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-delivery.html")
                            span Изменить адрес доставки
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-email.html")
                            span Изменить e-mail
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-phone.html")
                            span Изменить номер телефона
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-mailing-list.html")
                            span Управление рассылками
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/change-password.html")
                            span Изменить пароль
                            +svg('icon-arrow')
                    .pc-menu__block
                        .pc-menu__title
                            span Бонусный клуб
                        .pc-menu__bonus-club-info
                            .info-row
                                span.title Карта
                                span.value ****3762
                            .info-row
                                span.title Баланс:
                                span.value 25 555
                            .info-row
                                span.title Скидка:
                                span.value <a href="/meloman/personal_cabinet/bonus-change.html">Увеличить скидку</a> 25%
                        a.pc-menu__link(href="/meloman/personal_cabinet/bind-card.html")
                            span Привязать карту
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/bonus-card-operations.html")
                            span Операции по бонусной карте
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/activate-promo-code.html")
                            span Активировать промо-код
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/save-bonuses.html")
                            span Как копить бонусы
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/spend-bonuses.html")
                            span Как тратить бонусы
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/contact-operator.html")
                            span Связаться с оператором
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/shops.html")
                            span Адреса магазинов
                            +svg('icon-arrow')
                        a.pc-menu__link(href="/meloman/personal_cabinet/favourite.html")
                            span Избранное
                            +svg('icon-arrow')
            .right-bar
                .pc-page-title: h1 Личный кабинет
                span.fs20(style="width: 100%; display: inline-block; margin-bottom: 20px;") Мы рады Вам!
                span.fs16(style="width: 100%; display: inline-block; margin-bottom: 20px;") С помощью меню слева вы можете управлять вашим аккаунтом, отслеживать статус заказов, состояние балльного счета, настраивать подписку на интересующие вас товары.
                span.fs16(style="font-size: 16px; width: 100%; display: inline-block") Личные сведения, полученные в распоряжение интернет-магазина при регистрации или каким-либо иным образом, будут использованы исключительно для исполнения Ваших заказов, и не будут передаваться третьим организациям и лицам, без Вашего согласия, за исключением ситуаций, когда этого требует закон или судебное решение.
        script(src=`js/index.pc.bundle.js`)