extends extend/page_template
block variables
    - const title = "My orders page"
    - const dataPageName = "order"
block myOrdersLink
    a.active.pc-menu__title(href="/meloman/personal_cabinet/my-orders.html")
        span Мои заказы
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Мои заказы
    .my-orders__table
        .desktop-header
            .title Номер заказа
            .title Дата заказа
            .title Сумма товара
            .title Сумма доставки
            .title Сумма всего
            .title Статус заказа
            .title Тип оплаты
        - var i = 0;
        - for (i; i < 3; i++) {
        a.my-orders__order(href="/meloman/personal_cabinet/my-order.html")
            .my-orders__order-row.order-number
                .title Номер заказа
                .value
                    img(src="./img/my-orders-icon.png")
                    span 654651321
            .my-orders__order-row.order-date
                .title Дата заказа
                .value
                    span.date 21.08.2016
                    span.time 14:26
            .my-orders__order-row.order-sum
                .title Сумма товара
                .value
                    span 20 654 тнг
            .my-orders__order-row.order-delivery-sum
                .title Сумма доставки
                .value
                    span 0.00 тнг
            .my-orders__order-row.order-total-sum
                .title Сумма всего
                .value
                    span 20 654 тнг
            .my-orders__order-row.order-status
                .title Статус заказа
                .value
                    span Продан
            .my-orders__order-row.order-payment-type
                .title Тип оплаты
                .value
                    span Наличными
        - }