extends extend/page_template
block variables
    - const title = "My order page"
    - const dataPageName = "order"
block backButton
    a.back-button.showSmall(href="/meloman/personal_cabinet/my-orders.html")
        +svg('icon-arrow')
        span Мои заказы
block rightBar
    .pc-page-title.hide767: h1: a(href="/meloman/personal_cabinet/my-orders.html") Мои заказы
    .pc-page-title.show767: span Заказ № 101972454
    .single-order-table
        .single-order-table__data
            .half-table.short
                .table-row
                    .title Заказ:
                    .value № 101972454 (отклонен)
                .table-row
                    .title Магазин:
                    .value www.meloman.kz
                .table-row
                    .title Ф.И.О.:
                    .value Виталий
                .table-row
                    .title E-mail:
                    .value wewe@mail.ru
                .table-row
                    .title Телефон:
                    .value +7 701 654 654 65
            .half-table.long
                .table-row
                    .title Способ доставки:
                    .value Бесплатная доставка в розничный магазин
                .table-row
                    .title Торговая точка:
                    .value Меломан “Grand”
                .table-row
                    .title Регион доставки:
                    .value Алматы
                .table-row
                    .title Bремя доставки:
                    .value утро
                .table-row
                    .title Способ оплаты:
                    .value наличными
        .single-order-table__products
            .titles-row
                .title.id ID
                .title.name Наименование
                .title.price Цена
                .title.count Кол-во
                .title.total Сумма
            .values-row
                .value.id 1600398
                .value.name Емец ДА Бунт пупсиков (белое оформление)
                .value.price 2977.22
                .value.count 1
                .value.total 2977.22
        .single-order-table__total
            .total-title.value Итого:
            .total-container
                .table-row
                    .title Сумма:
                    .value 2245,55 т = (2345-666)
                .table-row
                    .title Оплата бонусами:
                    .value 666 т
                .table-row
                    .title Стоимость доставки:
                    .value 0.000 т
                .table-row
                    .title Сумма с доставкой:
                    .value 5587 т
