extends extend/page_template
block variables
    - const title = "Save bonuses page"
    - const dataPageName = "static"
block saveBonuses
    a.active.pc-menu__link(href="/meloman/personal_cabinet/save-bonuses.html")
        span Как копить бонусы
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Как копить бонусы
    .text-container.save-bonuses
        p.fs20 Простая арифметика: 1 бонус = 1 тенге.
        p.fs16 Тратить бонусы очень легко и приятно: оплачивайте ими до 50% стоимости!
        p Каждый накопленный бонус – это вклад в будущие покупки в магазинах MARWIN, «Комфорт» и «Меломан». Накопленные бонусы можно использовать в качестве скидки при приобретении товаров или обменять бонусы на постоянную скидку. 1 бонус = 1 тенге. Чем больше у Вас бонусов – тем больше размер скидки!
        p В Личном кабинете Вы увидите, сколько бонусов у Вас уже есть. Информацию о бонусах также всегда можно найти в Вашей корзине. Размер скидки и количество бонусов, необходимых для ее получения, рассчитываются автоматически в процессе оформления заказа. Использовать бонусы для получения скидки при заказе товаров Вы можете на этапе выбора способа оплаты или перед подтверждением заказа. Списание бонусов произойдет сразу после подтверждения заказа.
        p На последнем этапе оформления заказа Вам будет предложено использовать бонусы, и Вы сможете принять окончательное решение, как ими распорядиться.
        p Независимо от количества бонусов и размера скидки, при оформлении заказа бонусами можно оплатить максимум 50%  от суммы чека. Примеры расчета скидки с использованием бонусов:
