extends extend/page_template
block variables
    - const title = "Spend bonuses page"
    - const dataPageName = "static"
block spendBonuses
    a.active.pc-menu__link(href="/meloman/personal_cabinet/spend-bonuses.html")
        span Как тратить бонусы
        +svg('icon-arrow')
block rightBar
    .pc-page-title: h1 Как тратить бонусы
    .text-container.spend-bonuses
        p.fs20 Счет в Вашу пользу!
        img(src="./img/spend-bonuses.png")
        p Получать бонусы очень просто: они автоматически будут попадать на Вас бонусный счет. Спросите себя – как часто Вам говорят «спасибо» за то, что Вы посетили магазин? Согласитесь, что такое бывает крайне редко. Но теперь это будет происходить всегда! И даже более того — теперь любая Ваша покупка будет вырастать в нечто большее…
        p Всё это благодаря специальной бонусной программе – для Вас и всей Вашей семьи, а также для Ваших знакомых и друзей! Мы уверены, что наши совместные усилия сделают Ваше участие в бонусной программе легким и приятным.
        p При этом все, что нужно от Вас — это просто оставаться с нами и совершать покупки в магазинах и интернет-магазинах MARWIN, Комфорт» и «Меломан». За каждую покупку при использовании карты Бонусного клуба Вы получаете бонусы, которыми в дальнейшем сможете оплатить новый заказ. А при накоплении определенного количества бонусов их можно обменять на постоянную скидку в интернет-магазине «Меломан».
        p Вы становитесь участником бонусной программы с самого Вашего заказа, оформленного через нащи интернет-магазины или после покупки и предъявлении на кассе катры Бонусного клуба.
        p Ищите бонусы – и бонусы найдут Вас! На странице с изображением и описанием товара вместе с его стоимостью Вы сможете узнать, сколько бонусов Вы получите после его покупки и получения Вашего заказа.
        .steps-container
            .step
                span 1
                span Сделайте покупку
            .step
                span 2
                span Предьявите  карту
            .step
                span 3
                span Получите бонусы
            .step
                span 4
                span Платите бонусами
        p В информации о любом товаре можно подробно узнать, какое количество бонусов предоставляется при его покупке. Также эта информация доступна при непосредственном оформлении заказа. Внимание! Предоставление бонусов происходит только после оплаты и получения Вами заказанных товаров и перехода заказа в статус «Выполнен». При аннулировании всего заказа или выборочного товара из заказа бонусы за него также будут аннулированы. При возврате товара, независимо от причины возврата, начисленные за него бонусы снимаются с вашего личного счета. Вы также можете получить дополнительные бонусы, участвуя в маркетинговых акциях и выполняя их условия в интернет-магазина «Меломан». Условия получения бонусов будут уточняться индивидуально в соответствующих правилах этих маркетинговых акций. «Меломан» оставляет за собой право корректировки начисления количества бонусов в рамках проведения маркетинговых акций.
