include ../includes/variables
doctype html
html(lang='ru')
    block variables
        - var logged = false;
    include ../components/head
    body(class = logged ? 'logged' : 'not-logged')
        // Global baseUrl and webpackManifest variables (for back-end purpose)
        script.
            window.baseUrl = location.origin;
            window.webpackManifest = {
              "1": "js/chunks/385f8e01d31f5c4f4792.js",
              "2": "js/chunks/7a1814cdda834ac9d27b.js",
              "3": "js/chunks/03b29cfe291f3db3dced.js",
              "4": "js/chunks/f88525c7d37c6e153726.js"
            };
        include ../components/header
        block main
            main
        include ../components/footer
        include ../components/modals/common
        script(src=`js/index.bundle.js?v=${version}`)