/* PARTIALS */
@import 'partials/_mixins'
@import 'partials/_variables'
@import 'partials/_fonts'

/* LIBS */
@import 'libs/normalize-custom'
@import 'libs/perfect-scrollbar'
@import 'libs/datepicker'

/* COMPONENTS */
@import 'components/item'
@import 'components/forms'
@import 'components/dropDownBox'
@import 'components/map-baloons'

/* MAIN LIB */
@import 'pages/personal-cabinet'

/* DEFAULT STYLES */
html
body
  display: inline-block
  min-height: 100%
  width: 100%

html
  width 100%

main
  width 100%

// grey highlight on safari
*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-touch-callout none

// font rendering
html
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing grayscale
body
  text-rendering optimizeLegibility
  @media (max-width: 1024px)
    cursor pointer

// safari numbers color issue fix
a[href^=tel]
  color inherit
  text-decoration none

// remove autofill highlight
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important
}

// select
select
  -webkit-appearance none
  -moz-appearance none
  appearance none

// input type="number" - remove spins
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// remove button default styles
button
  border none

// class-helpers
.inline-middle
  position: relative
  display: inline-block
  vertical-align: middle
.full-height
  height 100%
.bold
  font-weight: bold
.fs20
  font-size: 20px
.fs16
  font-size: 16px
.pull-left
  float left
.pull-right
  float right
.hideSmall
  @media (max-width: 599px)
    display: none
.hideBig
  @media (min-width: 600px)
    display: none
.showSmall
  display: none
  @media (max-width: 599px)
    &:not(.inline)
      display: block
    &.inline
      display: inline-block
.hide767
  @media (max-width: 767px)
    display none
.show767
  display: none
  @media (max-width: 767px)
    &:not(.inline)
      display: block
    &.inline
      display: inline-block


/* CHECKBOX ITEM */
.checkbox {
  position: relative
  cursor: pointer
  margin-bottom: 10px!important

  span {
    width: auto !important

    margin-left: 5px

    text(proxima-reg, 13px, main-black, 30px)

    @media (min-width: 1280px) {
      line-height: initial
    }
  }

  input {
    setWH(10px!important)

    margin-right: 10px

    cursor: pointer
    opacity: 0
  }

  .checkbox-control {
    position: absolute

    setWH(15px)

    left: 0
    top: 3px

    z-index: 0

    border: 1px solid rgba(0,0,0,.3)
    border-radius: 3px

    background-color: white

    transition: background-color .2s ease, border-color .2s ease

    svg {
      display: block

      setWH(10px, 13px)

      margin-left: 2px

      fill: white
    }
  }

  input:checked + .checkbox-control {
    border-color: main-blue

    background-color: main-blue
  }
}

// VALIDATOR RESTYLE
label.incorrect .error {
  margin-top: 5px
}

// DATEPICKER RESTYLE
.datepicker--cell
  display inline-block
  text-align center
  &.datepicker--cell-day
    line-height 32px
  &.datepicker--cell-month
    line-height 42px
  &.datepicker--cell-year
    line-height 56px
