/* PARTIALS */
@import 'partials/_mixins'
@import 'partials/_variables'
@import 'partials/_fonts'

/* LIBS */
@import 'libs/normalize-custom'
@import 'libs/easy-autocomplete'
@import 'libs/owl-carousel'
@import 'libs/owl-theme-default'
@import 'libs/bootstrap-custom'
@import 'libs/ion.rangeSlider'
@import 'libs/perfect-scrollbar'
@import 'libs/preloader'

/* COMPONENTS */
@import 'components/common'
@import 'components/footer'
@import 'components/header'
@import 'components/menu'
@import 'components/modals'
@import 'components/forms'
@import 'components/item'
@import 'components/dropDownBox'
@import 'components/cart-container'
@import 'components/filters'
@import 'components/map-baloons'
@import 'components/calendar.svg'

/* PAGES */
@import 'pages/main'
@import 'pages/catalog'
@import 'pages/filter'
@import 'pages/product'
@import 'pages/cart'
@import 'pages/registration'
@import 'pages/search'
@import 'pages/news'
@import 'pages/calendar'
@import 'pages/static-pages'
@import 'pages/shops'

//  Show different interfaces ( styles ) for logged / not logged users
//  ( can be easily changed for another mechanics by changing styles below )
.user-not-logged
.user-logged
  display: none
body
  &.logged
    .user-logged
      display: block
  &.not-logged
    .user-not-logged
      display: block

/* DEFAULT STYLES */

html
  width 100%

main
  display inline-block
  width 100%

// grey highlight on safari
*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-touch-callout none

// font rendering
html
  -webkit-font-smoothing subpixel-antialiased
  -moz-osx-font-smoothing grayscale
body
  text-rendering optimizeLegibility
  @media (max-width: 1024px)
    cursor pointer

// fixed header on mobile devices
@media (max-width: 599px)
  main
    padding-top: 154px

// active search input
body.input-active
    .header-search__wrapper
      border-color: main-blue

// fixed header on scroll
@media (max-width: 599px)
  body.header-small
    header
      .header-main
        padding-top: 0
        height: 65px
      .header-logo
        opacity: 0

// prevent y-axis scrollbar
body
  overflow-x: hidden
  width: 100%
  min-height: 100vh
input
  border none
  outline none

// safari numbers color issue fix
a[href^=tel]
  color inherit
  text-decoration none

// iPhone4 menu scroll fix
body.iphone4fix
  #main-menu
  .category-secondLevel-container
  .category-thirdLevel-container
    -webkit-overflow-scrolling auto

// remove autofill highlight
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important
}

// input type="number" - remove spins
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// remove button default styles
button
  border none

// help classes
.text-main-black
  color: main-black
.inline-middle
  display: inline-block
  vertical-align: middle
.inline-bottom
  display: inline-block
  vertical-align: bottom
.full-height
  height: 100%
.clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both
.pull-left
  float: left
.pull-right
  float: right
.clear-both
  clear: both
.relative
  position: relative
.zero-height
  height: 0

// classes to hide/show elements
.hidden-lessThen-802
  @media (max-width: 802px)
    display: none !important
.hidden-lessThen-1921
  @media (max-width: 1921px)
    display: none !important
.hidden-large
  @media (min-width: 1741px)
    display: none !important
.hidden-middle
  @media (max-width: 1740px)
    display: none !important
.hidden-small
  @media (max-width: 1279px)
    display: none !important
.hidden-landscape
  @media (max-width: 1023px)
    display: none !important
.hidden-portrait
  @media (max-width: 767px)
    display: none !important
.shown-portrait
  display: none!important
  @media (max-width: 767px)
    display: block!important
.hidden-mobile
  @media (max-width: 599px)
    display: none !important
.shown-mobile-inline
  display: none
  @media (max-width: 599px)
    display: inline-block !important
.shown-mobile
  display: none
  @media (max-width: 599px)
    display: block !important
.shown-small
  display: none
  @media (max-width: 1279px)
    display: block !important
.shown-extra-small
  display: none !important
  @media (max-width: 599px)
    display: block !important
.shown-extra-small-inline
  display: none!important
  @media (max-width: 599px)
    display: inline-block !important
.hide700
  @media (max-width: 700px)
    display: none

/* CODE FOR CALENDAR DEVELOPMENT */
/*
header,
footer,
.left-bar,
section:not(#calendar) {
  display: none !important
}

.right-bar {
  margin-left: 0!important
  margin-right: 0!important
  float: left!important
  width: 100%!important
}*/
