header,
footer,
.breadcrumbs,
h1,
.order-info span:not(:last-child),
.cart-main-header,
.checkout-button,
.registration-subscribe-form,
.print-order-button,
#__bs_notify__ {
    display: none !important;
}

.cart-count-column,
.cart-price-column {
    margin-top: -60px !important;

    height: 50px;
    padding: 0;
}

.cart-count-column {
    margin-right: 200px
}

.cart-main,
.cart-main-container {
    margin-top: 0 !important;
}

.cart-item-title {
    max-width: 500px!important
}

.cart-main .cart-price-column {
    position: absolute!important;
    right: 15px!important;
    bottom: 13px!important;
}